<div class="modal-header">
    <h3 class="modal-title custom">Create New Project</h3>
</div>

<div class="modal-body envModal">
    <form class="form-horizontal form-compact" name="projInfoForm" role="form" ng-submit="vm.createProj()">
        <div class="form-group">
            <label class="control-label col-sm-3" >Name: <span class="red">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control sm" required="" id="apiProjName" placeholder="Project Name" ng-model="vm.proj.title" maxlength="70">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" >Version: <span class="red">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control sm" required="" placeholder="Initial Project Version" ng-model="vm.proj.version">
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" >Description: </label>
            <div class="col-sm-8">
                <textarea class="form-control" ng-model="vm.proj.description" placeholder="A short description of the application. Markdown supported."></textarea>
            </div>
        </div>
        <div ng-show="vm.flags.showAddLic">
            <div class="form-group">
                <label class="control-label col-sm-3" >License Name: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control sm" placeholder="The license name used for the API" ng-model="vm.proj.license.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" >License URL: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control sm" placeholder="A URL to the license used for the API" ng-model="vm.proj.license.url">
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-3" >Terms of service</label>
            <div class="col-sm-8">
                <input type="text" class="form-control sm" placeholder="A URL to the Terms of Service for the API" ng-model="vm.proj.termsOfService">
            </div>
        </div>
        <div ng-show="vm.flags.showAddContact">
            <div class="form-group">
                <label class="control-label col-sm-3" >Contact Name: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control sm" placeholder="The identifying name of the contact person/organization" ng-model="vm.proj.contact.name">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" >Contact URL: </label>
                <div class="col-sm-8">
                    <input type="text" class="form-control sm" placeholder="The URL pointing to the contact information" ng-model="vm.proj.contact.url">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" >Contact email: </label>
                <div class="col-sm-8">
                    <input type="email" class="form-control sm" placeholder="The email address of the contact person/organization" ng-model="vm.proj.contact.email">
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-5 pull-right">
                <button type="button" class="btn btn-link btn-sm" ng-hide="vm.flags.showAddLic"
                        ng-click="vm.flags.showAddLic = true">Add License Info</button>
                <button type="button" class="btn btn-link btn-sm" ng-hide="vm.flags.showAddContact"
                        ng-click="vm.flags.showAddContact = true">Add Contact Info</button>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-5">
                <input type="submit" class="btn btn-primary btn-themed btn-sm" ng-disabled="projInfoForm.$invalid" value="Create">
                <button type="button" class="btn btn-link btn-sm" ng-click="closeProjInfoModal()">Cancel</button>
            </div>
        </div>
    </form>
</div>