<div>
    <div class="add-btns"
        [ngStyle]="{left:tabs.length>overFlowtabsCount?'auto': (tabs.length*170)+'px',right:tabs.length<=overFlowtabsCount?'auto': '0px'}"
        style="--data-count:{{tabs.length}}">
        <button mat-button (click)="addReqTab()">
            <mat-icon class="sm">add</mat-icon>
        </button>
        <button mat-button class="ws" (click)="addWsTab()">
            <i class="icon bj-websocket"></i>ws {{overFlowtabsCount}}
        </button>
    </div>
    <mat-tab-group animationDuration="0ms" class="test-tabs" [selectedIndex]="selectedTabIndex">
        <mat-tab *ngFor="let tab of tabs; trackBy:trackbyFn;let i=index" [ngSwitch]="tab.type">
            <ng-template mat-tab-label>
                <div class="tab-label">
                    <i *ngSwitchCase="'req'" class="tab-icon icon bj-embed2"></i>
                    <i *ngSwitchCase="'ws'" class="tab-icon icon bj-websocket"></i>
                    {{tab.name}}
                    <mat-icon *ngIf="tabs.length>1" class="tab-close" (click)="closeTab(i,$event)">close</mat-icon>
                </div>
            </ng-template>
            <div>
                <app-tab-request *ngSwitchCase="'req'"></app-tab-request>
                <app-tab-socket *ngSwitchCase="'ws'"></app-tab-socket>
            </div>
        </mat-tab>
    </mat-tab-group>
</div>