<div class="content">
    <div class="submodMenu">
        <div class="submodMenuOptn">
            <button type="button" type="button" class="sm gap" mat-raised-button color="primary"
                (click)="generateApis()">Generate AIPs</button>
            <button type="button" type="button" *ngIf="form.dirty" class="sm gap" mat-raised-button
                (click)="form.reset()">Reset</button>
        </div>
        <div class="tip"></div>
    </div>
    <h4 class="t_color head vcenter">
        <span class="gap">API builder:</span>
    </h4>
    <form class="form-horizontal" [formGroup]="form" id="builderForm">
        <div class="row">
            <label class="control-label col-md-2">Resource Name <span class="red">*</span></label>
            <div class="col-md-6">
                <input type="text" class="form-control" required="" id="crudName" placeholder="Resource Name ex: Dog"
                    maxlength="100" formControlName="name" (change)="getPathFromName()">
            </div>
        </div>
        <div class="row margB25">
            <label class="col-md-2 control-label">Resource Path <span class="red">*</span></label>
            <div class="col-md-6">
                <input type="text" class="form-control" required="" name="crudPath" placeholder="Resource path"
                    maxlength="100" formControlName="path">
            </div>
        </div>
        <div class="margB25">
            <div>Request/Input Model Schema:</div>
            <ng-jsonschema [models]="selectedPROJ.models" (onSchemaChange)="setDirty()" name="data"
                formControlName="input"></ng-jsonschema>
        </div>
        <div class="margB25">
            <div>Response/Output Model Schema:</div>
            <ng-jsonschema [models]="selectedPROJ.models" (onSchemaChange)="setDirty()" name="data"
                formControlName="output"></ng-jsonschema>
        </div>
    </form>
</div>