.tags {
    position: relative;
    overflow: auto;
    border-bottom: 2px solid var(--border-color);
    padding: 30px 10px;
}
.tags:nth-last-child(2) {
    border-bottom: none;
}
.topLeft {
    position: absolute;
    left: 0;
    top: 10px;
}
fieldset {
    border: 1px dashed var(--border-color);
    margin-bottom: 10px;
    border-radius: 10px;
    legend {
        font-size: 14px;
    }
}
