<div class="modal-header">
    <h3 class="modal-title custom">Save Request</h3>
</div>
<div class="modal-body">
    <form role="form">
        <div class="form-group">
            <label for="saveModalName" class="bold">Request Name:</label>
            <input type="text" maxlength="40" class="form-control input-sm" id="saveModalName" placeholder="Name" ng-model="vm.SaveModalModel.name">
        </div>
        <div class="form-group">
            <label for="saveDesc" class="bold">Request Description:</label>
            <textarea class="form-control input-sm" placeholder="Description" id="saveDesc" ng-model="vm.SaveModalModel.description"></textarea>
        </div>
        <div class="form-group" ng-hide="vm.SaveModalModel.inEdit">
            <label for="root-folder" class="bold">Select a folder to save:</label>
            <div style="width: 500px;position: relative;max-height: 350px;overflow: auto">
                <div style="width: 470px">
                    <div ng-repeat="folder in vm.Folders|orderBy: 'name'" ng-init="folder.expanded=true"style="position: relative;">
                        <a href><i class="glyphicon tree-ctrl" ng-if="folder.children.length>0" ng-class="folder.expanded?'glyphicon-minus':'glyphicon-plus'" ng-click="folder.expanded = !folder.expanded"></i></a>
                        <button class="btn btn-link folder-select" ng-click="vm.SaveModalModel.selectedFolder=folder._id" ng-class="{active:vm.SaveModalModel.selectedFolder==folder._id}">
                            <i class="glyphicon glyphicon-folder-open"></i>{{folder.name}}
                        </button>
                        <div style="margin-left: 30px;" ng-show="folder.expanded">
                            <button class="btn btn-link folder-select" ng-repeat="subfolder in folder.children"  ng-click="vm.SaveModalModel.selectedFolder=subfolder._id" ng-class="{active:vm.SaveModalModel.selectedFolder==subfolder._id}">
                                <i class="glyphicon glyphicon-folder-open"></i>
                                {{subfolder.name}}
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="vm.Folders.length == 0">No folders to select.</div>
        </div>
    </form>




</div>
<div class="modal-footer">
    <button class="btn btn-link btn-sm" type="button" ng-click="vm.closeSaveReqModal()">Cancel</button>
    <button class="btn btn-primary btn-themed btn-sm" type="button" ng-click="vm.beforeSaveRequest()">Save</button>
</div>

