<div class="dashboard app-body">
    <div class="dash-leftMenu">
        <ul class="db-menu">
            <li class="db-menu-item"><a href="" [routerLink]="['./']" routerLinkActive="active"
                    [routerLinkActiveOptions]="{ exact: true }">
                    <mat-icon>dashboard</mat-icon> Dashboard
                </a></li>
            <li class="db-menu-item"><a href="" [routerLink]="['teams']" routerLinkActive="active">
                    <mat-icon>groups</mat-icon>Teams
                </a></li>
            <li class="db-menu-item"><a href="" [routerLink]="['puslishedDocs']" routerLinkActive="active">
                    <mat-icon>cloud_upload</mat-icon> Published Docs
                </a></li>
            <li class="db-menu-item"><a href="" [routerLink]="['account']" routerLinkActive="active">
                    <mat-icon>person</mat-icon> Account
                </a></li>
        </ul>
    </div>

    <div class="dash-cont">
        <router-outlet></router-outlet>
    </div>
</div>