.dash-leftMenu {
    position: absolute;
    left: 0;
    width: 250px;
    top: 0px;
    bottom: 0;
    overflow: auto;

    .db-menu {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    .db-menu-item {
        display: block;
        margin: 0;
        font-size: 18px;
        font-family: apic-font;
        color: #464646;
        a {
            text-decoration: none;
            display: inline-block;
            width: 100%;
            padding: 10px 15px;
            display: flex;
            align-items: center;
        }
        a:hover {
            /*background-color: #f7f7f7;*/
            color: var(--accent-color);
        }
        a.active {
            color: var(--accent-color);
            background-color: var(--content-bg-contrast);
        }
        mat-icon {
            // font-size: 20px;
            margin-right: 15px;
            /*vertical-align: middle;*/
        }
    }
}
.dash-cont {
    position: absolute;
    left: 250px;
    top: 2px;
    right: 0;
    bottom: 0;
    overflow: auto;
    padding: 10px;
}
:host ::ng-deep {
    h4.head {
        margin-top: 0;
        font-size: 26px;
        font-family: apic-font;
        padding-bottom: 20px;
        width: 400px;

        &:hover {
            text-decoration: none;
        }
    }
    .panel-title {
        font-size: 16px;
    }
    .table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 10px;
    }
    .apic-table > thead > tr > th,
    .apic-table > tbody > tr > td {
        border-top: 0;
        border-bottom: 1px solid var(--border-color);
        padding: 10px 22px;
    }
    .apic-table.table-hover > tbody > tr:hover {
        background-color: var(--main-bg);
    }
    .apic-table > thead > tr > th {
        padding: 10px 15px;
        text-align: left;
    }
    .apic-table.narrow > tbody > tr > td {
        padding: 2px 15px;
    }
    .child-route {
        border-left: 1px solid var(--border-color);
    }
    .childMenu {
        max-width: 250px;
    }
}
