.header {
    position: fixed;
    width: 100%;
    z-index: 1;
    background-color: var(--header-bg);
    height: 50px;
}

.header-cont {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    white-space: nowrap;
}
.logo {
    position: relative;
    width: 220px;
    height: 50px;
}
.logo-img {
    width: 47px;
    top: -9px;
    position: relative;
    left: 10px;
}
.logo-text {
    font-family: apic-font;
    line-height: 40px;
    color: var(--text-color);
    font-size: 44px;
    margin-left: 10px;
    font-weight: bold;
}
.module-icon {
    color: var(--text-color);
    font-size: 26px;
    text-decoration: none;
    display: inline-block;
    padding: 6px 4px;
    line-height: 36px;
    text-align: center;
    width: 45px;
    height: 45px;
    border: 1px solid #757575;
    background: rgba(0, 0, 0, 0.06);
    vertical-align: text-top;
    border-radius: 50%;
    margin: 0 2px;
}
.module-icon.active {
    border: none;
    color: var(--accent-bg-text) !important;
    background: var(--accent-color) !important;
}
.designer-ico {
    font-size: 34px;
    width: 34px;
    height: 34px;
}
.header-right {
    margin-top: 10px;
    margin-right: 10px;
}
.bj-github {
    font-size: 20px;
    vertical-align: middle;
    margin-right: 14px;
}
.env-cont {
    background-color: var(--content-bg);
    border-radius: 5px;
    button:first-child {
        border-right: 1px solid var(--border-color);
        padding: 0 10px;
    }
}
.bj-donate {
    font-size: 16px;
}
.bj-ink {
    font-size: 20px;
    position: relative;
    top: -3px;
}
.avatar-cont {
    width: 40px;
    height: 40px;
    text-align: center;
    margin: -2px 2px 2px;
    position: relative;
    justify-content: center;
    margin-left: 10px;

    .avatar-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        transform: rotateZ(45deg);
        border-radius: 3px;
        background: var(--content-bg);
        box-shadow: 1px 1px 3px rgb(0 0 0 / 40%);
    }
    .avatar {
        border: 2px solid var(--text-color);
    }
    .avatar.connecting {
        border: 2px dashed #00d407;
        animation: spin 10s linear infinite;
    }
    .avatar.online {
        border: 2px solid #00d407;
    }
    .avatar.syncing {
        border: 2px solid #2196f3;
    }
    .avatar.offline {
        border: 2px solid #f9250f;
        animation-name: redPulse;
        animation-duration: 3s;
        animation-iteration-count: infinite;
        transform: scale(1);
    }
    .initial {
        font-size: 18px;
    }
}
.online {
    animation-name: greenPulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    border: 2px solid #00d407;
    transform: scale(1);
}
.syncing,
.connecting {
    animation-name: bluePulse;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    border: 2px solid #2196f3;
}
.agent {
    border-width: 1px !important;
}
.mat-menu-item {
    text-decoration: none;
}
.mat-menu-item.t_bg:hover {
    background: var(--accent-color) !important;
}
.greet {
    color: var(--accent-color);
    padding: 2px 12px 0px;
}
:host ::ng-deep {
    .mat-badge-content {
        right: -2px !important;
        top: 0px !important;
    }
}
@keyframes spin {
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes greenPulse {
    0% {
        box-shadow: 0 0 1px #00d407;
    }
    50% {
        box-shadow: 0 0 18px #00d407;
    }
    100% {
        box-shadow: 0 0 1px #00d407;
    }
}

@keyframes bluePulse {
    0% {
        box-shadow: 0 0 1px #2196f3;
        transform: scale(1);
    }
    50% {
        box-shadow: 0 0 10px 3px #2196f3;
        transform: scale(1.1);
    }
    100% {
        box-shadow: 0 0 1px #2196f3;
        transform: scale(1);
    }
}

@keyframes redPulse {
    0% {
        box-shadow: 0 0 1px #f9250f;
    }
    50% {
        box-shadow: 0 0 18px #f9250f;
    }
    100% {
        box-shadow: 0 0 1px #f9250f;
    }
}

.win-bar {
    /* display: none; */
    height: 25px;
    background: var(--header-bg);
    cursor: move;
    -webkit-user-select: none;
}
.win-title-bar-btns {
    margin-top: -25px;
    cursor: default;
    -webkit-app-region: no-drag;
}
.win-btn {
    background-color: var(--header-bg);
    border: none;
    width: 40px;
    color: var(--text-color);
    padding-top: 4px;
}
.win-min-btn:hover,
.win-max-btn:hover {
    background-color: var(--content-bg);
}
.win-close-btn:hover {
    background-color: #f9250f;
    color: white;
}
.mac-title-bar-btns {
    position: absolute;
    padding: 3px;
    -webkit-app-region: no-drag;
}
.mac-btn {
    border: none;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    text-align: center;
}
.mac-btn.mac-max-btn {
    background: #33c949;
}
.mac-btn.mac-min-btn {
    background: #fdbd41;
}
.mac-btn.mac-close-btn {
    background: #fd5652;
}
.win-title{
    margin-left: 70px;
    -webkit-app-region: drag;
}
.agent-grp {
    width: 30px;
    transition: width 0.3s;
    border-radius: 20px;
    position: relative;
    &:hover {
        .exp {
            display: block;
        }
    }
    &.open {
        border: 1px solid var(--border-color);
        width: 90px;
        .agent-setting,
        .exp,
        .agent-help {
            display: block;
        }
    }
    .agent-setting,
    .agent-help {
        display: none;
    }
    .agent-help {
        .mat-icon {
            line-height: 28px;
        }
    }
    .exp {
        position: absolute;
        left: -14px;
        display: none;
        cursor: pointer;
        top: 2px;
    }
}
