<label>{{options.label}}</label>
<div *ngFor="let item of items; trackBy: trackByIndex; let i = index" class="vcenter">
    <mat-checkbox *ngIf="options.itemType === 'object'" class="gap" [ngModel]="(item|asApicListItemObj).active"
        (ngModelChange)="toggle(i)"></mat-checkbox>
    <span *ngIf="options.itemType === 'object'">{{(item|asApicListItemObj).name}}</span>
    <span *ngIf="options.itemType === 'string'">{{item}}</span>
    <button mat-icon-button class="sm remove red" *ngIf="!(item|asApicListItemObj).readonly" (click)="remove(i)">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div class="input-group margV5">
    <apic-rich-input class="form-control" placeholder="Add new" [(ngModel)]="newItem"
        (keydown.enter)="add(); $event.stopPropagation();$event.preventDefault()"></apic-rich-input>
    <span class="input-group-btn">
        <button class="sm" type="button" mat-icon-button (click)="add()">
            <mat-icon>add</mat-icon>
        </button>
    </span>
</div>