<div class="tab-content">
    <div class="ctrls">
        <button mat-icon-button class="t_color" matTooltip="Import APIs" (click)="importFolder()"
            matTooltipPosition="left">
            <mat-icon>transit_enterexit</mat-icon>
        </button>
        <button mat-icon-button class="t_color" (click)="showFolderForm()" matTooltip="New folder"
            matTooltipPosition="left">
            <mat-icon>create_new_folder</mat-icon>
        </button>
        <button mat-icon-button class="t_color" matTooltip="Search" matTooltipPosition="left" (click)="showSearch()">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="input-group search-box req-search" [ngClass]="{'visible':flags.showSearch}">
        <input type="search" placeholder="Search history" id="req-search" class="form-control"
            [(ngModel)]="flags.searchModel">
        <button mat-icon-button class="red sm"
            (click)="flags.showSearch = false;flags.searchModel='';flags.expandAll=false">
            <mat-icon>highlight_off</mat-icon>
        </button>
    </div>
    <div class="new-folder" *ngIf="flags.newFolder;">
        <form [formGroup]="newFolderForm">
            <div class="input-group margB5">
                <input type="text" maxlength="30" class="form-control" formControlName="name" placeholder="Folder Name"
                    (keydown.enter)="createFolder()" id="newFolderName" />
                <span class="input-group-btn">
                    <button mat-icon-button class="green sm" (click)="createFolder();"
                        [disabled]="newFolderForm.invalid" title="Create" type="button">
                        <mat-icon>done_outline</mat-icon>
                    </button>
                    <button mat-icon-button (click)="flags.newFolder= false;newFolderForm.reset()" class="red sm"
                        title="Cancel">
                        <mat-icon>close</mat-icon>
                    </button>
                </span>
            </div>
            <div class="form-group">
                <textarea class="form-control" formControlName="desc" placeholder="Description..."></textarea>
            </div>
            <div style="margin: 10px 5px;">
                <label>Select a parent folder</label>
                <apic-tree-selector [items]="folders$ |async" formControlName="parentId"
                    [options]="{showChildren:false, addRoot:true}"></apic-tree-selector>
            </div>

        </form>
    </div>
    <div [ngClass]="{searching:flags.showSearch}">
        <div class="c_color reqSection" (click)="flags.projReqs = !flags.projReqs">
            Requests from API Projects
            <mat-icon *ngIf="flags.projReqs" class="pull-right">expand_more</mat-icon>
            <mat-icon *ngIf="!flags.projReqs" class="pull-right">chevron_right</mat-icon>
        </div>
        <div *ngIf="flags.projReqs">
            <div *ngFor="let project of projectsTree$ |async">
                <ng-container [ngTemplateOutlet]="FolderRef"
                    [ngTemplateOutletContext]="{folder: project, type:'project', projId:project._id}">
                </ng-container>
                <div class="sub-folder" [hidden]="!flags.expanded[project._id] && !flags.expandAll">
                    <div *ngFor="let subfolder of project.children">
                        <ng-container [ngTemplateOutlet]="FolderRef"
                            [ngTemplateOutletContext]="{folder: subfolder, type:'project', projId:project._id}">
                        </ng-container>
                        <div class="sub-folder" [hidden]="!flags.expanded[subfolder._id] && !flags.expandAll">
                            <div *ngFor="let req of subfolder.requests|filter:flags.searchModel:['name', 'url']"
                                class="savedReq" matRipple (click)="openProjectRequest(req._id, project._id)"
                                [ngClass]="{active:req._id === selectedTabId}">
                                <ng-container [ngTemplateOutlet]="ReqRef"
                                    [ngTemplateOutletContext]="{req: req, type:'project', projId:project._id}">
                                </ng-container>
                            </div>
                            <span *ngIf="subfolder.requests?.length == 0" class="empty">empty folder</span>
                        </div>
                    </div>
                    <div *ngFor="let req of project.requests|filter:flags.searchModel:['name', 'url']"
                        (click)="openProjectRequest(req._id, project._id)" class="savedReq" matRipple
                        [ngClass]="{active:req._id === selectedTabId}">
                        <ng-container [ngTemplateOutlet]="ReqRef"
                            [ngTemplateOutletContext]="{req: req, type:'project', projId:project._id}">
                        </ng-container>
                    </div>
                    <span *ngIf="project.requests?.length == 0 && project.children?.length == 0" class="empty">empty
                        folder</span>
                </div>
            </div>
        </div>
        <div class="c_color reqSection" (click)="flags.savedReqs = !flags.savedReqs">
            Saved Requests
            <mat-icon *ngIf="flags.savedReqs" class="pull-right">expand_more</mat-icon>
            <mat-icon *ngIf="!flags.savedReqs" class="pull-right">chevron_right</mat-icon>
        </div>
        <div *ngIf="flags.savedReqs">
            <div *ngFor="let folder of folders$ |async">
                <ng-container [ngTemplateOutlet]="FolderRef" [ngTemplateOutletContext]="{folder: folder, type:'saved'}">
                </ng-container>

                <div class="sub-folder" [hidden]="!flags.expanded[folder._id] && !flags.expandAll">
                    <div *ngFor="let subfolder of folder.children">
                        <ng-container [ngTemplateOutlet]="FolderRef"
                            [ngTemplateOutletContext]="{folder: subfolder, type:'saved'}">
                        </ng-container>
                        <div class="sub-folder" [hidden]="!flags.expanded[subfolder._id] && !flags.expandAll">
                            <div *ngFor="let req of subfolder.requests|filter:flags.searchModel:['name', 'url']"
                                class="savedReq" matRipple (click)="openSavedRequest(req)"
                                [ngClass]="{active:req._id === selectedTabId}">
                                <ng-container [ngTemplateOutlet]="ReqRef"
                                    [ngTemplateOutletContext]="{req: req, type:'saved'}">
                                </ng-container>
                            </div>
                            <span *ngIf="subfolder.requests?.length == 0" class="empty">empty folder</span>
                        </div>
                    </div>
                    <div *ngFor="let req of folder.requests|filter:flags.searchModel:['name', 'url']"
                        (click)="openSavedRequest(req)" class="savedReq" matRipple
                        [ngClass]="{active:req._id === selectedTabId}">
                        <ng-container [ngTemplateOutlet]="ReqRef" [ngTemplateOutletContext]="{req: req, type:'saved'}">
                        </ng-container>
                    </div>
                    <span *ngIf="folder.requests?.length == 0 && folder.children?.length == 0" class="empty">empty
                        folder</span>
                </div>
            </div>
            <div class="msg" *ngIf="(folders$ |async)?.length == 0">Nothing saved.<br />Please <a class="t_color" href
                    (click)="$event.preventDefault();showFolderForm()">Create a folder</a> to save requests
            </div>
        </div>
    </div>
</div>
<div class="tree-select-dialog" *ngIf="treeSelectorOpt.show">
    <left-menu-tree-selector [options]="treeSelectorOpt.options" [items]="treeSelectorOpt.items"
        (onClose)="this.treeSelectorOpt.show = false" (onDone)="treeSelectorOpt.onDone($event)">
    </left-menu-tree-selector>
</div>

<ng-template #FolderRef let-folder="folder" let-type="type" let-projId="projId">
    <div class="folder" (click)="toggleExpand(folder._id)"
        [ngClass]="(flags.expanded[folder._id] || flags.expandAll)?'opened':'closed'">
        <div class="l-sec">
            <mat-icon class="shared" *ngIf="!!folder.owner && folder.owner!=authUser?.UID" matTooltip="Shared with you">
                share</mat-icon>
            <i class="icon  bj-folder"
                [ngClass]="(flags.expanded[folder._id] || flags.expandAll)?'bj-folder-open':'bj-folder'"></i>
        </div>
        <div class="folder-name m-sec">
            <div class="f-name">
                <span *ngIf="rename._id !== folder._id">{{folder.name}}</span>
                <span *ngIf="rename._id == folder._id">
                    <input id="folder_{{folder._id}}" class="form-control" (keydown.escape)="rename._id=''"
                        (keydown.enter)="saveFolderRename()" [(ngModel)]="rename.name"
                        (click)="$event.stopPropagation()" /></span>
                <span *ngIf="flags.unsharingId == folder._id" class="spinner"></span>
            </div>
        </div>
        <div class="r-sec ">
            <button mat-icon-button [matMenuTriggerFor]="folderMenu" (click)="$event.stopPropagation()"
                [ngClass]="{t_bg:e.menuOpen}" #e="matMenuTrigger" *ngIf="!flags.showSearch">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #folderMenu="matMenu">
                <div *ngIf="type=='saved'">
                    <button mat-menu-item (click)="convertFolderToSuite(folder, type)">
                        <span class="icon bj-lab" style="margin-right: 25px;"></span> Convert to test suite
                    </button>
                    <button mat-menu-item (click)="showRename(folder)">
                        <mat-icon>edit</mat-icon> Rename
                    </button>
                    <button mat-menu-item (click)="$event.stopPropagation()">
                        <mat-icon>topic</mat-icon> View/Edit folder detail
                    </button>
                    <button mat-menu-item (click)="shareFolder(folder)"
                        *ngIf="folder.owner == authUser?.UID && !folder.team">
                        <mat-icon>share</mat-icon> Share
                    </button>
                    <button mat-menu-item class="sm" *ngIf="folder.team && folder.owner === authUser?.UID"
                        (confirm-click)="unshareFolder(folder)" confirm="Do you want to unshare this folder?"
                        confirmTitle="Unshare Folder" confirmOk="Unshare">
                        <span class="icon bj-unshare f18 red" style="margin-right: 22px;"></span> Unshare:
                        {{teams[folder.team]?.name}}
                    </button>
                    <button mat-menu-item (click)="downloadFolder(folder._id)">
                        <mat-icon>download</mat-icon> Export
                    </button>
                    <button mat-menu-item
                        confirm="Do you want to delete this folder, all subfolders and requests under it?"
                        confirmTitle="Delete Confirmation" confirmOk="Delete" (confirm-click)="deleteFolder(folder);">
                        <mat-icon class="red">delete</mat-icon> Delete
                    </button>
                </div>
                <div *ngIf="type=='project'">
                    <button mat-menu-item (click)="convertFolderToSuite(folder, type, projId)">
                        <span class="icon bj-lab" style="margin-right: 25px;"></span> Convert to test suite
                    </button>
                    <button mat-menu-item (click)="downloadProjectFolder(folder, projId)">
                        <mat-icon>download</mat-icon> Export
                    </button>
                </div>
            </mat-menu>
        </div>
    </div>
</ng-template>

<ng-template #ReqRef let-req="req" let-type="type" let-projId="projId">
    <div class="l-sec">
        <div class="method" [ngClass]="req.method"></div>
    </div>
    <div class="m-sec name">
        {{req.name}}
    </div>
    <div class="r-sec">
        <button mat-icon-button [matMenuTriggerFor]="reqManu" (click)="$event.stopPropagation()"
            [ngClass]="{t_bg:e.menuOpen}" #e="matMenuTrigger">
            <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #reqManu="matMenu">
            <div *ngIf="type=='saved'">
                <button mat-menu-item (click)="addRequestToSuite(req, type)">
                    <mat-icon>code</mat-icon> Add to test suite
                </button>
                <button mat-menu-item (click)="initCopyMove('copy', req._id, req.name)">
                    <mat-icon>file_copy</mat-icon> Copy to
                </button>
                <button mat-menu-item (click)="initCopyMove('move', req._id, req.name)">
                    <mat-icon>content_cut</mat-icon> Move to
                </button>
                <button mat-menu-item (click)="duplicateReq(req._id)">
                    <mat-icon>content_copy</mat-icon> Duplicate
                </button>
                <button mat-menu-item (click)="editReq(req._id)">
                    <mat-icon>edit</mat-icon> Edit
                </button>
                <button mat-menu-item confirm="Do you want to delete this Request?" confirmTitle="Delete Confirmation"
                    confirmOk="Delete" (confirm-click)="deleteRequest(req._id, req.name, req.owner)">
                    <mat-icon class="red">delete</mat-icon> Delete
                </button>
            </div>
            <div *ngIf="type=='project'">
                <button mat-menu-item (click)="addRequestToSuite(req, type, projId)">
                    <mat-icon>code</mat-icon> Add to test suite
                </button>
            </div>
        </mat-menu>
    </div>
</ng-template>