<div class="modal-header">
    <h3 class="modal-title custom">Settings</h3>
</div>

<div class="modal-body settingsModal custom">
    <div>
        <div class="envCont">
            <div class="envList">
                <ul>
                    <li ng-repeat="optn in vm.settingOptns" ng-class="{active:optn.name === vm.selectedSetting.name}">
                        <a href ng-click="vm.selectSetting(optn)" class="btn btn-link custom" >{{optn.name}}</a>
                    </li>
                </ul>
            </div>
            <div class="envVals" >
                <div class="name">
                    <span>{{vm.selectedSetting.name}}</span>
                </div>
                <!-- <div class="envForm" ng-show="vm.selectedSetting.name == vm.settingOptns[0].name">
                    <form role="form" class="form-horizontal form-compact">
                        <div class="form-group">
                            <label class="control-label col-sm-5" for="timeout">Request timeout (sec):</label>
                            <div class="col-sm-7">
                                <input type="text" value="" id="basic-auth-uname" style="background: none" class="form-control sm" placeholder="Timeout duration in seconds">
                            </div>
                        </div>
                    </form>
                </div> -->
                
                <div class="envForm" ng-show="vm.selectedSetting.name == vm.settingOptns[0].name">
                    <div style="overflow: auto">
                        <div ng-click="switchTheme('light')" ng-style="{background:vm.themes.light['--header-bg']}" style="width:260px; height:90px;padding-top: 5px;border-top-left-radius: 6px;;float: left;position: relative;cursor: pointer;">
                            <div class="logo">
                                <img src="img/logo-tmp.png" class="logo-img"/>
                                <span class="logo-text"  ng-style="{color:vm.themes.light['--text-color']}">apic</span>
                            </div>
                            <div style="position: absolute;bottom: 0;padding:2px 5px;text-align: center;background: rgba(0,0,0,0.4);color: #fff;width: 100%;font-family: apic-font">Light</div>
                        </div>
                        <div ng-click="switchTheme('dark')" ng-style="{background:vm.themes.dark['--header-bg']}" style="width:260px; height:90px;padding-top: 5px;border-top-left-radius: 6px;;float: left;position: relative;cursor: pointer;margin-left: 5px">
                            <div class="logo">
                                <img src="img/logo-tmp.png" class="logo-img"/>
                                <span class="logo-text"  ng-style="{color:vm.themes.light['--text-color']}">apic</span>
                            </div>
                            <div style="position: absolute;bottom: 0;padding:2px 5px;text-align: center;background: rgba(0,0,0,0.4);color: #fff;width: 100%;font-family: apic-font">Dark</div>
                        </div>
                    </div>
                    <div style="margin-top:15px">
                        <h5>Accent colors</h5>
                        <div ng-click="switchTheme('',accent)" ng-repeat="accent in vm.themes.accents" style="width:80px;height:40px;float: left;cursor: pointer; background:{{accent}}"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>




</div>
<div class="modal-footer">
    <button class="btn btn-link btn-sm" type="button" ng-hide="vm.saveRequired" ng-click="closeSettingsModal()">Close</button>
    <span ng-show="vm.saveRequired">
        <button class="btn btn-link btn-sm" type="button"  ng-click="closeEnvModal()">Discard</button>
        <button class="btn btn-primary btn-themed btn-sm" type="button" ng-click="vm.saveEnvs()">Save</button>
        <button class="btn btn-primary btn-themed btn-sm" type="button" ng-click="vm.saveEnvs(true);">Save & Close</button>
    </span>
    
</div>