<div class="tag-editor" ng-class="{active:focus}" ng-init="focus = false" ng-click="setFocus = true">
	<div class="tag-draft">
		<span class="tag t_bg" ng-repeat="tag in tags track by $index" ng-if="type!=='string'">{{tag[config['val']]}}<span class="remove" ng-click="remove($index)">x</span></span>
                <span class="tag t_bg" ng-repeat="tag in tags track by $index" ng-if="type==='string'">{{tag}}<span class="remove" ng-click="remove($index)">x</span></span>
		<input type="hidden" name="tags" value="{{tags | getCol:options.output}}"/>
		<input type="text" class="tag-input" placeholder="{{placeholder}}" ng-focus="focus = true" ng-blur="focus  = false" focus-me="setFocus" ng-model="search"/>
	</div>
	<div class="tag-suggestions" ng-show="suggestions && focus">
            <span class="title">Available options:</span>
            <span ng-if="type=='object'">
                <a href="" class="tag" ng-repeat="tag in suggestions track by $index" ng-mousedown="add(tag[config['key']], tag[config['val']], true,$event)">{{tag[config['val']]}}</a>
            </span>
            <span ng-if="type=='string'">
                <a href="" class="tag" ng-repeat="tag in suggestions track by $index" ng-mousedown="add('', tag, true,$event)">{{tag}}</a>
            </span>
	</div>
</div>
