.tag-editor{display:block;position:relative;border-radius:3px;min-height:30px;overflow:hidden;font-size:16px;font-weight:normal;background-color:transparent;cursor:text;font-family:apic-font;font-size:16px;}
.tag-draft{} .tag-suggestions{display:block;}
.tag-editor .tag{display:inline-block;height:24px;margin:0 7px 0 0;background-color:#ffab40;color:#fff;padding:0 5px;border-radius:2px;font-size:14px;line-height:24px;cursor:default;transition:box-shadow 100ms linear;}
.tag-editor .tag:hover{box-shadow: 0 3px 3px rgba(0,0,0,0.2);}
.tag-editor .tag .remove{margin:0 0 0 5px;font-weight:bold;cursor:pointer;font-size: 11px;text-shadow: 1px 1px 3px #000;vertical-align: top;}
.tag-editor .tag-input{display:inline-block;margin:0;padding-left:5px;width: 100%}
.tag-editor .tag-input:focus{outline:none;}
.tag-editor.active{border-color:#aaa;}
.tag-editor .tag-suggestions{cursor:auto;}
.tag-editor .tag-suggestions .title{display:block;float:left;height:25px;margin:7px 7px 0 0;background-color:transparent;color:#888;font-weight:bold;padding:0 5px;font-size:14px;line-height:25px;}
.tag-editor .tag-suggestions .tag{cursor:pointer;background-color:#7a7a7a;}
