.treeSelector{
    padding: 10px;
    background: var(--content-bg);
    margin: 10px;
    /*border-radius: 5px;*/
}
.treeSelector .parent{
    display: block;
    width: 100%;
    padding: 4px 10px;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
}
.treeSelector .parent.active, .treeSelector .child.active{
    box-shadow: 0 0 10px var(--accent-shadow) inset;
}
.tschildCont{
    padding-left: 20px;
}
.treeSelector .child{
    display: block;
    width: 100%;
    border-bottom: 1px solid #ddd;
    padding: 2px 10px;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
}
.treeSelector .footer{
    padding: 10px;
    text-align: center;
}