.suit-req-edit .ace_editor.test_editor {
    height: calc(100vh - 480px);
}

.test_editor .ace_editor {
    min-height: 50px !important;
    height: calc(100vh - 300px);
}

.socket-editor .ace_editor {
    height: calc(100vh - 620px);
}

.ace_editor.Stomp-editor {
    height: calc(100vh - 490px);
}

.prerun-editor .ace_editor,
.postrun-editor .ace_editor {
    width: 100%;
    height: 150px;
}

.ace_definition,
.ace_type {
    color: #77baff;
}

.ace_search {
    background: var(--content-bg) !important;
}

.ace_search_field {
    background-color: var(--header-bg) !important;
}
