.vcenter {
  display: flex;
  align-items: center;
}
.vcenter.full-height {
  height: 100%;
}
.left-auto {
  margin-left: auto !important;
}
.autoFlow {
  overflow: auto;
}
.visibleFlow {
  overflow: visible !important;
}
.content {
  padding: 10px;
}
.contentH {
  padding: 0 10px;
}
.contentV {
  padding: 10px 0;
}
.center {
  text-align: center;
}
a:not(.t_color) {
  color: var(--text-color);
}
a:hover,
a:focus {
  text-decoration: underline;
}
.fixed {
  position: fixed;
}
.margL90 {
  margin-left: 90px;
}
.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.flex-right {
  margin-left: auto;
}
.main-body {
  position: absolute;
  width: 100%;
  background-color: var(--main-bg);
  right: 0;
  bottom: 0;
  left: 0;
  top: 50px;
}
.docs .app-body {
  overflow: auto;
}
.app-body {
  position: absolute;
  width: 100%;
  background-color: var(--main-bg);
  right: 0;
  bottom: 0;
  left: 0;
  top: 0;
}
.app-body .tab-container {
  margin: 0;
  padding: 5px 0 0 0;
  max-height: 40px;
  min-height: 10px;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.1);
  background: var(--header-bg);
  /* position: relative; */
  /* z-index: 1; */
}
.left-nav {
  position: absolute;
  width: 350px;
  z-index: 11;
  left: 0;
  top: 0;
  bottom: 0px;
  background: var(--content-bg);
}
.left-nav .mat-tab-body-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  top: 35px;
  right: 0;
}
.left-nav .nav-tabs {
  box-shadow: none;
  background: var(--header-bg);
}
.left-nav .tab-content {
  position: absolute;
  overflow: auto;
  bottom: 0;
  top: 0;
  right: 0px;
  left: 0;
  box-sizing: border-box;
}
.right-cont {
  position: absolute;
  background-color: var(--main-bg);
  right: 0;
  bottom: 0;
  left: 350px;
  top: 0;
}

h4.head {
  margin: 0;
  font-size: 26px;
  font-family: apic-font;
  padding-bottom: 15px;
  min-width: 400px;
}
.title {
  font-size: 26px;
  font-family: apic-font;
}
.title.sm {
  font-size: 20px;
}
.full-w {
  width: 100%;
}
.align-right {
  text-align: right !important;
}
.align-left {
  text-align: left !important;
}
.f20 {
  font-size: 20px;
}
.f18 {
  font-size: 18px;
}
.f16 {
  font-size: 18px;
}
.bold {
  font-weight: bold;
}
.block {
  display: block !important;
}
.pointer {
  cursor: pointer;
}
.margV10 {
  margin: 10px 0;
}
.margV5 {
  margin: 5px 0;
}
.margB10 {
  margin-bottom: 10px !important;
}
.margB25 {
  margin-bottom: 25px !important;
}
.margB5 {
  margin-bottom: 5px;
}
.nopad {
  padding: 0 !important;
}
.pad10 {
  padding: 10px !important;
}
.padV5 {
  padding: 5px 0 !important;
}
.flex {
  display: flex !important;
}
.flex-full {
  flex: 1;
}
.dashed-left {
  padding-left: 10px;
  border-left: 1px dashed var(--border-color);
}
.underline {
  text-decoration: underline !important;
}
.icon.gap,
.glyphicon.gap,
.gap {
  margin-right: 5px !important;
}
.gap-lg {
  margin-right: 40px;
}
.pull-right {
  float: right !important;
}
input.invalid-input,
input.ng-invalid:not(.ng-pristine) {
  box-shadow: inset 0 -1px 0 #f9250f !important;
  border: 1px solid #f9250f !important;
}
input.invalid-input:focus,
input.ng-invalid:not(.ng-pristine):focus {
  box-shadow: inset 0 -2px 0 #f9250f !important;
}
.title-txt {
  font-size: 16px;
  font-weight: bold;
}
.capitalize {
  text-transform: capitalize;
}
.card-list {
  display: flex;
  flex-flow: row wrap;
}
.card-list .cl-item {
  width: 240px;
  height: 100px;
  background-color: var(--content-bg) !important;
  box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  font-family: apic-font;
  font-size: 22px;
  overflow: hidden;
  margin: 15px 15px 15px 0;
  text-overflow: ellipsis;
  align-items: center;
  display: flex;
  justify-content: center;
  cursor: pointer;
  position: relative;
}
.cl-item-name {
  max-width: 240px;
  /* padding: 0 20px; */
  max-height: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.cl-item .cl-item-name,
.cl-item button {
  transform: scale(1);
  transition: transform 0.6s;
}
.cl-item:hover .cl-item-name,
.cl-item:hover button {
  transform: scale(1.1);
}
.btn-link {
  background: transparent;
  border: none;
  padding: 0 5px;
  cursor: pointer;
  color: var(--text-color);
}
.btn-link:hover {
  text-decoration: underline;
}
fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
fieldset.paper2 {
  border: 1px solid var(--border-color);
  padding: 5px 10px;
  margin-bottom: 20px;
  border-radius: 10px;
}

fieldset[disabled] textarea {
  cursor: not-allowed;
}
fieldset legend {
  color: var(--text-color);
  border: none;
  display: inline-block;
  padding: 0 10px;
  width: auto;
  margin: 0;
  font-size: 18px;
  cursor: pointer;
}
.paper {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease-in;
  background: var(--content-bg);
  padding: 5px 10px;
  border-radius: 10px;
  margin-bottom: 15px;
  margin-top: 10px;
  overflow: auto;
  &.danger {
    box-shadow: 0 0px 6px 0px rgb(244 67 54 / 90%);
  }
  &.visibleFlow {
    overflow: visible;
    .panel-title {
      margin-left: -10px;
      border-top-left-radius: 10px;
    }
  }
}
.paper:hover {
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.15);
}
.panel-flat {
  border: 1px solid var(--border-color);
  padding: 8px;
  margin-bottom: 20px;
  border-radius: 10px;
}
.panel-title {
  background: var(--accent-color);
  box-shadow: 2px 2px 4px var(--accent-shadow);
  color: var(--accent-bg-text);
  margin: 0px 0 3px -15px;
  font-size: 15px;
  padding: 6px 15px;
  min-width: 130px;
  position: relative;
  display: inline-block;
  top: -5px;
}
.panel-title:after {
  content: "";
  width: 0;
  position: absolute;
  height: 0;
  border-right: 27px solid transparent;
  right: -27px;
  top: 0;
  border-top: 28px solid var(--accent-color);
}
button.panel-fab,
a.panel-fab {
  position: absolute;
  right: 20px;
}
.icon-sm {
  width: 30px;
  line-height: 30px;
  height: 30px;
}
.mat-icon.tab-badge {
  font-size: 12px;
  height: 10px;
  color: var(--accent-color);
}
/****** folders ********/
.folder {
  display: flex;
  height: 44px;
  padding: 0 3px 0 6px;
  cursor: pointer;
  transition: height 0.3s;
}
.savedReq {
  display: flex;
  height: 40px;
  padding: 0 3px 0 6px;
  cursor: pointer;
  transition: height 0.3s;
  &.sm {
    height: 30px;
  }
}
.l-sec {
  width: 30px;
  flex: 0 0 30px;
  align-self: center;
  /* background-color: salmon; */
}
.savedReq .l-sec {
  width: 45px;
}
.m-sec {
  white-space: nowrap;
  flex: 1;
  align-self: center;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
  padding-left: 5px;
}
.r-sec {
  flex: 0 0 40px;
  align-self: center;
  &.three {
    flex: 0 0 120px;
  }
  &.two {
    flex: 0 0 80px;
  }
}
.l-sec .bj-folder {
  font-size: 22px;
}
.savedReq:hover {
  background: var(--main-bg);
  text-decoration: none;
}
.folder:hover {
  background: var(--main-bg);
}
.savedReq.active {
  border-left: 4px solid var(--accent-color);
  background: var(--content-bg-contrast);
  font-weight: bold;
}
.folder.opened {
  background: var(--main-bg);
  // border-left: 4px solid var(--accent-color);
}
.sub-folder {
  margin-left: 15px;
}
.method {
  font-size: 11px;
  width: 40px;
  height: 23px;
  text-align: center;
  font-weight: bold;
  border-radius: 4px;
  margin-left: 5px;
  line-height: 25px;
}
.GET {
  color: #2196f3 !important;
}
.POST {
  color: #13c20f !important;
}
.PUT {
  color: #ff9000 !important;
}
.PATCH {
  color: #ea005e !important;
}
.DELETE {
  color: #f9250f !important;
}
.OPTIONS {
  color: #bdc3c7;
}
.HEAD {
  color: #4ae597;
}
.TRACE {
  color: #bdc3c7;
}
.MODEL {
  color: #e3008c;
}
.TRAIT {
  color: #2196f3;
}
.Stomp,
.Socketio,
.SSE,
.Websocket {
  color: #ff8c00;
}
.method.GET:after {
  content: "GET";
}
.method.POST:after {
  content: "POST";
}
.method.PUT:after {
  content: "PUT";
}
.method.PATCH:after {
  content: "PATCH";
}
.method.DELETE:after {
  content: "DEL";
}
.method.OPTIONS:after {
  content: "OPTN";
}
.method.MODEL:after {
  content: "Model";
}
.method.TRAIT:after {
  content: "Trait";
}
.method.Stomp:after,
.method.Socketio:after,
.method.SSE:after,
.method.Websocket:after {
  content: "ws://";
}
.status.success,
.success,
.SUCCESS,
.ok,
.OK {
  color: var(--success);
}
.status.warning,
.warning,
.WARNING {
  color: var(--warn);
}
.status.error,
.error,
.ERROR {
  color: var(--error);
}
.status.info,
.info,
.INFO {
  color: var(--info);
}

.submodMenu {
  position: fixed;
  right: 0px;
  margin-top: -10px;
  padding: 0 0 0 45px;
  height: 43px;
  z-index: 21;
  background: transparent;
  overflow: hidden;
}
.submodMenu .submodMenuOptn {
  background: var(--header-bg);
  float: right;
  padding: 6px 15px;
  height: 40px;
  z-index: 22;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}
.submodMenu .tip {
  border-radius: 3px;
  width: 58px;
  height: 58px;
  background: var(--header-bg);
  transform: rotateZ(45deg);
  float: right;
  margin-top: -29px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: -1;
  left: 16px;
}
.submodMenu .bar {
  border-left: 1px solid #9e9e9e;
  margin: 0 10px;
  display: inline-block;
  min-height: 22px;
  vertical-align: middle;
}
/******* Form **********/
.form-horizontal .control-label {
  text-align: right;
  align-self: center;
}
.form-horizontal .control-label.top {
  text-align: right;
  align-self: flex-start;
}
.form-horizontal .control-label.full {
  text-align: left;
  align-self: center;
  margin-bottom: 10px;
}
input.form-control.sm {
  height: 22px;
}
select,
select.form-control,
textarea,
textarea.form-control,
input.form-control,
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
[type="text"].form-control,
[type="password"].form-control,
[type="email"].form-control,
[type="tel"].form-control,
[contenteditable].form-control,
.apic-editor {
  border-radius: 5px !important;
  box-shadow: none;
  background-color: transparent;
  padding: 0;
  padding-left: 4px;
  border: 1px solid var(--border-color);
  font-size: 14px;
}
select {
  padding: 5px;
}
select.form-control {
  padding: 5px 0;
}
select.sm {
  padding: 0;
}
input,
select,
textarea {
  color: var(--text-color-bold) !important;
}
.form-control {
  color: var(--text-color-bold) !important;
  display: block;
  width: 100%;
  height: 28px;
  background-image: none;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.form-control::placeholder {
  color: #bbbbbb;
  opacity: 1;
}
.form-control:focus {
  outline: 0;
}
.form-horizontal .row {
  margin-bottom: 8px;
}
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
[type="text"].form-control:focus,
[type="password"].form-control:focus,
[type="email"].form-control:focus,
[type="tel"].form-control:focus,
[contenteditable].form-control:focus,
select:focus .apic-editor-cont:focus-within,
.apic-editor:focus {
  box-shadow: inset 0 -2px 0 var(--accent-color);
}
textarea.form-control {
  height: 50px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
input.input-xs {
  font-size: 14px;
  height: 24px;
}
.btn-group {
  button {
    border-radius: 0;
    border: transparent;
  }
  button:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  button:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  &.toggle-group {
    button {
      border: 1px solid var(--border-color);
    }
  }
  &.stroked {
    button,
    a {
      border: 1px solid var(--border-color);
      border-radius: 0;
      &:last-child {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
      }
      &:first-child {
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
      }
    }
  }
  &.tab-group {
    &.sm {
      button {
        height: 28px;
        font-size: 12px;
        line-height: 28px !important;
      }
    }
    button {
      border-radius: 0;
    }
    button.active {
      border-bottom: 2px solid var(--accent-color);
    }
  }
  &.accent {
    button {
      border: 1px solid var(--accent-color);
    }
  }
}

.input-group {
  display: flex;

  .input-group-addon {
    background: #e9e9e9;
    align-self: center;
    border: 1px solid var(--border-color);
    padding: 3px 10px 4px 10px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: #666666;
  }
  .form-control:last-child {
    flex: 1;
    border-left: none;
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
  input.form-control:first-child {
    flex: 1;
    border-right: none;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
  }
  .input-group-btn {
    background-color: var(--accent-shadow);
    color: var(--text-color) !important;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}
.input-group.sm {
  height: 30px;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 6px;
  color: var(--accent-bg-text);
  line-height: 1;
  vertical-align: middle;
  background-color: var(--accent-color);
  border-radius: 10px;

  &.sm {
    font-size: 12px;
  }

  &.success {
    background: var(--success);
    color: #fff;
  }

  &.error {
    background: var(--error);
    color: #fff;
  }
}

/******** Modal**********/
.modal-title {
  border-top-left-radius: 10px;
  margin-top: -24px !important;
  font: 25px/37px apic-font;
  color: var(--accent-bg-text);
  padding: 0px 20px;
  width: 400px;
  margin-left: -25px !important;
  position: relative;
  display: inline-block;
  background: var(--accent-color);
  box-shadow: 2px 2px 4px var(--accent-shadow);
}
.modal-title:after {
  content: "";
  width: 0;
  position: absolute;
  height: 0;
  top: 0;
  border-right: 37px solid transparent;
  right: -37px;
  border-top: 37px solid var(--accent-color);
}
.envs-dialog .mat-dialog-container,
.settings-dialog .mat-dialog-container {
  padding-left: 0px;
}
/******** Modal end**********/

/************ Spinner ************/
.spinner {
  position: relative;
  width: 20px;
  display: inline-block;
  margin-left: 10px;
}
.spinner:after {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border: 3px solid var(--accent-color);
  border-radius: 50%;
  border-right-color: transparent;
  animation: labelLoaderAnim 0.5s linear infinite;
}
.spinner.wh:after {
  border: 3px solid #fff;
  border-right-color: transparent;
}
@keyframes labelLoaderAnim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/************* pulse ****************/
/********Notofications********/
div.mat-menu-panel.noti-panel {
  width: 400px !important;
  border-radius: 4px;
  max-height: 400px;
  padding: 5px;
  max-width: 400px;
  .noti-head {
    padding: 0 5px;
    font-family: apic-font;
    font-size: 16px;
    font-weight: bold;
  }
  .noti-body {
    max-height: 350px;
    overflow: auto;
  }
  .notification {
    padding: 0 5px;
    min-height: 50px;
    background: var(--content-bg);
    margin: 10px 2px;
    border-radius: 3px;
    font-size: 12px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 30%);
  }
}
.pulse {
  transform: scale(1);
  animation: pulse-anim 2s infinite;
}
@keyframes pulse-anim {
  0% {
    box-shadow: 0 0 0 0 var(--accent-color);
  }

  70% {
    box-shadow: 0 0 0 15px rgb(255 82 82 / 0%);
  }

  100% {
    transform: rotate(-360deg);
  }
}
/************* Progress bar ************/
.progress-holder {
  background: var(--accent-shadow);
  z-index: -1;
  height: 10px;

  .progress-bar {
    height: 10px;
    width: 0;
    background-image: linear-gradient(
      45deg,
      rgba(255, 255, 255, 0.15) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.15) 50%,
      rgba(255, 255, 255, 0.15) 75%,
      transparent 75%,
      transparent
    );
    background-size: 40px 40px;
    background-color: var(--accent-color);
    animation: progress-bar-stripes 2s linear infinite;
    transition: width 0.3s;
  }
}
/************* Tester left nav *******/
.search-box {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: 10px;
  top: -40px;
  z-index: 1;
  background: var(--content-bg);
  transition: top 0.3s;

  &.visible {
    top: 5px;
  }

  &.input-group {
    input.form-control:first-child {
      border-right: 1px solid var(--border-color);
      border-top-right-radius: 5px !important;
      border-bottom-right-radius: 5px !important;
    }
  }
}
