@font-face {
  font-family: 'apic-icon';
  src:  url('./fonts/apic-icon.eot?nf34a');
  src:  url('./fonts/apic-icon.eot?nf34a#iefix') format('embedded-opentype'),
    url('./fonts/apic-icon.ttf?nf34a') format('truetype'),
    url('./fonts/apic-icon.woff?nf34a') format('woff'),
    url('./fonts/apic-icon.svg?nf34a#apic-icon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="bj-"], [class*=" bj-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'apic-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bj-terminal:before {
  content: "\e931";
}
.bj-rubber:before {
  content: "\e900";
}
.bj-circle-check:before {
  content: "\e042";
}
.bj-circle-cross:before {
  content: "\e043";
}
.bj-square-check:before {
  content: "\e046";
}
.bj-square-cross:before {
  content: "\e047";
}
.bj-playlist_add_check:before {
  content: "\e065";
}
.bj-box:before {
  content: "\e079";
}
.bj-save:before {
  content: "\e161";
}
.bj-palette:before {
  content: "\e40a";
}
.bj-arrow_back:before {
  content: "\e5c4";
}
.bj-arrow_forward:before {
  content: "\e5c8";
}
.bj-more_horiz:before {
  content: "\e5d3";
}
.bj-more_vert:before {
  content: "\e5d4";
}
.bj-dashboard:before {
  content: "\e871";
}
.bj-list:before {
  content: "\e896";
}
.bj-user:before {
  content: "\e901";
}
.bj-user2:before {
  content: "\e902";
}
.bj-make-group:before {
  content: "\e904";
}
.bj-download3:before {
  content: "\e903";
}
.bj-home:before {
  content: "\e905";
}
.bj-stack:before {
  content: "\e906";
}
.bj-files-empty:before {
  content: "\e907";
}
.bj-copy:before {
  content: "\e908";
}
.bj-paste:before {
  content: "\e909";
}
.bj-folder:before {
  content: "\e90a";
}
.bj-folder-open:before {
  content: "\e90b";
}
.bj-folder-download:before {
  content: "\e90c";
}
.bj-history:before {
  content: "\e90d";
}
.bj-floppy-disk:before {
  content: "\e90e";
}
.bj-database:before {
  content: "\e90f";
}
.bj-cog:before {
  content: "\e910";
}
.bj-cross:before {
  content: "\e911";
}
.bj-box-add:before {
  content: "\e912";
}
.bj-box-remove:before {
  content: "\e913";
}
.bj-cloud:before {
  content: "\e914";
}
.bj-cloud-download:before {
  content: "\e915";
}
.bj-cloud-upload:before {
  content: "\e916";
}
.bj-cloud-check:before {
  content: "\e917";
}
.bj-download2:before {
  content: "\e918";
}
.bj-upload2:before {
  content: "\e919";
}
.bj-upload3:before {
  content: "\e91a";
}
.bj-folder-plus:before {
  content: "\e91b";
}
.bj-folder-minus:before {
  content: "\e91c";
}
.bj-folder-upload:before {
  content: "\e91d";
}
.bj-lab:before {
  content: "\e91e";
}
.bj-books:before {
  content: "\e91f";
}
.bj-book:before {
  content: "\e920";
}
.bj-alert:before {
  content: "\e921";
}
.bj-drawer:before {
  content: "\e922";
}
.bj-command:before {
  content: "\e923";
}
.bj-filter:before {
  content: "\e924";
}
.bj-embed2:before {
  content: "\e925";
}
.bj-terminal1:before {
  content: "\e926";
}
.bj-inboxes:before {
  content: "\e927";
}
.bj-box-filled:before {
  content: "\e928";
}
.bj-scissors:before {
  content: "\e929";
}
.bj-http:before {
  content: "\e92a";
}
.bj-folder-information2:before {
  content: "\e92b";
}
.bj-unshare:before {
  content: "\e92c";
}
.bj-websocket:before {
  content: "\e92d";
}
.bj-ink:before {
  content: "\e92e";
}
.bj-quill2:before {
  content: "\e92f";
}
.bj-quill:before {
  content: "\e930";
}
.bj-user-plus:before {
  content: "\e973";
}
.bj-user-minus:before {
  content: "\e974";
}
.bj-key:before {
  content: "\e98d";
}
.bj-wrench:before {
  content: "\e991";
}
.bj-hammer:before {
  content: "\e996";
}
.bj-menu:before {
  content: "\e9bd";
}
.bj-exit:before {
  content: "\ea14";
}
.bj-loop22:before {
  content: "\ea30";
}
.bj-group:before {
  content: "\f0c0";
}
.bj-bug2:before {
  content: "\f188";
}
.bj-file-code-o2:before {
  content: "\f1cb";
}
.bj-paper-plane:before {
  content: "\f1d8";
}
.bj-share-alt:before {
  content: "\f1e0";
}
.bj-newspaper-o:before {
  content: "\f1ea";
}
.bj-wpforms:before {
  content: "\f298";
}
.bj-crop_7_5:before {
  content: "\e932";
}
.bj-web:before {
  content: "\e933";
}
