<h2 mat-dialog-title class="modal-title">Export Project: {{data.type}}</h2>
<div class="modal-top-ctrl vcenter">
    <div role="group" class="pull-right btn-group gap">
        <button type="button" mat-button [ngClass]="format == 'yaml'?'t_bg':''" class="xs"
            (click)="format='yaml'; jsonToYaml(exportObj)">YAML</button>
        <button type="button" mat-button [ngClass]="format == 'json'?'t_bg':''" class="xs"
            (click)="format='json';jsonToString(exportObj)">JSON</button>
    </div>
    <button mat-icon-button class="gap stroked" color="primary" (click)="download()">
        <mat-icon>download</mat-icon>
    </button>
    <button mat-icon-button class="gap stroked" color="primary" (click)="copy()">
        <mat-icon>file_copy</mat-icon>
    </button>
</div>
<mat-dialog-content>
    <ace-editor [(text)]="exportStr" [mode]="format" [theme]="'monokai'" [readOnly]="true" [autoUpdateContent]="true"
        #editor class="editor"></ace-editor>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="sm">Close</button>
</mat-dialog-actions>