.designer{
    
}
.designer .json-schema .main{
    border: none;
}
.icon.big{
    font-size: 22px;
    margin-right: 5px;
    /*font-weight: bold;*/
}
h4.head{
    margin-top: 0;
    font-size: 26px;
    font-family: apic-font;
    padding-bottom: 20px;
    width: 400px;
}
h4.head.flex .dropdown{
    flex-grow: 1;
}
h4.head.flex>a{
    margin-top: 7px;
}
h5{
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 20px;
    padding: 0;
}
.t_color .black, .black{
    color: #464646 !important;
}
.right-cont.full-width{
    left: 0;
}
.workspace{
    padding: 0 20px;
}
.workspace .workspace-title{
    font-family: apic-font; font-size: 26px;
}

.projects-title{
    font-size: 16px;font-weight: bold
}
.projects-list{
    display: flex;
    flex-flow: row wrap;
}
.proj-submodule{
    position: relative;
}
.api-project{
    width: 240px;height: 100px;
    background-color: var(--content-bg)!important;
    box-shadow: 0 2px 6px 2px rgba(0,0,0,0.05);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,0.05);
    font-family: apic-font;
    font-size: 22px;
    overflow: hidden;
    margin: 15px 15px 15px 0;
    text-overflow: ellipsis;
    align-items: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.api-project.ic:after{
    content: "\e40a";
    position: absolute;
    font-family: apic-icon;
    bottom: -10px;
    right: 2px;
    color: #BDBDBD;
    font-size: 32px;
}
.apiproj-name{
    max-width: 240px;
    /*padding:0 20px;*/
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    transform: scale(1);
    transition: transform 0.6s;
}
.apiproj-name>.glyphicon{
    vertical-align: middle;
    top: -1px;
    left: 1px;
}
.api-project:hover .apiproj-name{
    transform: scale(1.1);
}


/**** left nav *********/
.designer .left-nav .nav-tabs {
    height: 45px;
}
.projHead{
    font-size: 20px;
    color: var(--text-color);
    vertical-align: text-bottom;
    font-family: apic-font;
    width: 275px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}
.left-nav .projHead{
    color: var(--text-color);
}
.designer .back{
    margin-top: 8px;
}


.proj-form .form-group.marg0{
    margin-bottom: 10px !important
}
.proj-form .form-group label{
    font-size: 14px;
    padding: 0;
}
.proj-form .form-group.marg0 .form-control {
    padding-left: 7px;
}
.proj-form .form-group.marg0 textarea.form-control{
    height: 50px
}
/**** left nav end*********/

/**** Breadcrumb *********/
.proj-brcmb.breadcrumb{
    background-color: transparent;
    padding: 2px 15px;
}
.proj-brcmb.breadcrumb>li>a{
    color: var(--text-color);
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.proj-brcmb.breadcrumb .dropdown-toggle{
    padding: 0;
    background: transparent;
    border: none;
    color: var(--text-color);
    text-transform: capitalize;
}


/**** Breadcrumb end*********/

/******* info tab **********/
.infoTab .info-label{
    padding: 0 10px;
    font-size: 14px;
}
.infoTab label.info-label{
    text-align: right;
    font-size: 15px;
}
.infoTab div.info-label{
    font-family: apic-font;
}

/******* info tab End**********/

/********* Proj landing page ********/
.proj-landing{
    overflow:auto;
    padding:0 10px;
}
.proj-landing .proj-banner{
    min-height: 80px;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
    background-color: var(--header-bg);
    margin: 0 -10px;
    background-size: 100%;
    background-position: center center;
    padding: 5px 10px;
    position: relative;
    overflow: visible;
}
/*.proj-banner:after{
    content: '';
    width: 200px;
    height:100px;
    background: #6699ff;
}*/
.proj-landing .proj-banner .proj-head{
    width: 700px;
    /* position: absolute; */
    bottom: 0;
    left: 10px;
    padding: 0;
    font-size: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    float: left;
}
.proj-landing .proj-banner .proj-optn{
    float: right;
}
.proj-landing .proj-banner .proj-optn button{
    margin-left: 5px
}
.proj-landing .proj-banner .proj-optn button .icon{
    vertical-align: middle;
    font-size: 16px;
}
.proj-landing .proj-banner .proj-optn .btn-group button{
    margin-left: 0;
}
.proj-landing .landing-action{
    width: 350px;
    height: 125px;
    background:var(--content-bg);;
    border-radius:10px;
    box-shadow: 1px 2px 4px rgba(0,0,0,0.3);
    padding: 15px;
    cursor:pointer;
    position:relative;
    overflow: hidden;
    font-family: apic-font;
    float: left;
    margin: 10px;
}

.landing-action .ac-text{
    font-size: 14px;
    line-height: 18px;
}
.landing-action .ac-head{
    font-size: 27px;
    position:absolute;
    width: 450px;
    left: -50px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    color: var(--accent-bg-text);
    bottom: -45px;
}
.submodMenu{
    position: fixed;
    right: 0px;
    margin-top: -20px;
    padding: 0 0 0 45px;
    height: 43px;
    z-index: 21;
    background: transparent;
    overflow: hidden;
}
.submodMenu .submodMenuOptn{
    background: var(--header-bg);
    float: right;
    padding: 6px 15px;
    height: 40px;
    z-index: 22;
    box-shadow: 2px 2px 3px rgba(0,0,0,0.2);
}
.submodMenu .tip{
    border-radius: 3px;
    width: 58px;
    height: 58px;
    background: var(--header-bg);
    transform: rotateZ(45deg);
    float: right;
    margin-top: -29px;
    box-shadow: 1px 2px 5px rgba(0,0,0,0.2);
    position: absolute;
    z-index: -1;
    left: 16px;
}
.submodMenu .bar{
    border-left: 1px solid #9E9E9E;
    margin: 0 4px;
    display: inline-block;
    min-height: 22px;
    vertical-align: middle;
}
.mockCont>.endp{
    padding: 7px 10px 6px 0;
}
.mockCont>.endp .endpUrl{
    font-weight: bold;
}
.endp .host{
    font-weight: normal;
    display: none;
}
.endp:hover .host{
    display: inline;
}
.endp .host-sh{
    font-weight: normal;
    display: inline;
}
.endp:hover .host-sh{
    display: none;
}
.mockCont>.endp:hover{
    background: var(--main-bg);
}
.mockCont .summary{
    font-weight: bold;
}
.mockCont .method{
    display: inline-block;
    width: 40px;
    margin-right: 10px;
    margin-top: 0;
}
.endp .mockCtrls{
    margin-top: -5px;
    font-size: 20px;
}
.endp .mockCtrls-hidden{
    display: none;
}
.endp:hover .mockCtrls-hidden{
    display: inline;
}
.secDef{
    position: relative;
    overflow: auto;
    border-bottom: 1px dashed var(--border-color);
    padding: 10px;
}
.secDef:nth-last-child(2){
    border-bottom: none;
}
/********* Proj landing page ********/


/********* Folders page ********/
.proj-folders, .proj-models, .proj-endps, .proj-traits{
    margin:20px 10px;
    position: relative;
}
.proj-folders .ctrls, .proj-models .ctrls{
    position: absolute;
    right: 30px;
    top: -40px;
}

.proj-folders .addF, .proj-models .del{
    
}

/********* Folders page end********/

/********* Left selection********/
.left-selection-list{
    min-height: 250px;
    max-height: 400px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.14);
    background: var(--content-bg);
    padding: 0 10px;
    border-radius: 3px;
    overflow-y: auto;
}
.left-selection-list .item{
    padding: 4px 5px;
    cursor: pointer;
    height: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.left-selection-list .item:hover{
    background: var(--main-bg);
}

/********* Left Selection end********/



/********* End point module********/
.proj-endps{
    
}
.endp-response{
    position: relative;
}
.endp-response .head{
    height: 33px;
    font-family: apic-font;
    font-size: 14px;
    font-weight: bold;
    
}
.endp-response .resp-codes{
    width: 150px;
    float:left;
}
.endp-response .resp-code{
    height: 30px;
    border-left: 2px solid transparent;
    border-bottom: 1px dashed var(--border-color);
    font-weight: bold;
    font-size: 16px;
    font-family: apic-font;
    cursor: pointer;
    padding-left: 8px;
    position: relative;
}
.endp-response .resp-code.active{
    border-left: 2px solid var(--accent-color);
}
.endp-response .resp-code .ctrl{
    font-weight: bold;
    font-family: monospace;
    cursor: pointer;
    position: absolute;
    font-size: 14px;
    width: 13px;
    height: 13px;
    text-align: center;
    line-height: 10px;
    top: 9px;
}
.endp-response .resp-code .ctrl.remove{
    color: #F44336;
    right: 2px;
}
.endp-response .resp-code .remove:hover{
    background: #F44336;
    color: #fff;
}
.endp-response .resp-code .ctrl.edit{
    right: 17px;
    font-size: 10px;
}
.endp-response .resp-code .ctrl.edit:hover{
    background: var(--border-color);
}
.endp-response .resp-code .ctrl.ok{
    right: 2px;
    font-size: 10px;
    color: #4CAF50;
}
.endp-response .resp-code input{
    border: 1px solid var(--border-color);
    box-shadow: 0px 0px 4px rgba(0,0,0,0.15) inset;
    height: 26px;
    padding-left: 3px;
    width: 75px;
    outline: none;
}

/********* End point module end********/



/********* Left menu********/
.designer .left-nav .savedReq{
    margin-left: 15px;
    padding: 3px 0;
}
.ungrouped{
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid var(--border-color);
    width: 200px;
    margin: 3px 10px;
}
.designer .left-nav .folder .l-sec{
    height: 30px;
}
.designer .left-nav .folder-icon{
    line-height: 40px;
}
.designer .left-nav .folder .r-sec{
    height: 40px;
    line-height: 46px;
}

.designer .savedReq .l-sec{
    height: 30px;
}
.designer .savedReq .l-sec .method{
    margin-top: 3px;
}
.designer .savedReq .m-sec{
    padding: 3px 5px;
    height: 30px;
}
.designer .savedReq .r-sec{
    height: 30px;
    line-height: 33px;
}

/********* Left menu********/


