.suit-tab .head,
.folder-tab .head {
  font: 20px apic-font;
}
.suit-tab .head a:hover {
  text-decoration: none;
}
.head > .icon {
  font-size: 20px;
  vertical-align: top;
}
.head > .sname {
  font-size: 24px;
}
.suit-tab .col-xs-5 {
  padding: 0;
}
.suit-detail {
  padding-top: 50px;
}
.suit-req-edit {
  padding-top: 50px;
}
.suit-tab .edit-suit .btn {
  padding: 0 10px;
  vertical-align: text-top;
}

.suit-tab .panel-body {
  padding-top: 0;
}
.suit-req {
  position: relative;
  margin-left: 15px;
  padding: 3px 8px 10px 25px;
}
.suit-req .run-status {
  position: absolute;
  top: 10px;
  right: 0;
  font-size: 12px;
  margin-top: -6px;
  color: var(--text-color);
}
.suit-req .run-status div {
  font-size: 16px;
  margin-bottom: -6px;
  text-align: right;
}
.suit-req .run-status > span {
  display: none;
  font-weight: normal;
}
.suit-req:hover .run-status > span {
  display: inline-block;
}
.suit-req .name {
  overflow: hidden;
  font-size: 16px;
  text-overflow: ellipsis;
}
.suit-req .meth {
  font-weight: bold;
  font-size: 12px;
  margin-right: 4px;
}
.suit-req .url {
  overflow: hidden;
  color: #888;
  text-overflow: ellipsis;
}
.suit-req .test-cont {
  padding: 5px;
  margin: 5px 0 15px;
  border: 1px solid var(--border-color);
  /* box-shadow: 0 1px 4px rgba(0,0,0,0.2); */
  /* background: #fdfdfd; */
  border-radius: 10px;
}
.suit-req .test-result {
  font-size: 14px;
  padding: 3px;
}
.suit-req .test-result:last-child {
  border-bottom: none;
}
.suit-req .test-result .glyphicon > span {
  font-size: 12px;
  vertical-align: text-bottom;
  /*margin-left: -5px;*/
}
.suit-req .test-result .glyphicon {
  font-size: 12px;
  padding: 2px 5px 3px;
}
.suit-req input[type="checkbox"] {
  position: absolute;
  top: 20px;
  left: -20px;
}
.suit-req .ctrls {
  position: absolute;
  right: 10px;
  top: 20px;
}
.btn-icon {
  background: none;
  border: none;
  transition: all 0.2s;
  font-size: 14px;
  width: 30px;
  height: 30px;
}
.btn-icon:hover,
.btn-icon:active,
.btn-icon:focus {
  background: var(--accent-color);
  color: var(--accent-bg-text) !important;
  border-radius: 50%;
  outline: none;
}

.run-form {
  font-size: 16px;
}
.run-form .form-group {
  margin-bottom: 5px;
}
.run-form .col-xs-5 {
  /*padding-top: 14px;*/
  padding-left: 20px;
  text-align: center;
}
.run-form label {
  font-size: 13px;
  margin-bottom: 0;
}

.big-run {
  position: relative;
}

.big-run > span {
  position: absolute;
  left: 18px;
  top: -38px;
}
.big-run.stop > span {
  left: 24px;
}

textarea.logs {
  width: 100%;
  min-height: 250px;
  font-size: 12px;
  font-family: monospace;
  line-height: 1.2;
  resize: vertical;
}
.cancel-run {
  text-align: center;
  padding: 15px 0;
}
.cancel-run .progress {
  margin-bottom: 10px;
}
.btn.run-env {
  text-align: left;
  border: 1px solid var(--border-color);
  font-size: 14px;
  width: 100%;
  padding: 3px 5px;
}
.big-run {
  position: relative;
}
.big-run > i {
  color: #4caf50;
  font-size: 80px;
}
.big-run.stop > i {
  color: #f44336;
  font-size: 80px;
}
.big-run > span {
  font-size: 18px;
  color: #fff;
}
.cancel-run {
  border-bottom: 1px solid #eee;
}

/******* Result content ******/
.td-cont {
  width: 90px;
  height: 90px;
  position: relative;
}
.td-perc {
  position: absolute;
  top: 30px;
  width: 100%;
  font-size: 20px;
  text-align: center;
}
.circular-chart {
  display: block;
  margin: 0;
}

.circle {
  stroke: #4cc790;
  fill: none;
  stroke-width: 2px;
  stroke-linecap: round;
  animation: circleAni 1s ease-out forwards;
}
.circle.redc {
  stroke: #f44336;
}

@keyframes circleAni {
  0% {
    stroke-dasharray: 0 100;
  }
}
.run-res-cont .suit-req {
  padding-left: 0;
  margin-left: 0;
}
.run-res-cont .suit-req {
  opacity: 0.6;
}
.run-res-cont .suit-req.complete {
  opacity: 1;
  padding-left: 0;
  margin-left: 0;
}
.run-res-cont .suit-req .name {
  font-size: 14px;
  line-height: 16px;
  margin-top: 5px;
  /* font-weight: bold; */
}
.run-res-cont .suit-req .meth {
  font-size: 10px;
}
.run-res-cont .suit-req .url {
  font-size: 12px;
}
.suit-req-sec {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 4px;
}
/******* Result content End ******/

/******* Edit suit req ******/
.suit-req-edit .col-xs-2,
.suit-req-edit .col-xs-4,
.suit-req-edit .col-xs-8,
.suit-req-edit .col-xs-10,
.suit-req-edit .col-xs-1 {
  padding: 0 5px;
}
.suit-req-edit .form-horizontal .radio {
  padding-top: 0;
}
.suit-req-edit .panel .form-group {
  margin-left: 0;
}
/******* Edit suit req End******/

/****** Add new test option ****/
.new-test-cont {
  position: absolute;
  border-top: 1px solid var(--border-color);
  z-index: 10;
  width: 20%;
  left: 40%;
  opacity: 0.4;
}
.new-test-cont:hover {
  opacity: 1;
}
.new-test-cont:hover .nt_options {
  left: -4px;
}
.new-test-main {
  position: absolute;
  top: -12px;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  /* background-color: salmon; */
}
.new-test-main .btn {
  background: var(--content-bg);
  outline: none !important;
}
.nt_add {
  background: var(--content-bg);
  display: inline-block;
  padding: 0 5px;
  position: relative;
  z-index: 30;
}
.nt_options {
  left: -400px;
  position: relative;
  transition: left 0.3s;
}
.suit-req-nav {
  position: relative;
}
.sn_opt {
  position: absolute;
  top: 11px;
  opacity: 0.5;
}
.suit-req-nav:hover .sn_opt {
  opacity: 1;
}
/****** Add new test option End****/
