.tests .top-menu{
    margin-right: 10px;
}
.project{
    cursor: pointer;
    height: 35px;
    background: transparent;
}
.project:hover{
    background: #f5f5f5;
}
.project.opened{
    background: #f5f5f5;
    border-bottom: 1px solid #eee;
}
/*.project .r-sec{
    display: none;
}
.project:hover .r-sec{
    display: block;
}*/
/* 
.project .l-sec .icon{
    margin-right: 5px;
    font-size: 18px;
}
.project .proj-name{
    font-size: 16px;
} */
.project ul.dropdown-menu .icon, .suit ul.dropdown-menu .icon{
    vertical-align: text-top;
    margin-right: 5px;
}
.proj-content{
    padding-left: 10px;
}
#proj-optn{
    font-size: 16px;
}
.project ul.dropdown-menu .icon, .suit ul.dropdown-menu .icon{
    font-size: 16px;
}
.suit.savedReq{
    padding: 2px 0;
}
.suit .name.m-sec{
    font-size: 16px;
    padding-top: 3px;
}
.suit.savedReq .r-sec{
    width: 102px;
}
.suit .r-sec>.r-item {
    display: inline-block;
    width: 30px;
    vertical-align: top;
    height: 30px;
}