.designer .left-nav .nav-tabs {
  height: 38px;
}
.designer .left-nav .nav-tabs > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.left-nav .tab-content {
  top: 38px;
}

.sort-pan {
  padding: 5px;
  div.lb {
    font-weight: bold;
  }
  div.lb:not(:first-child) {
    margin-top: 10px;
  }
  button.t_border {
    border: 1px solid var(--accent-color);
  }
}
.searching {
  .folder {
    height: 20px;
  }
  .empty {
    display: none;
  }
  .l-sec .bj-folder {
    font-size: 15px;
  }
  .savedReq {
    height: 25px;
  }
}

.proj-head {
  width: auto;
  max-width: 100%;
  padding: 0;
  font-size: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0;
  margin: 0;
}
.submodMenuOptn.designerOptn {
  button,
  a {
    border: 1px solid var(--border-color);
    .spinner {
      position: absolute;
      left: 0;
      top: 10px;
      margin: 0;
      &:after {
        height: 20px;
        width: 20px;
      }
    }
  }
  .grp {
    border: 1px solid var(--border-color);
    border-radius: 20px;
    box-sizing: content-box;
    height: 28px;
    button,
    a {
      border: none;
    }
  }
}
.codeGenCont {
  .mat-button,
  .mat-icon-button,
  .mat-stroked-button,
  .mat-flat-button {
    margin: 0 5px 5px 0;
  }

  .help {
    position: absolute;
    right: 0px;
    top: 5px;
  }
}
.landing-action {
  width: 350px;
  height: 125px;
  background: var(--content-bg);
  border-radius: 10px;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  font-family: apic-font;
  float: left;
  margin: 10px;
}

.landing-action .ac-text {
  font-size: 14px;
  line-height: 18px;
}

.landing-action .ac-head {
  font-size: 27px;
  position: absolute;
  width: 450px;
  left: -50px;
  height: 90px;
  border-radius: 50%;
  text-align: center;
  color: var(--accent-bg-text);
  bottom: -45px;
}

h4.head {
  margin-top: 0;
  font-size: 26px;
  font-family: apic-font;
  padding-bottom: 20px;
  width: 400px;
}

.endp_more {
  width: 130px;
}

.endp_more.open {
  margin-bottom: -35px;
}
.simKey {
  font-size: 20px;
  border: 1px dashed var(--border-color);
  padding: 3px 10px;
  text-align: center;
}
/***********Mocked container *******/
.mockCont > .endp {
  padding: 7px 10px 6px 0;
}
.mockCont > .endp .endpUrl {
  font-weight: bold;
  &.deprecated {
    text-decoration: line-through;
  }
}
.endp .host {
  font-weight: normal;
  display: none;
}
.endp:hover .host {
  display: inline;
}
.endp .host-sh {
  font-weight: normal;
  display: inline;
}
.endp:hover .host-sh {
  display: none;
}
.mockCont > .endp:hover {
  background: var(--main-bg);
}
.mockCont .summary {
  font-weight: bold;
}
.mockCont .method {
  display: inline-block;
  width: 40px;
  margin-right: 10px;
  margin-top: 0;
}
.endp .mockCtrls {
  margin-top: -5px;
  font-size: 20px;
}
.endp .mockCtrls-hidden {
  display: none;
}
.endp:hover .mockCtrls-hidden {
  display: inline;
}
/***********Mocked container end*******/
