<div class="suit-tab">
    <div class="url-cont head">
        <span ng-show="!vm.ctrls.editReq" class="edit-suit">
            <i class="icon bj-box-filled"></i>
            <span ng-hide="vm.ctrls.editSuitName">
                <span class="sname">{{vm.suit.name}}</span>
                <button class="glyphicon glyphicon-pencil btn btn-link"
                    ng-click="vm.ctrls.editSuitName = true"></button>
            </span>
            <span ng-show="vm.ctrls.editSuitName">
                <input type="text" ng-model="vm.suitNameCopy" on-enter-key="vm.changeSuitName()"
                    class="form-control input-sm" style="display: inline; width: 300px;vertical-align: top" />
                <a href="" class="glyphicon glyphicon-ok green btn btn-link" ng-click="vm.changeSuitName()"></a>
                <a href="" class="glyphicon glyphicon-remove red btn btn-link"
                    ng-click="vm.ctrls.editSuitName = false"></a>
            </span>
        </span>
        <span ng-show="vm.ctrls.editReq">
            <a href="" class="t_color" ng-click="vm.discardReqEdit()">
                <i class="icon bj-arrow_back"></i>
                <i class="icon bj-box-filled"></i>
                <span class="sname">{{vm.suit.name}}</span>
            </a>
            <span class="sname">/ {{vm.selectedReqCopy.name}}</span>
        </span>
        <a href="https://apic.app/docs/tester/writing-test-cases.html" target="_new" class="gap f18 pull-right"><span
                class="glyphicon glyphicon-question-sign"></span></a>
    </div>

    <div class="suit-detail" ng-hide="vm.ctrls.editReq">
        <div class="row">
            <div class="col-xs-7">
                <div>
                    <form class="run-form" role="form">
                        <fieldset ng-disabled="vm.ctrls.running">
                            <div class="col-xs-7">
                                <div class="form-group">
                                    <label class="bold" for="env-run">Environment</label>
                                    <span uib-dropdown keyboard-nav style="display: block">
                                        <button id="env-run" uib-dropdown-toggle class="btn btn-link ellipsis run-env">
                                            <span class="icon bj-stack gap"></span>
                                            {{vm.curEnv.name}}
                                            <span class="caret right"></span>
                                        </button>
                                        <ul style="max-height: 400px; overflow:auto" class="dropdown-menu"
                                            uib-dropdown-menu aria-labelledby="env-dropdown">
                                            <li ng-click="vm.selectEnv(undefined)"><a href>No Environment</a></li>
                                            <li class="divider" style="margin: 5px 0"></li>
                                            <li ng-repeat="env in ENVS track by env._id" ng-click="vm.selectEnv(env)">
                                                <a href>{{env.name}}</a>
                                            </li>
                                        </ul>
                                    </span>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" ng-model="vm.run.multiRun" />Multi Run</label>
                                </div>
                                <div class="form-group" ng-if="vm.run.multiRun">
                                    <label for="run-count">Run Count</label>
                                    <input id="run-count" class="form-control input-sm" ng-model="vm.run.count"
                                        placeholder="Run count (max 100)" min="1" type="number" />
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" ng-model="vm.run.showLogs" />Include debug
                                        logs</label>
                                </div>
                            </div>

                            <div class="col-xs-5">
                                <a href class="big-run" ng-click="vm.runSuit(true)" ng-hide="vm.ctrls.running">
                                    <i class="glyphicon glyphicon-play"></i>
                                    <span>Run</span>
                                </a>

                                <a href class="big-run stop" ng-click="vm.abortRun()" ng-show="vm.ctrls.running">
                                    <i class="glyphicon glyphicon-stop"></i>
                                    <span>Stop</span>
                                </a>


                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <label><input type="checkbox" ng-model="vm.ctrls.useGlobalEnv" />Use global
                                        In-memory/generated environment variables</label>
                                </div>
                                <div class="form-group">
                                    <label><input type="checkbox" ng-model="vm.ctrls.saveGlobalEnv" />Update global
                                        In-memory/generated environment variables during run</label>
                                </div>
                            </div>
                        </fieldset>
                    </form>
                    <div class="cancel-run" ng-show="vm.ctrls.running">
                        <div class="progress progress-striped">
                            <div class="progress-bar progress-bar-success active"
                                ng-style="{width:((100/vm.reqCount)*vm.runCounter)+'%' }"></div>
                        </div>
                    </div>
                </div>

                <div class="run-res-cont">
                    <div class="panel panel-primary dark " ng-hide="vm.ctrls.running === undefined">
                        <div class="panel-heading panel-sm">
                            <h3 class="panel-title custom pointer" ng-click="vm.ctrls.hideRes = !vm.ctrls.hideRes">Run
                                Result</h3>
                            <div class="panel-menu">
                                <div>
                                    <a href class="panel-item" ng-click="vm.saveResult()">
                                        <span class="glyphicon glyphicon-floppy-disk" uib-tooltip="Save Results"></span>
                                    </a>
                                    <a href class="panel-item" ng-click="vm.downloadReport()">
                                        <span class="icon bj-download3" uib-tooltip="Download Report"></span>
                                    </a>
                                    <a href class="panel-item" ng-click="vm.ctrls.running = undefined">
                                        <span class="glyphicon glyphicon-remove red" uib-tooltip="Hide"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body suit-res" ng-if="!vm.ctrls.hideRes">
                            <div ng-if="!vm.ctrls.running && !vm.run.multiRun" style="overflow: auto;" class="margV10">
                                <div class="col-sm-6 test-dash">
                                    <div class="bold count">Test cases</div>
                                    <div class="col-xs-6">
                                        <div class="td-cont">
                                            <svg viewBox="0 0 36 36" class="circular-chart">
                                                <path class="circle"
                                                    stroke-dasharray="{{(vm.run.stats.testsPassed/vm.run.stats.testsTotal*100)}}, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            </svg>
                                            <svg viewBox="0 0 36 36" class="circular-chart"
                                                style="position: absolute;top:0; transform:scale(0.8)">
                                                <path class="circle redc"
                                                    stroke-dasharray="{{(vm.run.stats.testsFailed/vm.run.stats.testsTotal*100)}}, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            </svg>
                                            <div class="green td-perc">
                                                {{(vm.run.stats.testsPassed/vm.run.stats.testsTotal*100).toFixed(2)}}%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div>Total tests: <span class="bold">{{vm.run.stats.testsTotal}}</span></div>
                                        <div>Passed: <span class="bold green">{{vm.run.stats.testsPassed}}</span></div>
                                        <div>Failed: <span class="bold red">{{vm.run.stats.testsFailed}}</span></div>
                                    </div>
                                </div>
                                <div class="col-sm-6 test-dash">
                                    <div class="bold count">Requests</div>
                                    <div class="col-xs-6">
                                        <div class="td-cont">
                                            <svg viewBox="0 0 36 36" class="circular-chart">
                                                <path class="circle"
                                                    stroke-dasharray="{{(vm.run.stats.reqsPassed/vm.run.stats.reqsTotal*100)}}, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            </svg>
                                            <svg viewBox="0 0 36 36" class="circular-chart"
                                                style="position: absolute;top:0; transform:scale(0.8)">
                                                <path class="circle redc"
                                                    stroke-dasharray="{{(vm.run.stats.reqsFailed/vm.run.stats.reqsTotal*100)}}, 100"
                                                    d="M18 2.0845
                                                    a 15.9155 15.9155 0 0 1 0 31.831
                                                    a 15.9155 15.9155 0 0 1 0 -31.831" />
                                            </svg>
                                            <div class="green td-perc">
                                                {{(vm.run.stats.reqsPassed/vm.run.stats.reqsTotal*100).toFixed(2)}}%
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6">
                                        <div>Total requests: <span class="bold">{{vm.run.stats.reqsTotal}}</span></div>
                                        <div>Passed: <span class="bold green">{{vm.run.stats.reqsPassed}}</span></div>
                                        <div>Failed: <span class="bold red">{{vm.run.stats.reqsFailed}}</span></div>
                                    </div>
                                </div>
                            </div>
                            <div ng-repeat="req in vm.run.results track by $index" class="suit-req"
                                ng-class="req.status">
                                <div class="pointer" ng-click="req.showTest = !req.showTest">
                                    <a href class="name">
                                        <!-- <span ng-class="req.showTest?'glyphicon glyphicon-chevron-down':'glyphicon glyphicon-chevron-right'"></span> -->
                                        {{req.name}}
                                    </a>
                                    <div class="margTm5">
                                        <span class="url">{{req.method}}</span>
                                        <span class="url">{{req.url}}</span>
                                        <div class="run-status">
                                            <div><span class="green">{{req.tests.passed}} <span
                                                        class="glyphicon glyphicon-ok light-green"></span></span> /
                                                <span class="red">{{req.tests.failed}} <span
                                                        class="glyphicon glyphicon-remove light-red"></span></span>
                                            </div>
                                            <span><span class="status">{{req.response.status}}
                                                    {{req.response.statusText}}</span> (<span
                                                    class="status info">{{req.time}}</span>)</span>
                                        </div>
                                    </div>
                                </div>
                                <div ng-show="req.showTest" class="dashed-left">
                                    <div class="suit-req-sec">
                                        <span style="margin-right: 5px;">
                                            <a href class="panel-item">Tests:</a>
                                        </span>
                                        <span class="green" style="margin-left: 5px;">{{req.tests.passed}} <span
                                                class="glyphicon glyphicon-ok light-green"></span></span> / <span
                                            class="red">{{req.tests.failed}} <span
                                                class="glyphicon glyphicon-remove light-red"></span></span>
                                    </div>
                                    <div class="test-cont">
                                        <div ng-repeat="case in req.tests.cases track by $index" class="test-result">
                                            <span class="glyphicon glyphicon-ok passed open"
                                                ng-if="case.success"><span>Passed</span></span>
                                            <span class="glyphicon glyphicon-remove failed open"
                                                ng-if="!case.success"><span>Failed</span></span>
                                            {{case.name}}
                                            <div class="red margL90" ng-if="!case.success">{{case.reason}}</div>
                                        </div>
                                    </div>
                                    <div class="suit-req-sec">
                                        <span style="margin-right: 5px;">
                                            <a href class="panel-item" ng-click="req.showResp = !req.showResp">
                                                <span
                                                    ng-class="req.showResp?'glyphicon glyphicon glyphicon-triangle-bottom':'glyphicon glyphicon-triangle-right'"></span>
                                                Response:
                                            </a>
                                        </span>
                                    </div>
                                    <div class="s-raw" ng-show="req.showResp">
                                        {{req.response.body}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-xs-5 req-list" style="padding-right: 5px;">
                <div class="panel-flat">
                    <div class="bold"><i class="icon bj-web"></i>Web Access URL</div>
                    <div ng-if="vm.WAU">
                        {{vm.WAU}}
                        <a href="" class="icon bj-files-empty t_color bold" title="Copy"
                            ng-click="copyToClipboard(vm.WAU)"></a>
                    </div>
                    <button class="btn btn-link btn-sm c" ng-hide="vm.WAU" ng-click="vm.loadWAU()">
                        Get web access URL
                        <span class="spinner" ng-if="vm.ctrls.webAccess"></span>
                    </button>
                    <a href="https://docs.apic.app/cicd-integration" class="btn btn-link btn-sm" target="_new">Learn
                        more</a>
                </div>
                <div class="panel panel-primary dark " ng-hide="vm.ctrls.running === undefined">
                    <div class="panel-heading panel-sm">
                        <h3 class="panel-title custom">Run Logs</h3>
                        <div class="panel-menu">
                            <a href class="panel-item" ng-click="vm.downloadLog()">
                                <span class="icon bj-download2" uib-tooltip="Download"></span>
                            </a>
                            <a href class="panel-item" ng-click="copyToClipboard(vm.run.logs)">
                                <span class="icon bj-copy" uib-tooltip="Copy"></span>
                            </a>
                            <a href class="panel-item" ng-click="vm.ctrls.showLogs = false" ng-show="vm.ctrls.showLogs">
                                <span class="glyphicon glyphicon-chevron-up" uib-tooltip="Collapse"></span>
                            </a>
                            <a href class="panel-item" ng-click="vm.ctrls.showLogs = true" ng-hide="vm.ctrls.showLogs">
                                <span class="glyphicon glyphicon-chevron-down" uib-tooltip="Expand"></span>
                            </a>
                        </div>
                    </div>
                    <div class="panel-body" ng-show="vm.ctrls.showLogs">
                        <textarea disabled="disabled" class="logs">{{vm.run.logs}}</textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="panel panel-primary dark ">
            <div class="panel-heading panel-sm">
                <h3 class="panel-title custom">Requests</h3>
                <div class="panel-menu">
                    <div>
                        <a href class="panel-item" ng-click="vm.ctrls.showReqs = false" ng-show="vm.ctrls.showReqs">
                            <span class="glyphicon glyphicon-chevron-up" uib-tooltip="Collapse"></span>
                        </a>
                        <a href class="panel-item" ng-click="vm.ctrls.showReqs = true" ng-hide="vm.ctrls.showReqs">
                            <span class="glyphicon glyphicon-chevron-down" uib-tooltip="Expand"></span>
                        </a>
                    </div>
                </div>
            </div>
            <div ng-show="vm.ctrls.showReqs" class="panel-body">
                <div ui-sortable="vm.ctrls.reqSortOptn" ng-model="vm.suit.reqs">
                    <div class="new-test-cont">
                        <div class="new-test-main">
                            <span class="glyphicon glyphicon-plus nt_add"></span>
                            <span class="nt_options">
                                <button class="btn btn-xs btn-link" ng-click="vm.addBlankReq(0)">Blank request</button>
                                <button ng-click="vm.addSavedReq(0)" class="btn btn-xs btn-link">Saved
                                    request</button>
                            </span>
                        </div>
                    </div>
                    <div ng-repeat="req in vm.suit.reqs track by $index" style="position: relative;">
                        <div class="suit-req">
                            <input type="checkbox" ng-change="vm.updateSuit()" ng-model="req.disabled"
                                ng-true-value="undefined" ng-false-value="true" />
                            <span class="grip" style="position: absolute;
                            left: 3px;
                            top: 13px;"></span>
                            <div class="name"><a href="" ng-click="vm.editSuitReq(req, $index)">{{req.name}}</a></div>
                            <div>
                                <span class="meth" ng-class="req.method">{{req.method}}</span>
                                <span class="url">{{req.url}}</span>
                            </div>
                            <div class="ctrls">
                                <button ng-click="vm.editSuitReq(req, $index)" class="btn-icon t_color"><i
                                        class="glyphicon glyphicon-pencil"></i></button>
                                <button ng-click="vm.duplicateReqInSuit(req)" class="btn-icon"><i
                                        class="icon bj-files-empty"></i></button>
                                <button ng-click="vm.removeReqFromSuit(req._id, $index)" class="btn-icon red"><i
                                        class="glyphicon glyphicon-trash"></i></button>
                            </div>
                        </div>
                        <div class="new-test-cont">
                            <div class="new-test-main">
                                <span class="glyphicon glyphicon-plus nt_add"></span>
                                <span class="nt_options">
                                    <button class="btn btn-xs btn-link" ng-click="vm.addBlankReq($index+1)">Blank
                                        request</button>
                                    <button ng-click="vm.addSavedReq($index+1)" class="btn btn-xs btn-link">Saved
                                        request</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="suit-req-edit" ng-if="vm.ctrls.editReq">
        <div ng-controller="TabController as vm" class="tab-controller">
            <div class="submodMenu" ng-show="$parent.vm.ctrls.editReq" style="font-size: 14px;">
                <div class="submodMenuOptn">
                    <span>
                        <button type="button" class="btn btn-default btn-sm" ng-disabled="vm.progress"
                            ng-click="vm.doSingleRun()"><span class="glyphicon glyphicon-play green"></span>
                            {{vm.progress?'Running':'Run'}}</button>
                        <button type="button" class="btn btn-primary btn-themed btn-sm"
                            ng-disabled="!vm.name || !vm.URL" ng-click="vm.initReqSave()">Save</button>
                        <button type="button" class="btn btn-primary btn-themed btn-sm"
                            ng-disabled="!vm.name || !vm.URL"
                            ng-click="vm.initReqSave();$parent.vm.ctrls.editReq=false">Save &amp; Close</button>
                        <button type="button" class="btn btn-link btn-sm"
                            ng-click="$parent.vm.discardReqEdit()">Discard</button>
                    </span>
                </div>
                <div class="tip"></div>
            </div>
            <!-- <div class="center suit-req-nav" ng-show="$parent.vm.selectedReqIndex==0">
                <button class="btn-circle btn-sm" ng-click="vm.openProjInfoModal()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <span class="sn_opt">
                    <button class="btn btn-xs btn-link" ng-click="$parent.vm.addBlankReq(0)">Blank
                        request</button>
                    <button ng-click="$parent.vm.addSavedReq(0)" class="btn btn-xs btn-link">Saved
                        request</button>
                </span>
            </div> -->
            <div class="center suit-req-nav" ng-show="$parent.vm.selectedReqIndex!=0">
                <button class="btn-circle btn-sm"
                    ng-click="$parent.vm.editSuitReq($parent.vm.suit.reqs[$parent.vm.selectedReqIndex-1], $parent.vm.selectedReqIndex-1)">
                    <i class="glyphicon glyphicon-arrow-up"></i>
                </button>
                <span class="sn_opt">
                    Open: {{$parent.vm.suit.reqs[$parent.vm.selectedReqIndex-1].name}}
                </span>
            </div>

            <div ng-include="'modules/home/tab-req.html'"></div>

            <!-- <div class="center suit-req-nav" ng-show="$parent.vm.selectedReqIndex==($parent.vm.suit.reqs.length-1)">
                <button class="btn-circle btn-sm" ng-click="vm.openProjInfoModal()">
                    <i class="glyphicon glyphicon-plus"></i>
                </button>
                <span class="sn_opt">
                    <button class="btn btn-xs btn-link"
                        ng-click="$parent.vm.addBlankReq($parent.vm.suit.reqs.length)">Blank
                        request</button>
                    <button ng-click="$parent.vm.addSavedReq($parent.vm.suit.reqs.length)"
                        class="btn btn-xs btn-link">Saved
                        request</button>
                </span>
            </div> -->
            <div class="center suit-req-nav" ng-show="$parent.vm.selectedReqIndex!=($parent.vm.suit.reqs.length-1)">
                <button class="btn-circle btn-sm"
                    ng-click="$parent.vm.editSuitReq($parent.vm.suit.reqs[$parent.vm.selectedReqIndex+1], $parent.vm.selectedReqIndex+1)">
                    <i class="glyphicon glyphicon-arrow-down"></i>
                </button>
                <span class="sn_opt">
                    Open: {{$parent.vm.suit.reqs[$parent.vm.selectedReqIndex+1].name}}
                </span>
            </div>
        </div>
    </div>
</div>