.designer .left-nav .nav-tabs {
    height: 38px;
}
.left-nav .tab-content{
    top:38px
}

.projHead {
    font-size: 20px;
    color: var(--text-color);
    vertical-align: text-bottom;
    font-family: apic-font;
    width: 275px;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
}

.proj-banner {
    min-height: 80px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    background-color: var(--header-bg);
    background-size: 100%;
    background-position: center center;
    padding: 5px 10px;
    position: relative;
    overflow: visible;
}

.proj-banner .proj-head {
    width: 700px;
    /* position: absolute; */
    bottom: 0;
    left: 10px;
    padding: 0;
    font-size: 35px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 0;
    float: left;
}

.proj-banner .mat-raised-button.sm, .proj-banner .mat-button.sm, .proj-banner .mat-icon-button.sm, .proj-banner .mat-stroked-button.sm, .proj-banner .mat-flat-button.sm {
    line-height: 30px !important;
    padding: 0 5px;
}

.landing-action {
    width: 350px;
    height: 125px;
    background: var(--content-bg);
    border-radius: 10px;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.3);
    padding: 15px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    font-family: apic-font;
    float: left;
    margin: 10px;
}

.landing-action .ac-text {
    font-size: 14px;
    line-height: 18px;
}

.landing-action .ac-head {
    font-size: 27px;
    position: absolute;
    width: 450px;
    left: -50px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    color: var(--accent-bg-text);
    bottom: -45px;
}

h4.head {
    margin-top: 0;
    font-size: 26px;
    font-family: apic-font;
    padding-bottom: 20px;
    width: 400px;
}

.endp_more {
    width: 100px;
}

.endp_more.open {
    margin-bottom: -35px;
}