.treeSelector {
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 1px 1px 4px rgb(0 0 0 / 40%);
}

.ts-item {
    text-align: left;
    width: 100%;
    border-radius: 0;
    height: 34px;
    line-height: 35px;
    border-bottom: 1px solid var(--border-color);
}

.ts-item.active {
    background-color: var(--accent-color) !important;
    color: var(--accent-bg-text) !important;
}

.ts-childCont {
    margin-left: 25px;
}
