<div class="pdocs container-fluid">
    <h4 class="t_color head">Account</h4>
    
    <div class="row">
        <div class="col-md-6">
            <div class="d-panel pad-15">
                <div class="d-panel-head">Update Account</div>
                <form name="accDetailForm" ng-submit="vm.updateAccount()">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-3 control-label">Name:</label>
                            <div class="col-md-8">
                                <input type="text" class="form-control" placeholder="Name" ng-model="vm.accDetailForm.name" required="" minlength="3" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3 align-right">Email:</label>
                            <div class="col-md-8">
                                <span class="bold">{{userData.email}}</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-3"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary btn-themed btn-sm" ng-disabled="accDetailForm.$invalid">Update <span class="spinner wh" ng-if="vm.flags.accUpdating"></span></button>
                                <button type="button" class="btn btn-link btn-sm" ng-click="vm.resetAccDetailForm()">Reset</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="d-panel pad-15" >
                <div class="d-panel-head">Change Password</div>
                <form name="psdForm" ng-submit="vm.changePassword()">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-4 control-label">Current Password:</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" placeholder="Current Password" ng-model="vm.psdForm.curPsd" required="" minlength="3" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">New Password:</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" placeholder="New Password" ng-model="vm.psdForm.newPsd" required="" minlength="3" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4 control-label">Confirm New Password:</label>
                            <div class="col-md-8">
                                <input type="password" class="form-control" placeholder="Confirm New Password" ng-model="vm.psdForm.newPsdAgain" required="" minlength="3" maxlength="30">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-4"></label>
                            <div class="col-md-8">
                                <button type="submit" class="btn btn-primary btn-themed btn-sm" ng-disabled="psdForm.$invalid || vm.psdForm.newPsd!==vm.psdForm.newPsdAgain" >Change Password <span class="spinner wh" ng-if="vm.flags.psd"></span></button>
                                <button type="reset" class="btn btn-link btn-sm">Reset</button>

                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        

    </div>
    
    <div class="d-panel pad-15 danger">
        <div class="d-panel-head">Danger Zone</div>
        <div>
            <div style="font-size:14px">Deleting you account will permanently delete all your data saved with APIC which includes your API Projects, API requests, Test Cases, Published Docs, Teams and everything else. This action can not be undone.</div>
            <button class="btn btn-sm btn-danger" ng-click="vm.confirmAccDelete()">Delete Account</button>
        </div>
    </div>
    
</div>

<script type="text/ng-template" id="modules/partial/accDel.html">
    <div class="modal-header">
        <h3 class="modal-title custom">Delete Account</h3>
    </div>

    <div class="modal-body">
        <div style="font-size:14px;">
            <p>Deleting you account will permanently delete all your data saved with APIC which includes your API Projects, API requests, Test Cases, Published Docs, Teams and everything else. This action can not be undone.</p>
            <p>To confirm delete please type in <span class="bold">{{userData.name}}</span> in the text box below and click <span class="bold">Delete</span></p>
            <input type="text" class="form-control" placeholder="Type in your name as shown above" ng-model="vm.delConf" />
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary btn-themed btn-sm" type="button" ng-click="vm.deleteAccount()" ng-disabled="vm.delConf != userData.name">Delete <span class="spinner wh" ng-if="vm.flags.delAcc"></span></button>
        <button class="btn btn-link btn-sm" type="button" ng-click="vm.cancelAccDelete()">Cancel</button>
    </div>
</script>

