<mat-form-field class="apic-tag-editor full-w">
    <mat-chip-list #chipList aria-label="Tag selection">
        <mat-chip *ngFor="let tag of selected" [selectable]="selectable" [removable]="removable"
            (removed)="remove(tag)">
            {{type!=='strict'?tag:(tag[dispValue]||tag)}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
        </mat-chip>
        <input placeholder="" *ngIf="suggestions" [formControl]="inputCtrl" [matAutocomplete]="auto"
            [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (matChipInputTokenEnd)="add($event)">
        <input placeholder="" *ngIf="!suggestions" [formControl]="inputCtrl" [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes" (matChipInputTokenEnd)="add($event)"
            autocomplete="off">
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelect($event)">
        <mat-option *ngFor="let option of filteredSuggestions$| async" [value]="option[key] || option">
            {{option[dispValue] || option}}
        </mat-option>
    </mat-autocomplete>
</mat-form-field>