<div class="row resp-builder">
    <div class="resp-codes">
        <div class="head">Name or Status Code</div>
        <div class="resp-code" *ngFor="let resp of responses;trackBy: trackByFn; let i = index" (click)="selectResp(i);"
            [ngClass]="{active:resp.code == selectedRespForm.value.code}">
            <response-builder-item [resp]="resp" (onChange)="onChange()" (onRemove)="removeResp($event)" [index]="i">
            </response-builder-item>
        </div>
        <div class="input-group" style="margin-top: 15px;">
            <input type="text" class="form-control input-sm" placeholder="Add response"
                (keydown.enter)="addResp(undefined, true, $event)" maxlength="20" [(ngModel)]="newResponseInput" />
            <span class="input-group-btn vcenter">
                <button mat-icon-button class="sm" type="button" (click)="addResp(undefined, true, $event)">
                    <mat-icon>add_box</mat-icon>
                </button>
            </span>
        </div>
    </div>
    <div class="col-xs" [formGroup]="selectedRespForm">
        <div *ngIf="selectedResp?.fromTrait">This
            response is imported from the trait <a class="t_color"
                [routerLink]="['../../', 'traits', selectedResp.traitId]">{{selectedResp.traitName}}</a> and can't be
            edited
            here.
            <a class="t_color" href="" [routerLink]="['../../', 'traits', selectedResp.traitId]">Move to traits
                module</a> to edit it.
        </div>
        <mat-tab-group animationDuration="ems" class="smv marg825">
            <mat-tab label="Schema">
                <ng-jsonschema *ngIf="responses.length>0; else noResp" [models]="project?.models"
                    [responses]="responsesModels" (onSchemach formControlName="data"
                    [options]="{showTestBuilder: false, readOnly: selectedResp?.fromTrait}"
                    (onTestBuilder)="openTestBuilder($event)">
                </ng-jsonschema>
            </mat-tab>
            <mat-tab label="Examples">
                <div class="examples" *ngIf="responses.length>0; else noResp">
                    <div class="vcenter">
                        <div class="bold full-w">Name</div>
                        <div class="bold full-w">Value</div>
                        <div class="bold" style="width: 110px;"> </div>
                    </div>
                    <app-key-value-editor formControlName="examples" [valueOptions]="allExamples" [options]="kvOptions">
                    </app-key-value-editor>
                </div>
            </mat-tab>
            <mat-tab label="Description">
                <div class="pad10" *ngIf="responses.length>0; else noResp">
                    <label>Description</label>
                    <textarea class="form-control margB18" formControlName="desc"
                        [attr.disabled]="selectedResp?.fromTrait"></textarea>
                </div>
            </mat-tab>

        </mat-tab-group>
        <span *ngIf="selectedRespForm.value.noneStatus && responses.length>0">
            <i class="icon bj-alert warning"></i>
            This response won't be auto imported when this trait is added to an endpoint as it is not defined against a
            status code.
            <a href="TODO://" class="t_color">Know more</a>
        </span>
    </div>
</div>
<ng-template #noResp>Please add a response on the left...</ng-template>