<section class="ngx-json-viewer">
    <section *ngFor="let segment of segments" [ngClass]="['segment', 'segment-type-' + segment.type]">
        <section (click)="toggle(segment)" [ngClass]="{
          'segment-main': true,
          'expandable': isExpandable(segment),
          'expanded': segment.expanded
        }">
            <div *ngIf="isExpandable(segment)" class="toggler"></div>
            <span class="segment-key" (click)="showBuilder($event, segment)">{{ segment.key }} <span
                    class="icon bj-lab"></span></span>
            <span class="segment-separator">: </span>
            <span *ngIf="!segment.expanded || !isExpandable(segment)" class="segment-value">{{ segment.description
                }}</span>
        </section>
        <section *ngIf="segment.expanded && isExpandable(segment)" class="children">
            <apic-json-viewer [json]="segment.value" [expanded]="expanded" [depth]="depth"
                (showTestBuilder)="showTestBuilder.emit($event)" [parent]="parent+'.'+segment.key"
                [_currentDepth]="_currentDepth"></apic-json-viewer>
        </section>
    </section>
</section>