<!DOCTYPE html>
<html ng-app="apic" ng-controller="rootController">

<head>
    <title>apic - The complete API solution</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="favicon.ico">

    <!--BUILD:CSS-styles-->
    <link rel="stylesheet" href="css/lib/bootstrap-paper.css" />
    <link rel="stylesheet" href="js/lib/jsonViewer/jsonviewer.css" />
    <link rel="stylesheet" href="css/styles.css" />
    <link rel="stylesheet" href="css/apic-fonts/style.css" />
    <link rel="stylesheet" href="css/envModal.css" />
    <link rel="stylesheet" href="css/tests.css" />
    <link rel="stylesheet" href="css/suit-tab.css" />
    <link rel="stylesheet" href="css/menuModal.css" />
    <link rel="stylesheet" href="css/loader.css" />
    <link rel="stylesheet" href="css/login.css" />
    <link rel="stylesheet" href="css/designer.css" />
    <link rel="stylesheet" href="css/docs.css" />
    <link rel="stylesheet" href="css/dashboard.css" />
    <link rel="stylesheet" href="css/json-formatter.css" />
    <link rel="stylesheet" href="css/json-schema-view.css" />
    <link rel="stylesheet" href="modules/directives/treeSelector/treeSelector.css" />
    <link rel="stylesheet" href="modules/JsonSchemeEditor/jsonSchema.css" />
    <link rel="stylesheet" href="modules/tagEditor/ngTagEditor.css" />
    <link rel="stylesheet" href="js/lib/toaster/angular-toastr.min.css">
    <!--BUILD:CSS-styles:End-->

    <!--BUILD:Service-Worker-->

    <!-- This line is required to make jQuery work with electron  -->
    <script type="text/javascript">
        if (typeof module === 'object') { window.module = module; module = undefined; }
    </script>

    <!--BUILD:JS-thirdparty-->
    <script type="text/javascript" src="js/lib/intro.min.js"></script>
    <script type="text/javascript" src="js/lib/md5.js"></script>
    <script type="text/javascript" src="js/lib/hmac-sha1.js"></script>
    <script type="text/javascript" src="js/lib/hmac-sha256.js"></script>
    <script type="text/javascript" src="js/lib/enc-base64.min.js"></script>
    <script type="text/javascript" src="js/lib/sockjs.min.js"></script>
    <script type="text/javascript" src="js/lib/stomp.min.js"></script>
    <script type="text/javascript" src="js/lib/js-yaml.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery.min.js"></script>
    <script type="text/javascript" src="js/lib/jquery-ui.min.js"></script>
    <script type="text/javascript" src="js/lib/angular.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-sanitize.js"></script>
    <script type="text/javascript" src="js/lib/ui-bootstrap-custom-tpls-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/lib/angular-ui-router.js"></script>
    <script type="text/javascript" src="js/lib/ct-ui-router-extras.min.js"></script>
    <script type="text/javascript" src="js/lib/jsonViewer/jsonviewer.js"></script>
    <script type="text/javascript" src="js/lib/angular-indexedDB/angular-indexed-db.js"></script>
    <script type="text/javascript" src="js/lib/angular-confirm.js"></script>
    <script type="text/javascript" src="js/lib/ng-sortable.js"></script>
    <script type="text/javascript" src="js/lib/mousetrap.min.js"></script>
    <script type="text/javascript" src="js/lib/swagger-parser.min.js"></script>
    <script type="text/javascript" src="js/lib/json-formatter.js"></script>
    <script type="text/javascript" src="js/lib/json-schema-view.js"></script>
    <script type="text/javascript" src="js/lib/ajv.min.js"></script>
    <script type="text/javascript" src="js/lib/oauth.js"></script>
    <script type="text/javascript" src="js/lib/hawk.js"></script>
    <script type="text/javascript" src="js/lib/schema-faker-en.js"></script>
    <script type="text/javascript" src="modules/SchemaDref.js"></script>
    <script type="text/javascript" src="js/lib/socket.io.slim.js"></script>

    <!-- ACE editor-->
    <script type="text/javascript" src="js/bower_components/ace-builds/src-min-noconflict/ace.js"></script>
    <script type="text/javascript"
        src="js/bower_components/ace-builds/src-min-noconflict/ext-language_tools.js"></script>
    <script type="text/javascript" src="js/bower_components/angular-ui-ace/ui-ace.min.js"></script>

    <!----Toaster -->
    <script type="text/javascript" src="js/lib/toaster/angular-toastr.tpls.min.js"></script>
    <script type="text/javascript" src="js/lib/vkbeautify.js"></script>
    <script type="text/javascript" src="js/lib/js-schema.min.js"></script>
    <!--BUILD:JS-thirdparty:End-->

    <!--BUILD:JS-apic-->
    <script type="text/javascript" src="modules/JsonSchemeEditor/jsonSchema.js"></script>
    <script type="text/javascript" src="modules/apic-lib.js"></script>
    <script type="text/javascript" src="modules/app.js"></script>
    <script type="text/javascript" src="apic-electron-handler.js"></script>
    <script type="text/javascript" src="modules/services.js"></script>
    <script type="text/javascript" src="modules/Constants.js"></script>
    <script type="text/javascript" src="modules/directives.js"></script>
    <script type="text/javascript" src="modules/filters.js"></script>
    <script type="text/javascript" src="modules/FileSystem.js"></script>
    <script type="text/javascript" src="modules/Validator.js"></script>
    <script type="text/javascript" src="modules/Runner.js"></script>
    <script type="text/javascript" src="modules/directives/treeSelector/treeSelector.js"></script>
    <script type="text/javascript" src="modules/home/home-module.js"></script>
    <script type="text/javascript" src="modules/rootController.js"></script>
    <script type="text/javascript" src="modules/home/home-controller.js"></script>
    <script type="text/javascript" src="modules/home/tab-req-controller.js"></script>
    <script type="text/javascript" src="modules/home/tab-suit-controller.js"></script>
    <script type="text/javascript" src="modules/home/tab-folder-controller.js"></script>
    <script type="text/javascript" src="modules/home/tab-socket-controller.js"></script>
    <script type="text/javascript" src="modules/leftMenu/left-menu-controller.js"></script>
    <script type="text/javascript" src="modules/moduleServices.js"></script>
    <script type="text/javascript" src="modules/environments/env-controller.js"></script>
    <script type="text/javascript" src="modules/settings/settings-controller.js"></script>
    <script type="text/javascript" src="modules/login/login-controller.js"></script>
    <script type="text/javascript" src="modules/designer/designer-controller.js"></script>
    <script type="text/javascript" src="modules/docs/docsHome-controller.js"></script>
    <script type="text/javascript" src="modules/docs/docs-controller.js"></script>
    <script type="text/javascript" src="modules/dashboard/dashboard-controller.js"></script>
    <script type="text/javascript" src="modules/dashboard/publishedDocs/pdocs-controller.js"></script>
    <script type="text/javascript" src="modules/dashboard/team/team-controller.js"></script>
    <script type="text/javascript" src="modules/dashboard/account/account-controller.js"></script>
    <script type="text/javascript" src="modules/designer/project-info/project-info-modal-controller.js"></script>
    <script type="text/javascript" src="modules/tagEditor/ngTagEditor.js"></script>
    <!--BUILD:JS-apic:End-->

    <!-- This line is required to make jQuery work with electron -->
    <script>if (window.module) module = window.module; delete window.module</script>

    <!--<script src="https://apis.google.com/js/platform.js" async defer></script>-->
    <meta name="theme-color" content="#e1e1e1">
</head>

<body class="theme" ng-class="theme" x="{{theme}}">
    <div class="win-bar" ng-if="appInfo.type==='ELECTRON'">
        <div class="mac-title-bar-btns" style="display: inline;" ng-if="appInfo.platform!=='Windows_NT'">
            <button ng-click="winClose()" class="mac-btn mac-close-btn"></button>
            <button ng-click="winMinimize()" class="mac-btn mac-min-btn"></button>
            <button ng-click="winMaximize()" class="mac-btn mac-max-btn"></button>
        </div>
        <div class="win-title center"><span class="bold">APIC</span> - The complete API solution</div>
        <div class="win-title-bar-btns pull-right" ng-if="appInfo.platform==='Windows_NT'">
            <button ng-click="winMinimize()" class="win-btn win-min-btn">-</button><button ng-click="winMaximize()"
                class="win-btn win-max-btn"><span class="bj-crop_7_5"></span></button><button ng-click="winClose()"
                class="win-btn win-close-btn">x</button>
        </div>
    </div>
    <div class="header" style="position: fixed;width: 100%;z-index: 1;">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid" style="padding-left: 0;">
                <div class="navbar-header">
                    <div class="logo">
                        <img src="img/apic-logo.svg" class="logo-img" />
                        <span class="logo-text">apic</span>
                    </div>
                </div>

                <div class="navbar-collapse">
                    <div class="nav navbar-nav navbar-left" style="margin-left: 180px;margin-top:-1px;">
                        <a id="designer-ico" href class="module-icon" ui-sref="apic.designer"
                            ui-sref-active="t_bg active" ng-click="saveWorkspace('Designer')"
                            style="font-size: 38px;padding-top: 4px;padding-left:3px;" tooltip-placement="right"
                            uib-tooltip="Designer">
                            <i class="icon bj-palette"></i>
                        </a>
                        <a id="tester-ico" href class="module-icon" ui-sref="apic.home" ui-sref-active="t_bg active"
                            ng-click="saveWorkspace('Tester')" tooltip-placement="right" uib-tooltip="Tester">
                            <i class="icon bj-lab"></i>
                        </a>
                        <a id="docs-ico" href class="module-icon" ui-sref="apic.docs" ui-sref-active="t_bg active"
                            ng-click="saveWorkspace('Docs')" tooltip-placement="right" uib-tooltip="Docs">
                            <i class="icon bj-book"></i>
                        </a>
                        <a id="dash-ico" href class="module-icon" ui-sref="apic.dashboard" ui-sref-active="t_bg active"
                            ng-click="checkLogin($event);saveWorkspace('Dashboard')" tooltip-placement="right"
                            uib-tooltip="Dashboard">
                            <i class="icon bj-dashboard"></i>
                        </a>
                    </div>
                    <i ng-if="appInfo.type=== 'WEB'" class="icon bj-alert web-warn"
                        uib-popover-html="'You are using the web version of APIC which suffers with the limitation of CORS. Please use the <a class=\'t_color\' href=\'https://chrome.google.com/webstore/detail/apic-complete-api-solutio/ggnhohnkfcpcanfekomdkjffnfcjnjam\' target=\'_new\'>Chrome APP</a> or <a class=\'t_color\' href=\'https://apic.app/\'>Standalone app</a> for better experience. If you still want to use the web app <a class=\'t_color\' href=\'https://chrome.google.com/webstore/detail/apic-extension/dejjobgejdajdjjhjcindbjcfohoiehn\' target=\'_new\'>download APIC CORS Extension</a> to add <b>Access-Control-Allow-Origin: *</b> header so that your API can be tested from the web version of APIC.'"
                        popover-placement="bottom-left" popover-trigger="'outsideClick'"></i>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="env-cont">
                            <a href class="btn btn-link text16" ng-click="openEnvModal()">
                                <i class="icon bj-stack"></i></a>
                            <span uib-dropdown class="holder" is-open="curEnv.open">
                                <a href id="env-dropdown" uib-dropdown-toggle
                                    class="btn btn-link ellipsis w250 t_color">
                                    {{curEnv.name}}<span class="caret"></span>
                                </a>
                                <ul style="max-height: 400px; overflow:auto" class="dropdown-menu dropdown-menu-right"
                                    uib-dropdown-menu aria-labelledby="env-dropdown">
                                    <li ng-click="openEnvModal()"><a href> <i class="icon bj-stack gap"></i>Manage
                                            environments</a></li>
                                    <li class="divider" style="margin: 5px 0"></li>
                                    <li ng-click="selectEnv(undefined)"><a href>No Environment</a></li>
                                    <li class="divider" style="margin:0"></li>
                                    <li ng-repeat="env in ENVS track by env._id" ng-click="selectEnv(env)">
                                        <a href>{{env.name}}</a>
                                    </li>
                                </ul>
                            </span>
                        </li>
                        <li uib-dropdown>
                            <a href class="btn btn-link bell" uib-dropdown-toggle>
                                <i class="glyphicon glyphicon-bell"></i>
                                <span class="badge noti-badge"
                                    ng-show="notifications.length>0">{{notifications.length}}</span>
                            </a>
                            <ul uib-dropdown-menu class="dropdown-menu dropdown-menu-right noti-panel t_glow">
                                <div class="noti-head">Notifications</div>
                                <div class="noti-body">
                                    <div class="no-noti t_color" ng-hide="notifications.length>0">Nothing to show here
                                    </div>
                                    <div class="notification" ng-repeat="noti in notifications">
                                        {{noti.message}}
                                    </div>
                                </div>
                            </ul>
                        </li>
                        <li>
                            <a href class="btn btn-link" ng-click="openFeatureModal()" tooltip-placement="left"
                                uib-tooltip="Request new feature">
                                <i class="icon bj-ink" style="font-size: 20px;"></i>
                            </a>
                        </li>
                        <li ng-if="appInfo.type==='ELECTRON'">
                            <a href class="btn btn-link" ng-click="openDevTools()" tooltip-placement="left"
                                uib-tooltip="Open Devtools">
                                <i class="icon bj-terminal" style="font-size: 20px;"></i>
                            </a>
                        </li>
                        <li uib-dropdown>
                            <a href uib-dropdown-toggle class="btn btn-link" tooltip-placement="left"
                                style="font-size: 18px;" uib-tooltip="Donate">
                                <span class="bj-donate"></span>
                            </a>
                            <ul uib-dropdown-menu aria-labelledby="donate opttions"
                                class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="https://www.paypal.me/bdash4" target="_new">
                                        <span>PayPal</span>
                                    </a></li>
                                <li>
                                    <a href="https://www.patreon.com/apic_app" target="_new">
                                        <span>Patreon</span>
                                    </a></li>
                            </ul>
                        </li>
                        <li>
                            <a href class="btn btn-link" ng-click="openSettingsModal()">
                                <i class="glyphicon glyphicon-cog" style="font-size: 20px;"></i>
                            </a>
                        </li>
                        <li uib-dropdown>
                            <a href uib-dropdown-toggle class="btn btn-link gap" style="font-size: 20px;">
                                <i class="icon bj-menu"></i>
                            </a>
                            <ul uib-dropdown-menu aria-labelledby="proj-optn" class="dropdown-menu dropdown-menu-right">
                                <li>
                                    <a href="https://apic.app/docs" target="_new">
                                        <i class="icon bj-book"></i><span>Docs / Help</span>
                                    </a></li>
                                <li>
                                <li>
                                    <a href="https://github.com/apic-apps/apic" target="_new">
                                        <span class="icon bj-github"></span></i><span>Opensource</span>
                                    </a></li>
                                <li>
                                    <a href="https://apic.app/identity/#!/feedback" target="_new">
                                        <i class="glyphicon glyphicon-envelope"></i><span>Feedback</span>
                                    </a></li>
                                <li>
                                    <a href="https://github.com/apic-apps/app-issues/issues" target="_new">
                                        <i class="icon bj-bug2"></i><span>Report an Issue</span>
                                    </a></li>
                                <li>
                                    <a href ng-click="openIntroModal()">
                                        <i class="icon bj-newspaper-o"></i><span>Intro Screen</span>
                                    </a></li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href ng-click="checkForUpdate(true)">
                                        <i class="icon bj-loop22"></i><span>Check for update</span></a></li>
                                <li>
                                    <a href style="text-align: right">
                                        Version <span class="bold">{{appInfo.version}}</span></a></li>
                            </ul>
                        </li>
                        <li class="avatar-cont" uib-dropdown>
                            <div class="avatar-bg"></div>
                            <a href uib-dropdown-toggle class="avatar" id="avatar">
                                <i class="icon bj-user2" ng-if="!userData.UID"></i>
                                <i class="" ng-if="userData.UID">{{userData.name.charAt(0).toUpperCase()}}</i>
                            </a>

                            <ul uib-dropdown-menu aria-labelledby="proj-optn"
                                class="dropdown-menu dropdown-menu-right avatat-optn" ng-if="!userData.UID">
                                <li>
                                    <a href ng-click="openLoginModal()">
                                        <span>Login</span>
                                    </a>
                                </li>
                                <li>
                                    <a href ng-click="openLoginModal('reg')">
                                        <span>Register</span>
                                    </a>
                                    <!--<a href="https://apic.app/identity/#!/register" traget="_blank" class="btn btn-link custom" >
                                            <span>Register</span>
                                        </a>-->
                                </li>
                                <li>
                                    <a href ng-click="openLoginModal('forgot')">
                                        <span>Forgot Password</span>
                                    </a>
                                </li>
                            </ul>
                            <ul uib-dropdown-menu aria-labelledby="proj-optn"
                                class="dropdown-menu dropdown-menu-right avatat-optn" ng-if="userData.UID">
                                <li class="menu-label">Hi {{userData.name}}</li>
                                <li>
                                    <a ui-sref="apic.dashboard">
                                        <span class="icon bj-dashboard gap"></span><span>Dashboard</span>
                                    </a>
                                </li>
                                <li>
                                    <a href ng-click="hardSync()">
                                        <span class="icon bj-loop22 gap"></span><span>Sync</span>
                                    </a>
                                </li>
                                <li>
                                    <a href class="btn btn-link custom" ng-click="openLogoutModal()">
                                        <span class="icon bj-exit gap"></span><span>Logout</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--- header -->
    <div class="fixed body" ng-class="appInfo.type==='ELECTRON'?'frameless':''">
        <div class="container-fluid" style="height: 100%;overflow: auto;padding: 0">
            <ui-view></ui-view>
        </div>
    </div>

    <iframe id="tester" src="modules/tester/tester.html" style="width: 0; height: 0" sandbox="allow-scripts"></iframe>

    <div splash-screen>
        <div class="splash-logo">
            <img src="img/apic-logo.svg" style="width:250px;" />
        </div>
        <div class="load">
            <div class="gear one">
                <svg id="blue" viewbox="0 0 100 100" fill="#2196F3">
                    <path
                        d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>
            </div>
            <div class="gear two">
                <svg id="pink" viewbox="0 0 100 100" fill="#E91E63">
                    <path
                        d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>
            </div>
            <div class="gear three">
                <svg id="yellow" viewbox="0 0 100 100" fill="#FF9800">
                    <path
                        d="M97.6,55.7V44.3l-13.6-2.9c-0.8-3.3-2.1-6.4-3.9-9.3l7.6-11.7l-8-8L67.9,20c-2.9-1.7-6-3.1-9.3-3.9L55.7,2.4H44.3l-2.9,13.6      c-3.3,0.8-6.4,2.1-9.3,3.9l-11.7-7.6l-8,8L20,32.1c-1.7,2.9-3.1,6-3.9,9.3L2.4,44.3v11.4l13.6,2.9c0.8,3.3,2.1,6.4,3.9,9.3      l-7.6,11.7l8,8L32.1,80c2.9,1.7,6,3.1,9.3,3.9l2.9,13.6h11.4l2.9-13.6c3.3-0.8,6.4-2.1,9.3-3.9l11.7,7.6l8-8L80,67.9      c1.7-2.9,3.1-6,3.9-9.3L97.6,55.7z M50,65.6c-8.7,0-15.6-7-15.6-15.6s7-15.6,15.6-15.6s15.6,7,15.6,15.6S58.7,65.6,50,65.6z">
                    </path>
                </svg>
            </div>
            <div class="lil-circle"></div>
            <svg class="blur-circle">
                <filter id="blur">
                    <fegaussianblur in="SourceGraphic" stddeviation="13"></fegaussianblur>
                </filter>
                <circle cx="70" cy="70" r="66" fill="transparent" stroke="white" stroke-width="40" filter="url(#blur)">
                </circle>
            </svg>
        </div>
        <div class="load-text">Loading...</div>
    </div>
    <script type="text/ng-template" id="modules/home/updateFound.html">
            <div class="modal-header">
                <h3 class="modal-title custom">App Update</h3>
            </div>

            <div class="modal-body">
                <div class="updateInfo" ng-hide="updateModal.downloading">
                    <div class="text-big">A new update is available for your app.</div>
                    New version: <span class="bold">{{updateModal.newVer}}</span><br/>
                    Current version: <span class="bold">{{appInfo.version}}</span><br/>
                    <div class="bold">Change Log</div>
                    <ul>
                        <li ng-repeat="log in updateModal.changeLog track by $index">{{log}}</li>
                    </ul>
                </div>
                <div class="sownloading" ng-show="updateModal.downloading">
                    <div class="text-big">Downloading Update</div>
                    <div class="progress progress-striped active" style="margin-bottom:5px;">
                        <div class="progress-bar" id="download-progress-bar" style="width: 100%"></div>
                    </div>
                    <div id="download-progress"></div>
                </div>
            </div>

            <div class="modal-footer">
                <div ng-hide="updateModal.downloading">
                    <button class="btn btn-primary btn-themed btn-sm" type="button"  ng-click="downloadUpdate(updateModal.newVer)">Update</button>
                    <button class="btn btn-link btn-sm" type="button" ng-click="closeUpdateFoundModal()">Remind me later</button>
                </div>
                <div  ng-show="updateModal.downloading">
                    <button class="btn btn-primary btn-themed btn-sm" type="button" ng-click="closeUpdateFoundModal()">Download in background</button>
                </div>
            </div>
        </script>

    <script type="text/ng-template" id="modules/home/updateDownloaded.html">
            <div class="modal-header">
                <h3 class="modal-title custom">Update Downloaded</h3>
            </div>

            <div class="modal-body">
                <div style="font-size:20px;">A new update for apic has been successfully downloaded. Restart apic to apply update.</div>
                New version: <span class="bold">{{updateModal.newVer}}</span><br/>
                Current version: <span class="bold">{{appInfo.version}}</span><br/>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary btn-themed btn-sm" type="button"  ng-click="restart()">Restart</button>
                <button class="btn btn-link btn-sm" type="button" ng-click="closeUpdatedModal()">Remind me later</button>
            </div>
        </script>
    <script type="text/ng-template" id="modules/home/logout.html">
            <div class="modal-header">
                <h3 class="modal-title custom">Logout</h3>
            </div>

            <div class="modal-body">
                <div style="font-size:16px;">Logging out will prevent you from syncing your projects with APIC's cloud and will clear all data from this instance of APIC but don't worry your current data is safe in our cloud.</div>
                <div style="margin-top:15px;"><label><input type="checkbox" ng-model="logoutModal.logoutAll"/> Logout from all APIC instances?</div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-primary btn-themed btn-sm" type="button"  ng-click="logout()">Logout</button>
                <button class="btn btn-link btn-sm" type="button" ng-click="closeLogoutModal()">Cancel</button>
            </div>
        </script>

    <script type="text/ng-template" id="modules/home/featureReq.html">
            <div class="modal-header">
                <h3 class="modal-title custom">Feature request</h3>
            </div>
            <form ng-submit="requestFeature($event)">
                <div class="modal-body">
                    <div class="form-group">
                        <label class="bold">Email</label>
                        <input class="form-control" required type="email" ng-model="fReqModel.email"/>
                    </div>
                    <div class="form-group">
                        <label class="bold">Feature Detail</label>
                        <textarea class="form-control" rows="4" required  ng-model="fReqModel.message"></textarea>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-themed btn-sm" type="button">Send</button>
                    <button type="button" class="btn btn-link btn-sm" type="button" ng-click="closeFeatureModal()">Cancel</button>
            </div>
            </form>
        </script>

    <script type="text/ng-template" id="modules/home/teamSelector.html">
            <div class="modal-header">
                <h3 class="modal-title custom">Share with team <span class="spinner wh" ng-if="tmSelector.sharing"></span></h3>
            </div>

            <div class="modal-body">
                <div class="envList">
                    <div style="font-size:14px;">Please select a team you want to share this {{tmSelector.type}} with.</div>
                    <ul class="list-items" ng-hide="tmSelector.loading">
                        <li ng-repeat="(id, name) in Teams" class="list-item">
                            <a href="" ng-click="share(id)">{{name}}</a>
                        </li>
                    </ul>
                    <div ng-if="!Teams && !tmSelector.loading">You don't have any team to share. <a ui-sref="apic.dashboard.team" >Create a team</a> and share this {{tmSelector.type}} with your team members.</div>
                    <div ng-show="tmSelector.loading"><span class="spinner t_color"> Loading teams...</span></div>
                </div>
            </div>

            <div class="modal-footer">
                <!--<button class="btn btn-primary btn-themed btn-sm" type="button"  ng-click="logout()">Logout</button>-->
                <button class="btn btn-link btn-sm" type="button" ng-click="closeShare()">Cancel</button>
            </div>
        </script>
    <script type="text/ng-template" id="modules/home/intro.html">
            <div class="intro ripple" ng-init="slide = 0" ng-class="'s'+slide">
                <canvas id="intro-canvas"></canvas>
                <div class="intro-items">
                    <div style="position:absolute;left:0">
                        <button class="intro-next" ng-show="slide !=0" ng-click="slide = slide-1"><span class="icon bj-arrow_back"></span></button>
                    </div>
                    <div class="intro-item ii0" ng-show="slide==0">
                        <div style="font-size:20px;text-align:center">
                            <div class="row introPref">
                                <div>
                                    <h4 style="color:#fff">I want to start with </h4>
                                    <div class="click">
                                        <a ng-click="saveWorkspace('designer')" href ui-sref="apic.designer" ui-sref-active="t_color"><i style="font-size: 38px;" class="icon bj-palette gap"></i>API Designing</a>
                                        <a ng-click="saveWorkspace('tester')" href ui-sref="apic.home" ui-sref-active="t_color"><i class="icon bj-lab gap"></i>API Testing</a>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <h4 style="color:#fff">Color Scheme</h4>
                                    <div class="col-xs-6 click" ng-click="switchTheme('dark')">
                                        <img src="img/apic-dark.png" ng-class="{active:selectedTheme.themeType=='dark'}"/>
                                    </div>
                                    <div class="col-xs-6 click" ng-click="switchTheme('light')">
                                        <img src="img/apic-light.png" ng-class="{active:selectedTheme.themeType=='light'}"/>
                                    </div>
                                </div>
                                <div class="col-sm-12 click intro-ft">
                                    <button class="btn btn-default" ng-click="closeIntroModal()">Done</button>
                                    <button class="btn btn-link" ng-click="slide = slide+1" style="color:#fff">Know more</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="intro-item ii1" ng-show="slide==1">
                        <div style="font-size: 30px;margin-top: -25px;margin-bottom: 45px;">APIC - make your APIs Complete</div>
                        <div style="font-size:20px;text-align:center">
                            <a href="https://apic.app/docs/designer.html" target="_new"><div class="intro-circe intro-designer"></div></a>
                            <a href="https://apic.app/docs/tester.html" target="_new"><div class="intro-circe intro-tester"></div></a>
                            <a href="https://apic.app/docs/docs.html" target="_new"><div class="intro-circe intro-docs"></div></a>
                            <a href="https://apic.app/docs/sharing.html" target="_new"><div class="intro-circe intro-db"></div></a>
                        </div>
                    </div>
                    <div class="intro-item ii6" ng-show="slide==2">
                        <div class="ii-head">Free Cloud Storage</div>
                        <div class="ii-body" style="text-align:center; margin-top:20px;">
                            Never loose your data by syncing them with our cloud.
                            </br>
                            <div style="margin:20px;">Login/Register to enable cloud sync</div>
                            <button style="pointer-events:auto" class="btn btn-default" ng-click="openLoginModal()">Login/Register</button>
                        </div>
                    </div>
                    <div class="intro-item ii7" ng-show="slide==7">
                        <div class="ii-body">
                            <div style="font-size: 25px;text-align: center;margin: 30px;">
                                APIC is free and always will be.
                            </div>
                        </div>
                    </div>
                    <div style="position:absolute;right:0">
                        <button class="intro-next" ng-click="slide==2?closeIntroModal():slide = slide+1"><span class="icon bj-arrow_forward"></span></button>
                    </div>
                </div>
            </div>
			<button class="back" type="button" ng-click="closeIntroModal()" style="position:absolute;z-index:20;top:5px; font-size:45px;color:#fff">
				<i class="icon bj-circle-cross"></i>
			</button>
        </script>
    <script type="text/ng-template" id="testBuilder.html">
            <span class="tb_cont" ng-switch="typeof(data)">
                <span ng-switch-when="object">
                    <span ng-if="!isArray (data)" class="tb_obj_cont">
                        <div class="tb_brace left">{</div>
                        <div class="tb_obj_data" ng-repeat="key in $root.getKeys(data) track by $index">
                            <a href="" class="tb_key" ng-click="showHelper($event, data, parent, key, data[key])"><span class="caret"></span> <span>"{{key}}" :</span></a>
                            <span test-builder helper="helper" out="out" parent="getParent(parent,key)" data="data[key]"></span>
                        </div>
                        <div class="tb_brace">}</div>
                    </span>
                    <span ng-if="isArray(data)" class="tb_array">
                        [
                        <span class="tb_arr_cont" ng-repeat="d in data track by $index">
                            <div class="tb_arr_data" helper="helper" parent="getParent(parent, key,$index)" test-builder out="out" data="d"></div><span class="tb_comma array" ng-if="!$last">,</span>
                        </span>
                        ]
                    </span>
                </span>
                <span class="String" ng-switch-when="string">"{{data}}"<span class="tb_comma"> ,</span></span>
                <span class="Number bold" ng-switch-when="number">{{data}}<span class="tb_comma"> ,</span></span>
                <span class="Boolean bold" ng-switch-when="boolean">{{data}}<span class="tb_comma"> ,</span></span>
            </span>
        </script>
    <script type="text/ng-template" id="tbHelper.html">
            <div class="tbh_cont">
                <div class="tbh_h fullwidth">{{cfg.data.parent}}{{getKey(cfg.data.key)}} 
                    <a href="" class="icon bj-files-empty" title="Copy" ng-click="copyToClipboard(cfg.data.parent+'.'+cfg.data.key)"></a>
                    <span class="red pull-right bold" ng-if="!flags.saved" style="margin-right: 20px;">Not saved</span>
                </div>
                <div class="flex">
                    <div class="tbh_icon_c">
                        <div class="tbh_icon" uib-tooltip="Assert Equals" ng-click="flags.type='eq'" ng-class="flags.type==='eq'?'act':''">
                            <div class="tbh_icon_i">==</div>
                            <div class="tbh_icon_t">Assert Equals</div>
                        </div>
                        <div class="tbh_icon" uib-tooltip="Assert Exists" ng-click="flags.type='ex'" ng-class="flags.type==='ex'?'act':''">
                            <div class="tbh_icon_i">Ex</div>
                            <div class="tbh_icon_t">Assert Exists</div>
                        </div>
                        <div class="tbh_icon" uib-tooltip="Assert Is" ng-click="flags.type='is'" ng-class="flags.type==='is'?'act':''">
                            <div class="tbh_icon_i">Is</div>
                            <div class="tbh_icon_t">Assert Is</div>
                        </div>
                        <div class="tbh_icon" uib-tooltip="Assert Constants" ng-click="flags.type='cont'" ng-class="flags.type==='cont'?'act':''">
                            <div class="tbh_icon_i">Cnt</div>
                            <div class="tbh_icon_t">Assert Contains</div>
                        </div>
                        <div class="tbh_icon" uib-tooltip="Assert In" ng-click="flags.type='in'" ng-class="flags.type==='in'?'act':''">
                            <div class="tbh_icon_i">In</div>
                            <div class="tbh_icon_t">Assert In</div>
                        </div>
                        <div class="tbh_icon" uib-tooltip="Assert Greater" ng-click="flags.type='gt'" ng-class="flags.type==='gt'?'act':''">
                            <div class="tbh_icon_i">></div>
                            <div class="tbh_icon_t">Assert Greater</div>
                        </div>
                        <div class="tbh_icon" uib-tooltip="Assert Less" ng-click="flags.type='lt'" ng-class="flags.type==='lt'?'act':''">
                            <div class="tbh_icon_i"><</div>
                            <div class="tbh_icon_t">Assert Less</div>
                        </div>
                        <div class="tbh_icon" uib-tooltip="Environment" ng-click="flags.type='env'" ng-class="flags.type==='env'?'act':''">
                            <div class="tbh_icon_i"><i class="icon bj-stack"></i></div>
                            <div class="tbh_icon_t">Environment</div>
                        </div>
                    </div>
                    <div style="flex: 1 1 auto;">
                        <div class="tbh_b tbh_eq" ng-if="flags.type==='eq'">
                            <div class="tbh_bh"><span>{{cfg.data.parent}}{{getKey(cfg.data.key)}}</span> should be equal to</div>
                            <label class="col-sm-6"><input type="radio" ng-model="data.radio.eq" value="val">Value specified below</label>
                            <label class="col-sm-6"><input type="radio" ng-model="data.radio.eq" value="body">Value in request body specified below</label>
                            <label class="col-sm-6"><input type="radio" ng-model="data.radio.eq" value="header">Value of header specified below</label>
                            <label class="col-sm-6"><input type="radio" ng-model="data.radio.eq" value="eqenv">Value of environment variable specified below</label>
                            <textarea ng-model="data.input" class="form-control"></textarea>
                            <div ng-show="data.radio.eq==='val'">
                                Consider above value as 
                                <label><input type="radio" ng-model="data.radio.eqX" value="string">String</label>
                                <label><input type="radio" ng-model="data.radio.eqX" value="number">Object/Number/Boolean</label>
                            </div>
                        </div>
                        <div class="tbh_b tbh_ex" ng-if="flags.type==='ex'">
                            <div class="tbh_bh"><span>{{cfg.data.parent}}{{getKey(cfg.data.key)}}</span> should</div>
                            <label><input type="radio" ng-model="data.radio.ex" value="ex">Exist in response</label>
                            <label><input type="radio" ng-model="data.radio.ex" value="exnot">Not exist in response</label>
                        </div>
                        <div class="tbh_b tbh_ex" ng-if="flags.type==='is'">
                            <div class="tbh_bh"><span>{{cfg.data.parent}}{{getKey(cfg.data.key)}}</span> is </div>
                            <label><input type="radio" ng-model="data.radio.is" value="string" >a String</label>
                            <label><input type="radio" ng-model="data.radio.is" value="number">a Number</label>
                            <label><input type="radio" ng-model="data.radio.is" value="boolean">a Boolean</label>
                            <label><input type="radio" ng-model="data.radio.is" value="array">an Array</label>
                            <label><input type="radio" ng-model="data.radio.is" value="object">an Object</label>
                            <label><input type="radio" ng-model="data.radio.is" value="date">a valid Date</label>
                        </div>
                        <div class="tbh_b tbh_ex" ng-if="flags.type==='cont'">
                            <div class="tbh_bh"><span>{{cfg.data.parent}}{{getKey(cfg.data.key)}}</span> should</div>
                            <label><input type="radio" ng-model="data.radio.cont" value="cont" >Contain below phrase</label>
                            <label><input type="radio" ng-model="data.radio.cont" value="contnot">Not contain below phrase</label>
                            <textarea ng-model="data.input" class="form-control"></textarea>
                        </div>
                        <div class="tbh_b tbh_ex" ng-if="flags.type==='in'">
                            <div class="tbh_bh"><span>{{cfg.data.parent}}{{getKey(cfg.data.key)}}</span> should match to any one value from below list</div>
                            <textarea ng-model="data.input" class="form-control"></textarea>
                            (Comma separated values)
                        </div>
                        <div class="tbh_b tbh_ex" ng-if="flags.type==='gt'">
                            <div class="tbh_bh"><span>{{cfg.data.parent}}{{getKey(cfg.data.key)}}</span> should be</div>
                            <label><input type="radio" ng-model="data.radio.gt" value="gt" >Greater than</label>
                            <label><input type="radio" ng-model="data.radio.gt" value="gte">Greater than or equals to</label>
                            <textarea ng-model="data.input" class="form-control"></textarea>
                        </div>
                        <div class="tbh_b tbh_ex" ng-if="flags.type==='lt'">
                            <div class="tbh_bh"><span>{{cfg.data.parent}}{{getKey(cfg.data.key)}}</span> should be</div>
                            <label><input type="radio" ng-model="data.radio.lt" value="lt" >Lesser than</label>
                            <label><input type="radio" ng-model="data.radio.lt" value="lte">Lesser than or equals to</label>
                            <textarea ng-model="data.input" class="form-control"></textarea>
                        </div>
                        <div class="tbh_b tbh_env" ng-if="flags.type==='env'">
                            <div class="tbh_bh">Store <span>{{cfg.data.parent}}{{getKey(cfg.data.key)}}</span> in an environment variable</div>
                            Variable name:
                            <textarea ng-model="data.input" class="form-control"></textarea>
                        </div>
                        <div class="tbh_b">
                            <button type="button" ng-click="addTest()" class="btn btn-link c btn-sm"><i class="glyphicon glyphicon-plus gap"></i>Add</button>
                        </div>
                        <div class="tbh_b">
                            <div class="bold">Tests</div>
                            <div ng-repeat="k in $root.getKeys(tests)">
                                <a href="" ng-click="delTest(k)" class="btn btn-link btn-round red"><span class="bj-remove_circledo_not_disturb_on"></span></a>
                                <a ng-hide="cfg.hideRun" href="" ng-click="runTests(tests[k])" class="btn btn-link btn-round green"><span class="glyphicon glyphicon-play"></span></a>
                                <span class="pointer" ng-click="tests[k].show=!tests[k].show">{{k}}</span>
                                <span class="green" ng-if="tests[k].status===true"> Passed</span>
                                <span class="red" ng-if="tests[k].status===false"> Failed</span>
                                <div style="margin-left:55px;" class="red" ng-if="tests[k].error">{{tests[k].error}}</div>
                                <pre ng-show="tests[k].show">{{tests[k].v}}</pre>
                            </div>
                            <div ng-if="testError">
                                <div class="tbh_bh">Error </div>
                                {{testError}}
                            </div>
                            <div class="tbh_fbtn">
                                <button ng-hide="cfg.hideRun" type="button" class="btn btn-default btn-sm green gap" ng-click="runTests()"><i class="glyphicon glyphicon-play"></i> Run All</button>
                                <button type="button" class="btn btn-default btn-sm gap" ng-click="save(true)">Add Tests to Request & Save</button>
                                <button type="button" class="btn btn-default btn-sm gap" ng-click="save()">Add Tests to Request</button>
                            </div>
                        </div>
                    </div>
                </div>
                <a href="" ng-click="cfg.show=false">
                    <i class="glyphicon glyphicon-remove-circle search-close"></i>
                </a>
            </div>
        </script>

    <script type="text/ng-template" id="fsInput.html">
            <div class="fs-cont">
                <input id='fs-inp-txt' type="text" on-enter-key="onEnter()"/>
            </div>
        </script>

    <script type="text/ng-template" id="GQLSchema.html">
            <div style="font-size:14px;">
                <div>
                    <span ng-repeat='p in path'>
                        <span ng-if="!$last"><a class="t_color bold" ng-click="select(p)" href="">{{p}}</a> <span class="rArrow"></span> </span>
                        <span class="bold" ng-if="$last">{{p}}</span>
                    </span>
                </div>
                <div class="margL10">
                    <div ng-if="types[path[path.length-1]].interfaces.length>0">
                        <div class="mono">Implements</div>
                        <div style="margin-bottom:15px;" ng-repeat="i in types[path[path.length-1]].interfaces">
                            <gql-type f="i" select="select"></gql-type>
                        </div>
                    </div>
                    <div class="mono" ng-if="types[path[path.length-1]].interfaces.length>0">Fields</div>
                    <div style="margin-bottom:15px;" ng-repeat="f in types[path[path.length-1]].fields">
                        <span class="GET">{{f.name}}</span> <span ng-if="f.args.length>0">(
                            <span class="gqlArg" ng-repeat="a in f.args">{{a.name}}: <gql-type f="a.type" select="select"></gql-type> <span class="POST" ng-if="a.defaultValue">= {{a.defaultValue}}</span><span ng-if="!$last">,</span></span>
                            )</span>: <span>
                            <gql-type f="f.type" select="select"></gql-type>
                        </span>
                        <div style="margin-top:-7px;" class="OPTIONS">{{f.description}}</div>
                    </div>
                    <div style="margin-bottom:15px;" ng-repeat="f in types[path[path.length-1]].inputFields">
                        <span class="GET">{{f.name}}</span> <span ng-if="f.args.length>0">(
                            <span class="gqlArg" ng-repeat="a in f.args">{{a.name}}: <gql-type f="a.type" select="select"></gql-type> <span class="POST" ng-if="a.defaultValue">= {{a.defaultValue}}</span><span ng-if="!$last">,</span></span>
                            )</span>: <span>
                            <gql-type f="f.type" select="select"></gql-type>
                        </span>
                        <div style="margin-top:-7px;" class="OPTIONS">{{f.description}}</div>
                    </div>
                    <div style="margin-bottom:5px;" ng-repeat="f in types[path[path.length-1]].enumValues">
                        <span class="GET">{{f.name}}</span> <span ng-if="f.args.length>0">(
                            <span class="gqlArg" ng-repeat="a in f.args">{{a.name}}: <gql-type f="a.type" select="select"></gql-type> <span class="POST" ng-if="a.defaultValue">= {{a.defaultValue}}</span><span ng-if="!$last">,</span></span>
                            )</span>: <span>
                            <gql-type f="f.type" select="select"></gql-type>
                        </span>
                        <div style="margin-top:-7px;" class="OPTIONS">{{f.description}}</div>
                    </div>
                    <div ng-if="!types[path[path.length-1]].fields && !types[path[path.length-1]].inputFields && !types[path[path.length-1]].enumValues"><span class="GET">{{types[path[path.length-1]].name}}</span>: {{types[path[path.length-1]].description}}</div>
                </div>
            </div>
        </script>
    <script type="text/ng-template" id="GQLType.html">
            <span ng-if="['ENUM', 'OBJECT', 'SCALAR', 'INPUT_OBJECT', 'INTERFACE'].indexOf(f.kind)>=0">
                <a class="PUT" href="" ng-click="select(f.name)">{{f.name}}</a>
            </span>
            <span ng-if="f.kind==='LIST'">[<gql-type f="f.ofType" select="select"></gql-type>]</span>
            <span ng-if="f.kind==='NON_NULL'"><gql-type f="f.ofType" select="select"></gql-type> !</span>
        </script>
</body>

</html>