<div class="content">


    <h4 class="t_color head vcenter">
        <span class="gap">Endpoints:</span>
        <div class="margL10">
            <button mat-stroked-button="" class="sm gap" [matMenuTriggerFor]="endpsList">
                <span class="gap">{{selectedName}}</span>
                <span *ngIf="endpForm.dirty">(Unsaved)</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #endpsList="matMenu">
                <button mat-menu-item (click)="openNewEndp()">Create new Endpoint</button>
                <mat-divider></mat-divider>
                <button *ngFor="let endp of selectedPROJ.endpoints | keyvalue" (click)="openEndpById(endp.value._id)"
                    mat-menu-item>{{endp.value.summary}}</button>
            </mat-menu>
        </div>
        <a class="f18 pull-right" mat-icon-button href="https://docs.apic.app/designer/create-endpoint" target="_new">
            <mat-icon>help</mat-icon>
        </a>
    </h4>

    <div>
        <form class="form-horizontal form-compact " [formGroup]="endpForm" id="endpForm" (submit)="createEndp()">
            <div class="row">
                <label class="control-label col-sm-2">Name/Summary: <span class="red">*</span></label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" required="" placeholder="Endpoint Name/Summary"
                        maxlength="255" formControlName="summary">
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-2">Path: <span class="red">*</span></label>
                <div class="col-sm-6">
                    <input type="text" (change)="checkForPathParams()" class="form-control" required=""
                        placeholder="Eg: /user  or  /user/{id}/detail" maxlength="255" formControlName="path">
                </div>

                <label class="control-label col-sm-2">Method: </label>
                <div class="col-sm-2">
                    <select class="form-control" formControlName="method">
                        <option value="get">GET</option>
                        <option value="post">POST</option>
                        <option value="put">PUT</option>
                        <option value="patch">PATCH</option>
                        <option value="delete">DELETE</option>
                        <option value="options">OPTIONS</option>
                    </select>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-2">Folder: </label>
                <div class="col-sm-8">
                    <mat-select formControlName="folder">
                        <mat-option value="">Un-grouped</mat-option>
                        <mat-divider></mat-divider>
                        <mat-option *ngFor="let folder of selectedPROJ.folders | keyvalue" [value]="folder.value._id">
                            {{folder.value.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-2">
                    <a class="f18 icon-sm" mat-icon-button href="https://docs.apic.app/designer/create-trait"
                        target="_new">
                        <mat-icon class="sm">help</mat-icon>
                    </a>
                    Traits:
                </label>
                <div class="col-sm-8">
                    <apic-tag-editor (onAdd)="importTraitData($event)" (onRemove)="removeTraitData($event)"
                        formControlName="traits" [suggestions]="selectedPROJ.traits" key="_id" dispValue="name"
                        type="strict">
                    </apic-tag-editor>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-2">Tags:</label>
                <div class="col-sm-8">
                    <apic-tag-editor formControlName="tags" type="freeForm"></apic-tag-editor>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-2">
                    <a class="f18 icon-sm" mat-icon-button
                        href="https://docs.apic.app/designer/api-security-definitions" target="_new">
                        <mat-icon class="sm">help</mat-icon>
                    </a>
                    Security:
                </label>
                <div class="col-sm-8">
                    <apic-tag-editor formControlName="security" [suggestions]="selectedPROJ.securityDefinitions"
                        key="name" dispValue="name" type="strict">
                    </apic-tag-editor>
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-2">Schemes: </label>
                <div class="col-sm-4">
                    <apic-tag-editor formControlName="schemes" [suggestions]="schemesSugg" placeholder="Schemes"
                        key="key" dispValue="val" type="strict">
                    </apic-tag-editor>
                </div>
                <label class="control-label col-sm-2">Operation Id:</label>
                <div class="col-sm-4">
                    <input type="text" class="form-control sm" maxlength="30" formControlName="operationId">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-2">Consumes: </label>
                <div class="col-sm-4">
                    <apic-tag-editor formControlName="consumes" type="strict" placeholder="Consumes"
                        [suggestions]="MIMEs"></apic-tag-editor>
                </div>
                <label class="control-label col-sm-2">Produces: </label>
                <div class="col-sm-4">
                    <apic-tag-editor formControlName="produces" type="strict" placeholder="Produces"
                        [suggestions]="MIMEs"></apic-tag-editor>
                </div>
            </div>
            {{endpForm.value|json}}
        </form>
    </div>
</div>