<section class="json-schema" [ngClass]="{vertical:options.mode=='object'}">
    <mat-tab-group (selectedTabChange)="tabChange($event)" animationDuration="0ms" [selectedIndex]="0"
        *ngIf="options.mode=='object'" #tabGroup>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon matTooltip="Design">draw</mat-icon>
            </ng-template>
            <div index="0" heading="Designer">
                <ng-container [ngTemplateOutlet]="SchemaRef">
                </ng-container>
            </div>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon matTooltip="Json Schema">code</mat-icon>
            </ng-template>
            <apic-ace id="json-schema" [readOnly]="options?.readOnly" [(text)]="schemaStr.original" [mode]="'json'"
                #editor>
            </apic-ace>
        </mat-tab>
    </mat-tab-group>
    <!--Hide the tabs for static/list mode-->
    <ng-container [ngTemplateOutlet]="SchemaRef" *ngIf="options.mode == 'list'"></ng-container>

    <div class="tab-action" [ngClass]="{static:options.mode == 'list'}">
        <button type="button" mat-icon-button aria-label="Download" matTooltip="Download" (click)="downloadJSON();">
            <mat-icon>vertical_align_bottom</mat-icon>
        </button>
        <button type="button" mat-icon-button aria-label="Copy" matTooltip="Copy json schema"
            (click)="copyToClipboard()">
            <mat-icon>content_copy</mat-icon>
        </button>
    </div>
</section>

<ng-template #SchemaRef>
    <div>
        <fieldset [disabled]="options?.readOnly" class="js-fieldset first">
            <div class="main">
                <ng-jsonschema-main [options]="options" [refreshSchema]="refreshSchema.bind(this)" [models]="models"
                    (onAddNewProp)="addNewProp($event)" [removeEntity]="removeEntity.bind(this)"
                    [openMenu]="displaySelectorModal.bind(this)" [entity]="entity" [expand$ref]="expand$ref.bind(this)"
                    [buildTest]="buildTest.bind(this)" [addAdditionalProp]="addAdditionalProp.bind(this)">
                </ng-jsonschema-main>
            </div>
            <div *ngIf="showSelectorModal" [style.left.px]="selectorModalPosition.x"
                [style.bottom.px]="selectorModalPosition.y" class="model-type-selector" id="model-type-selector">
                <ng-jsonschema-selectschema [refreshSchema]="refreshSchema.bind(this)" [options]="options"
                    [selectedEntity]="selectedEntity" [openMenu]="displaySelectorModal.bind(this)" [models]="models"
                    [responses]="responses" [setArrayType]="setArrayType.bind(this)"
                    [modelChangesCallback]="modelChangesCallback.bind(this)" [modelRef]="modelRef" [configs]="configs">
                </ng-jsonschema-selectschema>
            </div>
        </fieldset>
    </div>
</ng-template>
