<div ng-controller="leftMenuCtrl as vm">
    <uib-tabset class="tab-container" active="vm.activeTab">
        <uib-tab tab-highlight select="vm.tabChanged(0)"> 
            <uib-tab-heading class="ripple">
                <span><i class="icon bj-history gap"></i>History
                    <!-- <span uib-dropdown>
                        <a href class="tab-optn" id="history-optn" uib-dropdown-toggle>
                            <i class="glyphicon glyphicon-option-vertical"></i>
                        </a>
                        <ul uib-dropdown-menu aria-labelledby="history-optn" style="padding: 0">
                            <li>
                                <a href="" ng-click="vm.clearHistory();"><i class="glyphicon glyphicon-trash" style="color: #F44336"></i>Clear History</a>
                            </li>
                        </ul>
                    </span> -->
                </span>
            </uib-tab-heading>
            <div class="history">
                <!-- <div class="input-group search-box">
                    
                </div> -->
                <div class="saved-ctrl">
                    <div style="margin-right: 10px;">
                        <a href="" class="btn btn-link round-btn t_color" ng-click="vm.clearHistory();"><i class="glyphicon glyphicon-trash" style="color: #F44336"></i></a>
                        <a class="btn btn-link round-btn t_color" href ng-click="vm.importHistory()">
                            <i class="glyphicon glyphicon-import" uib-tooltip="Import History" tooltip-placement="left"></i>
                        </a>
                        <a class="btn btn-link round-btn t_color" href ng-click="vm.exportHistory()">
                            <i class="glyphicon glyphicon-export" uib-tooltip="Export History" tooltip-placement="left"></i>
                        </a>
                        <a href class="btn btn-link round-btn t_color" ng-click="vm.flags.hSrch=true; focus('#historySearch')">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </div>
                    <div class="input-group search-box req-search" ng-class="{'visible':vm.flags.hSrch}">
                        <input type="search" 
                            placeholder="Search history" 
                            class="form-control" 
                            ng-model="vm.search"
                            id="historySearch"
                            ng-change="vm.filteredHistory = (vm.historyUrls | objFilterOfArray:vm.search:'url')"/>
                        <a href="" class="input-group-addon" ng-click="vm.clearHistorySearch()">
                            <i class="glyphicon glyphicon-remove-circle search-close"></i>
                        </a>
                    </div>
                </div>
                <div class="item" ng-if="vm.flags.historyCount>2000 && vm.flags.showHistWarn" style="background: var(--main-bg);font-size: 12px;line-height: 15px;padding: 5px;">
                    <i style="color: #ff9800;" class="icon bj-alert"></i>Your history size is more than 3000. Oldest request will be deleted on new history item.
                    <a href class="remove" ng-click="vm.flags.showHistWarn=false"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
                <div ng-repeat="(date, value) in  vm.filteredHistory track by $index">
                    <div class="date t_color">{{date.substring(0, date.length - 5)}}</div>
                    <div ng-repeat="entry in value | orderBy : '_time':true track by entry._id" class="item" ng-click="vm.loadFromHistory(entry)">
                        <div class="h-icon" ng-class="entry.method">{{entry.method}}</div>
                        <div class="h-url">{{entry.url}}</div>
                        <a href class="copy" ng-click="copyToClipboard(entry.url); $event.stopPropagation()"><i class="icon bj-files-empty"></i></a>
                        <a href class="remove" ng-click="vm.deleteFromHistory(entry._id, date,$event)"><i class="glyphicon glyphicon-remove"></i></a>
                    </div>
                    <div ng-if="value.length===0" style="padding: 0 10px; font-size: 16px;">Nothing for this day</div>
                </div>
            </div>
        </uib-tab>
        <uib-tab tab-highlight select="vm.tabChanged(1)"> 
            <uib-tab-heading class="ripple">
                <span><i class="icon bj-embed2 gap"></i>Requests</span>
            </uib-tab-heading>
            <div class="saved">
                <div class="saved-ctrl">
                    <div style="margin-right: 10px;">
                        <a class="btn btn-link round-btn t_color" href ng-click="vm.importFolder()">
                            <i class="glyphicon glyphicon-import" uib-tooltip="Import APIs" tooltip-placement="left"></i>
                        </a>
                        <a class="btn btn-link round-btn t_color" href ng-click="vm.newFolder.show = true;focus('#newFolderName');">
                            <i class="icon bj-folder-plus" 
                               uib-tooltip="New Folder" tooltip-placement="left"></i>
                        </a>
                        <!--<a href class="btn btn-link round-btn t_color">
                            <i class="glyphicon glyphicon-sort-by-attributes" 
                               uib-tooltip="Sort" tooltip-placement="left"></i>
                        </a>-->
                        <a href class="btn btn-link round-btn t_color" ng-click="vm.showReqSearch()">
                            <i class="glyphicon glyphicon-search"></i>
                        </a>
                    </div>
                    <div class="input-group search-box req-search" ng-class="{'visible':vm.reqSearch.show}">
                        <input type="search" placeholder="Search requests" 
                               ng-change="vm.filteredReqs = (vm.AllReqs | objFilter:vm.reqSearch.model:'name')"
                               ng-model="vm.reqSearch.model" class="form-control" id="reqSearchInput">
                        <span class="input-group-addon" ng-click="vm.hideReqSearch()">
                            <i class="glyphicon glyphicon-remove-circle search-close"></i>
                        </span>
                    </div>
                </div>
                <div class="filtered-reqs" ng-if="vm.reqSearch.model.length>0">
                    <div ng-repeat="req in vm.filteredReqs track by req._id" 
                         class="savedReq" ng-class="{active:req._id===selectedTab}" >
                        <div class="l-sec method" ng-class="req.method" 
                             ng-click="vm.loadFromSave(req)"></div>
                        <div uib-dropdown uib-dropdown-toggle class="r-sec" >
                            <a href id="history-optn" >
                                <i class="glyphicon glyphicon-option-vertical"></i>
                            </a>
                            <ul uib-dropdown-menu aria-labelledby="history-optn" style="padding: 0" 
                                class="dropdown-menu-right">
                                <li >
                                    <a href="">
                                        <i class="glyphicon glyphicon-eye-open" style="margin-right:7px;"></i>Show in Folder</a>
                                </li>
                            </ul>
                        </div>
                        <div class="m-sec name" ng-click="vm.loadFromSave(req)">{{req.name}}</div>
                    </div>
                </div>
                <div class="new-folder" ng-if="vm.newFolder.show;">
                    <div class="input-group">
                        <input type="text" maxlength="30" class="form-control" ng-model="vm.newFolder.name" placeholder="Folder Name" on-enter-key="vm.createFolder()" id="newFolderName"/>
                        <span class="input-group-btn">
                            <button ng-click="vm.createFolder();" ng-disabled="!vm.newFolder.name" class="btn btn-link save" uib-tooltip="Create" tooltip-placement="top" type="button"><i class="glyphicon glyphicon-ok"></i></button>
                            <button ng-click="vm.newFolder.show = vm.newFolder.showDesc = false;" class="btn btn-link cancel" uib-tooltip="Cancel" tooltip-placement="top" type="button"><i class="glyphicon glyphicon-remove"></i></button>
                        </span>
                    </div>
                    <div class="form-group">
                        <textarea class="form-control"  ng-model="vm.newFolder.desc" placeholder="Description..." id="newFolderDesc"></textarea>
                    </div>
                    <div style="margin: 10px 5px;">
                        <label>Select a parent folder</label>
                        <div class="btn-group-vertical" role="group" style="width: 100%">
                            <button class="btn btn-default" style="text-align: left" id="selectParent" ng-click="vm.newFolder.parentId = 'root'" ng-class="{active:vm.newFolder.parentId === 'root'}">
                                <i class="glyphicon glyphicon-console" style="margin-right: 10px;"></i>Root</button>
                            
                            <button class="btn btn-default" style="text-align: left" ng-repeat="folder in vm.Folders|orderBy: 'name' track by $index" id="selectParent{{$index}}" ng-click="vm.newFolder.parentId = folder._id" ng-class="{active:vm.newFolder.parentId === folder._id}">
                                <i class="glyphicon glyphicon-folder-open" style="margin-right: 10px;"></i>
                                {{folder.name}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="folder-list" ng-if="vm.reqSearch.model.length===0">
                    <div class="c_color reqSection" ng-click="vm.flags.projReqs = !vm.flags.projReqs"><span class="glyphicon glyphicon-menu-right pull-right" ng-class="!vm.flags.projReqs?'glyphicon-menu-right':'glyphicon-menu-down'"></span>Requests from API Projects</div>
                    <div ng-if="vm.flags.projReqs">
                        <div class="folder-holder" ng-repeat="folder in vm.ProjectsTree | orderBy: 'name' track by $index" ng-include="'tree-structure-projects'"></div>
                    </div>
                    <div class="c_color reqSection" ng-click="vm.flags.savedReqs = !vm.flags.savedReqs" style="margin-top: 15px;"><span class="glyphicon glyphicon-menu-right pull-right" ng-class="!vm.flags.savedReqs?'glyphicon-menu-right':'glyphicon-menu-down'"></span>Saved Requests</div>
                    <div ng-if="vm.flags.savedReqs">
                        <div class="folder-holder" ng-repeat="folder in vm.Folders | orderBy: 'name' track by $index" ng-include="'tree-structure'"></div>
                        <div class="msg" ng-if="vm.Folders.length === 0">Nothing saved.<br/>Please <a class="t_color" href ng-click="vm.newFolder.show = true;focus('#newFolderName')">Create a folder</a> to save requests</div>
                    </div>
                </div>
            </div>
        </uib-tab>
        <uib-tab tab-highlight select="vm.tabChanged(2)"> 
            <uib-tab-heading class="ripple">
                <span><i class="icon bj-lab gap"></i>Tests</span>
            </uib-tab-heading>
            <div ng-include="'modules/leftMenu/test-menu.html'">
                
            </div>
        </uib-tab>
    </uib-tabset>
    
    <div class="menuModal" ng-show="vm.menuModal.showFlag">
        <div class="heading">{{vm.menuModal.msg}}
            <i class="icon bj-circle-cross cross" ng-click="vm.menuModal.hide()"></i>
        </div>
        <div tree-selector ng-if="vm.menuModal.showTreeSelector"
             ng-model="vm.treeSelector.model" 
             items="vm.treeSelector.items" 
             display-name="vm.treeSelector.displayName" 
             tree="vm.treeSelector.tree" 
             children="vm.treeSelector.children"
             disable-parent="vm.treeSelector.disableParent"></div>
    </div>
</div>

<script type="text/ng-template" id="tree-structure">
    <div class="folder" ng-class="folder.expand?'opened':'closed'">
        <div class="l-sec folder-icon" ng-click="folder.expand = !folder.expand">
            <i class="icon " ng-class="folder.expand?'bj-folder-open':'bj-folder'"></i>
        </div>
        
        <div uib-dropdown class="r-sec" uib-dropdown-toggle>
            <a href class="folder-optn" id="folder-optn">
                <i class="glyphicon glyphicon-option-vertical"></i>
            </a>
            <ul uib-dropdown-menu aria-labelledby="folder-optn" style="padding: 0" class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href ng-click="vm.initFolderToSuit(folder)">
                        <i class="icon bj-lab"></i>
                    Convert to Test Suite</a>
                </li>
                <li>
                    <a href ng-click="vm.editFolder(folder)">
                        <i class="glyphicon glyphicon-pencil"></i>
                    Rename</a>
                </li>
                <li>
                    <a href ng-click="vm.openFolderTab(folder)">
                        <i class="icon bj-folder-information2"></i>
                    View/Edit Folder Detail</a>
                </li>
                <li ng-if="!folder.parentId && !folder.team && folder.owner === userData.UID">
                    <a href ng-click="openShareModal(folder._id,'Folders')">
                        <i class="icon bj-share-alt"></i>
                    Share </a>
                </li>
                <li ng-if="!folder.parentId && folder.team && folder.owner === userData.UID">
                    <a href ng-click="unshare(folder.team,folder._id, 'Folders')" confirm="Do you want to unshare this folder?" confirm-title="Unshare Folder" confirm-ok="Unshare" confirm-cancel="Cancel">
                        <i class="icon bj-unshare red"></i>
                    Unshare: {{Teams[folder.team]}} </a>
                </li>
                <li>
                    <a href ng-click="vm.downloadFolder(folder)">
                        <i class="glyphicon glyphicon-download-alt"></i>
                    Export</a>
                </li>
                <li ng-if="(!folder.parentId)?(folder.team?(folder.owner === userData.UID?true:false):true):true">
                    <a href="" 
                        confirm="Deleting a folder will delete all saved requests and sub folders in it.
                                Want to proceed?" 
                        confirm-title="Delete Confirmation" 
                        confirm-ok="Delete" 
                        confirm-cancel="Cancel" 
                        ng-click="vm.deleteFolder(folder)">
                            <i class="glyphicon glyphicon-trash" style="color: #F44336"></i>
                    Delete Folder</a>
                </li>
            </ul>
        </div>
        <div class="folder-name m-sec" ng-click="folder.expand = !folder.expand">
            <div class="f-name" ng-hide="folder.edit">{{folder.name}}</div>
            <span><input id="folder_{{folder._id}}" ng-click="$event.stopPropagation()" type="text" class="form-control" ng-model="folder.name" ng-show="folder.edit" maxlength="30" style="height:34px" ng-keypress="vm.saveFolderEdit(folder, $event)"></span></span>
        </div>
    </div>
    
            
    <div class="sub-folder {{$index}}" style="padding-left:15px;" ng-show="folder.expand">
        <div class="folder-holder" ng-repeat="folder in folder.children track by $index" ng-include="'tree-structure'"></div>
        <div>
            <div ng-repeat="req in folder.requests | orderBy:'_time':false track by req._id" class="savedReq" ng-class="{active:req._id==selectedTab}" >
                <div class="l-sec">
                    <div class="method" ng-class="req.method" 
                         ng-click="vm.loadFromSave(req)"></div>
                </div>
                <div uib-dropdown uib-dropdown-toggle class="r-sec" >
                    <a href id="history-optn" class="req-menu">
                        <i class="icon bj-more_vert"></i>
                    </a>
                    <ul uib-dropdown-menu aria-labelledby="history-optn" style="padding: 0" class="dropdown-menu-right">
                        <li ng-if="req.type !== 'ws'">
                            <a href="" ng-click="vm.initAddReqToSuit(req)">
                                <i class="icon bj-embed2" style="margin-right:7px;"></i>Add to Test Suite</a>
                        </li>
                        <li >
                            <a href="" ng-click="vm.initCopyMove(req, folder, 'copy')">
                                <i class="icon bj-paste"></i>Copy To</a>
                        </li>
                        <li >
                            <a href="" ng-click="vm.initCopyMove(req, folder, 'move')">
                                <i class="icon bj-scissors"></i>Move To</a>
                        </li>
                        <li >
                            <a href="" ng-click="vm.copyMoveReq(req, folder, 'duplicate')">
                                <i class="icon bj-files-empty"></i>Duplicate</a>
                        </li>
                        <li>
                            <a href="" ng-click="vm.initReqEdit(req)">
                                <i class="glyphicon glyphicon-pencil"></i>Edit</a>
                        </li>
                        <li>
                            <a href="" ng-click="vm.deleteReq(req._id,folder._id)" 
                                confirm="Want to delete the request?" 
                                confirm-title="Delete Confirmation" 
                                confirm-ok="Delete" 
                                confirm-cancel="Cancel">
                                <i class="glyphicon glyphicon-trash" style="color: #F44336"></i>Delete</a>
                        </li>
                    </ul>
                </div>
                <div class="m-sec name" ng-click="vm.loadFromSave(req)">{{req.name}}</div>
            </div>
            <div ng-hide="folder.requests.length>0||folder.children.length>0">Empty</div>
        </div>
    </div>
        
     </ul>
</script>

<script type="text/ng-template" id="tree-structure-projects">
    <div class="folder" ng-class="folder.expand?'opened':'closed'">
        <div class="l-sec folder-icon" ng-click="folder.expand = !folder.expand">
            <i class="icon " ng-class="folder.expand?'bj-folder-open':'bj-folder'"></i>
        </div>
        
        <div uib-dropdown class="r-sec" uib-dropdown-toggle>
            <a href class="folder-optn" id="folder-optn">
                <i class="glyphicon glyphicon-option-vertical"></i>
            </a>
            <ul uib-dropdown-menu aria-labelledby="folder-optn" style="padding: 0" class="dropdown-menu dropdown-menu-right">
                <li>
                    <a href ng-click="vm.initFolderToSuit(folder)"><i class="icon bj-lab"></i>Convert to Test Suite</a>
                </li>
                <li>
                    <a href ng-click="vm.downloadFolder(folder)"><i class="glyphicon glyphicon-download-alt"></i>Export</a>
                </li>
            </ul>
        </div>
        <div class="folder-name m-sec" ng-click="folder.expand = !folder.expand">
            <div class="f-name">{{folder.name}}</div>
        </div>
    </div>
    
            
    <div class="sub-folder {{$index}}" style="padding-left:15px;" ng-show="folder.expand">
        <div class="folder-holder" ng-repeat="folder in folder.children track by $index" ng-include="'tree-structure-projects'"></div>
        <div>
            <div ng-repeat="req in folder.requests track by req._id" class="savedReq" ng-class="{active:req._id==selectedTab}" >
                <div class="l-sec">
                    <div class="method" ng-class="req.method" 
                         ng-click="vm.loadFromSave(req)"></div>
                </div>
                <div uib-dropdown uib-dropdown-toggle class="r-sec" >
                    <a href id="history-optn" class="req-menu">
                        <i class="icon bj-more_vert"></i>
                    </a>
                    <ul uib-dropdown-menu aria-labelledby="history-optn" style="padding: 0" class="dropdown-menu-right">
                        <li ng-if="req.type !== 'ws'">
                            <a href="" ng-click="vm.initAddReqToSuit(req)">
                                <i class="icon bj-embed2" style="margin-right:7px;"></i>Add to Test Suite</a>
                        </li>
                    </ul>
                </div>
                <div class="m-sec name" ng-click="vm.loadFromSave(req)">{{req.name}}</div>
            </div>
            <div ng-hide="folder.requests.length>0||folder.children.length>0">Empty</div>
        </div>
    </div>
        
     </ul>
</script>