<fieldset class="kvCont"
    *ngFor="let kv of keyValueForm?.controls; trackBy: trackByFn;let last = last;let count = count;let i=index">
    <div class="vcenter">
        <mat-checkbox *ngIf="options.allowToggle" class="gap" [formControl]="kv.controls.active"></mat-checkbox>
        <input *ngIf="!options.enableAutocomplete" class="form-control input-sm" (focus)="onRowFocus(last, i)"
            [formControl]="kv.controls.key" placeholder="{{options.placeholderKey}}" />
        <span *ngIf="options.enableAutocomplete" class="gap form-control">
            <input [matAutocomplete]="auto" class="form-control input-sm" (focus)="onRowFocus(last, i)"
                [formControl]="kv.controls.key" placeholder="{{options.placeholderKey}}" />
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions$ | async" [value]="option">
                    {{option}}
                </mat-option>
            </mat-autocomplete>
        </span>
        <input class="form-control input-sm"
            *ngIf="!options.useRichText && (!options.allowFileType || kv.controls.type?.value=='text')"
            (focus)="onRowFocus(last, i)" [formControl]="kv.controls.val" placeholder="{{options.placeholderVal}}" />
        <apic-rich-input [formControl]="kv.controls.val"
            *ngIf="options.useRichText && (!options.allowFileType || kv.controls.type?.value=='text')">
        </apic-rich-input>
        <input type="file" class="form-control input-sm"
            *ngIf="options.allowFileType && kv.controls.type?.value=='file'" (change)="onFileChange($event, i)" />
        <div class="kvCtrls vcenter">
            <mat-select *ngIf="options.allowFileType" [formControl]="kv.controls.type" class="kv-type">
                <mat-option value="text">Text</mat-option>
                <mat-option value="file">File</mat-option>
            </mat-select>
            <button type="button" (click)="removeKv(i)" mat-icon-button class="sm red"
                *ngIf="count!==1 && options.allowRemove">
                <mat-icon>close</mat-icon>
            </button>
            <button type="button" (click)="copyKV(i)" mat-icon-button class="sm copy" *ngIf="options.allowCopy">
                <mat-icon>content_copy</mat-icon>
            </button>
            <button type="button" (click)="pasteKV(i)" mat-icon-button class="sm paste" *ngIf="options.allowPaste">
                <mat-icon>content_paste</mat-icon>
            </button>
            <button type="button" (click)="addKv()" mat-icon-button class="sm green" *ngIf="last && options.allowAdd">
                <mat-icon>add</mat-icon>
            </button>
            <div class="placeholder" *ngIf="!last && options.allowAdd"></div>
        </div>
    </div>
</fieldset>