.kvCont{
    border: none;
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
.kvCont input{
    margin-right: 5px;
}
.placeholder{
    width: 28px;
    height: 28px;
}
.kvCtrls .copy .material-icons, .kvCtrls .paste .material-icons{
    font-size: 16px;
}