<div *ngIf="selectedPROJ">
    <div class="content">
        <div class="submodMenu">
            <div class="submodMenuOptn">
                <span *ngIf="selectedFolder?._id === 'NEW'">
                    <button type="button" type="submit" form="folderForm" class="sm gap" mat-raised-button
                        color="primary">Create</button>
                    <button mat-button class="sm" type="reset" (click)="folderForm.reset()">Reset</button>
                </span>
                <span *ngIf="selectedFolder?._id !== 'NEW'">
                    <button type="button" type="submit" form="folderForm" class="sm gap" mat-raised-button
                        color="primary">Save</button>
                    <button type="button" type="button" class="sm gap" mat-raised-button color="warn"
                        (click)="deleteFolder(selectedFolder._id)">Delete</button>
                    <div class="bar"></div>
                    <a [routerLink]="['../', 'new']" class="sm gap" mat-stroked-button>
                        <mat-icon class="sm">add</mat-icon>New folder
                    </a>
                </span>
            </div>
            <div class="tip"></div>
        </div>

        <h4 class="t_color head vcenter">
            <span class="gap">Folders:</span>
            <div class="margL10">
                <button mat-stroked-button="" class="sm gap" [matMenuTriggerFor]="foldersList">
                    <span class="gap">{{selectedFolder?.name||'Create new folder'}}</span>
                    <span *ngIf="folderForm.dirty">(Unsaved)</span>
                    <mat-icon>arrow_drop_down</mat-icon>
                </button>
                <mat-menu #foldersList="matMenu">
                    <a [routerLink]="['../', 'new']" mat-menu-item>Create new folder</a>
                    <mat-divider></mat-divider>
                    <a *ngFor="let folder of selectedPROJ.folders | keyvalue" [routerLink]="['../', folder.value._id]"
                        mat-menu-item>{{folder.value.name}}</a>
                </mat-menu>
            </div>
            <a class="f18 pull-right" mat-icon-button href="https://docs.apic.app/designer/create-folder" target="_new">
                <mat-icon>help</mat-icon>
            </a>
        </h4>

        <div>
            <form class="form-horizontal form-compact " [formGroup]="folderForm" id="folderForm"
                (submit)="createFolder()">
                <div class="row">
                    <label class="control-label col-sm-2">Name: <span class="red">*</span></label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" required="" placeholder="Folder Name" maxlength="30"
                            formControlName="name">
                    </div>
                </div>
                <div class="row">
                    <label class="control-label col-sm-2">Description: </label>
                    <div class="col-sm-8">
                        <textarea class="form-control" placeholder="A short description of the folder/group."
                            formControlName="desc"></textarea>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>