.env-modal {
    width: 1100px;
    position: relative;
    .modal-title {
        margin-left: 0px !important;
    }
    .addEnvBtn {
        position: absolute;
        right: -50px;
        top: 7px;
        mat-icon {
            transition: transform 0.3s;
        }
    }
    .envs-left {
        width: 370px;
        border-right: 1px solid var(--border-color);
        max-height: calc(100vh - 200px);
        overflow-y: auto;

        .mat-list-text {
            white-space: nowrap;
        }
    }
    .env-ctrls {
        font-size: 25px;
        position: absolute;
        right: 14px;
        top: 14px;
    }
    .envs-right {
        flex: 1;
        padding: 15px;
        max-height: calc(100vh - 200px);
        overflow-y: auto;
    }
    .rotateZ {
        transform: rotateZ(135deg);
    }
    .addEnvForm {
        padding-bottom: 5px;
        padding-left: 10px;
        border-bottom: 1px dashed var(--border-color);
        margin: 0px auto 10px auto;
    }
    .envNameEditBox {
        width: 100%;

        input {
            width: 50%;
            display: inline-block;
            font-size: 20px;
        }
    }
    .fakeInp {
        border-bottom: 1px solid var(--border-color);
        flex: 1;
        margin-right: 10px;
        padding: 3px 5px;
    }
    .fakeInp:last-child {
        margin-right: 40px;
    }
    .envForm {
        input {
            margin-right: 10px;
        }
    }
    .env-optn {
        display: none;
        position: absolute;
        top: 1px;
        right: 2px;
        background: var(--content-bg);
        height: 35px;
        border-radius: 5px;
        border: 1px solid var(--border-color);
        padding: 3px;
    }
    .mat-list-option:hover .env-optn {
        display: block;
    }
    .cdk-overlay-pane {
        max-height: calc(100% - 50px);
    }
}
