<h2 mat-dialog-title class="modal-title">Update found</h2>
<mat-dialog-content>
    <div class="updateInfo" ng-hide="updateModal.downloading">
        <div class="f18">A new update is available for your app.</div>
        <div class="margV10">
            New version: <span class="bold">{{data.newVer}}</span>
        </div>
        <div class="margV10">
            Current version: <span class="bold">{{currVer}}</span>
        </div>
        <div class="bold">Change Log</div>
        <ul>
            <li *ngFor="let log of data.changeLog;">{{log}}</li>
        </ul>
    </div>
    <div class="sownloading" *ngIf="flags.downloading">
        <div class="f18">Downloading Update</div>
        <div class="progress-holder margV10">
            <div class="progress-bar" id="update-download-progress" style="width: 100%"></div>
        </div>
        <div id="download-progress"></div>
    </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <span *ngIf="!flags.downloading">
        <button mat-raised-button color="primary" type="button" class="sm gap" (click)="downloadUpdate()">Download and
            update</button>
        <button mat-button type="button" mat-dialog-close class="sm">Remind me later</button>
    </span>
    <span *ngIf="flags.downloading">
        <button mat-button type="button" mat-dialog-close class="sm">Download in background</button>
    </span>
</mat-dialog-actions>