.left-nav {
    position: absolute;
    width: 350px;
    z-index: 11;
    left: 0;
    top: 0;
    bottom: 0px;
}

:host ::ng-deep .tester {
    .left-nav {
        .mat-tab-header {
            background: var(--header-bg);
            border-bottom: none;
        }
        .mat-tab-label {
            padding: 0 23px !important;
        }
    }
}
