.proj-brcmb.breadcrumb {
    background-color: transparent;
    padding: 2px 15px;
    margin-bottom: 10px;
    list-style: none;
}
.breadcrumb > li {
    display: inline-block;
}
.proj-brcmb.breadcrumb>li>a {
    color: var(--text-color);
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: bottom;
}
.breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}
.designer-cont{
    overflow :auto;position :absolute;left :0;right :0;bottom :0;top :28px;
}
.workspace {
    padding: 10px 20px;
}
.workspace-title {
    font-family: apic-font;
    font-size: 26px;
}
.ic:after {
    content: "\e40a";
    position: absolute;
    font-family: apic-icon;
    bottom: 0px;
    right: 2px;
    color: #BDBDBD;
    font-size: 32px;
}