.proj-brcmb.breadcrumb {
    background-color: transparent;
    padding: 2px 15px;
    margin-bottom: 10px;
    list-style: none;
}
.breadcrumb > li {
    display: inline-block;
}
.proj-brcmb.breadcrumb > li > a {
    color: var(--text-color);
    max-width: 300px;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
    vertical-align: bottom;
    white-space: nowrap;
}
.breadcrumb > li + li:before {
    content: "/\00a0";
    padding: 0 5px;
    color: #cccccc;
}
.designer-cont {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 28px;
}
.workspace {
    padding: 10px 20px;
}
.workspace-title {
    font-family: apic-font;
    font-size: 26px;
    white-space: nowrap;
}
.ic::after {
    content: "\ea3b";
    position: absolute;
    font-family: "Material Icons" !important;
    bottom: -13px;
    right: -30px;
    color: var(--text-color);
    font-size: 100px;
    opacity: 0.1;
}
.shared {
    position: absolute;
    left: 0;
    top: 0;
    color: var(--accent-color);
}
.sort-pan{
  padding: 5px 10px;
}
.sort-pan button.t_border{
  border: 1px solid var(--accent-color);
}
