.ctrls {
    text-align: right;
}
.project {
    .new-suite {
        display: none;
    }
    &:hover {
        > .r-sec {
            flex: 0 0 80px;
        }
        .new-suite {
            display: inline-block;
        }
    }
}
.tree-select-dialog {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: var(--content-bg);
    padding: 0 10px;
}

.l-sec {
    position: relative;

    .shared {
        position: absolute;
        font-size: 12px;
        width: 16px;
        height: 16px;
        background: var(--accent-color);
        border-radius: 50%;
        right: -2px;
        bottom: -5px;
        color: var(--accent-bg-text);
        padding: 2px 1px;
    }
}
