<div class="tab-content">
    <div class="ctrls">
        <button mat-icon-button class="t_color">
            <mat-icon>transit_enterexit</mat-icon>
        </button>
        <button mat-icon-button class="t_color" (click)="showFolderForm()">
            <mat-icon>create_new_folder</mat-icon>
        </button>
        <button mat-icon-button class="t_color">
            <mat-icon>search</mat-icon>
        </button>
    </div>
    <div class="new-folder" *ngIf="flags.newFolder;">
        <form [formGroup]="newFolderForm">
            <div class="input-group">
                <input type="text" maxlength="30" class="form-control" formControlName="name" placeholder="Folder Name"
                    (keydown.enter)="createFolder()" id="newFolderName" />
                <span class="input-group-btn">
                    <button mat-icon-button class="green" (click)="createFolder();" [disabled]="newFolderForm.invalid"
                        title="Create" type="button">
                        <mat-icon>done_outline</mat-icon>
                    </button>
                    <button mat-icon-button (click)="flags.newFolder= false;newFolderForm.reset()" class="red"
                        title="Cancel">
                        <mat-icon>close</mat-icon>
                    </button>
                </span>
            </div>
            <div class="form-group">
                <textarea class="form-control" formControlName="desc" placeholder="Description..."></textarea>
            </div>
            <div style="margin: 10px 5px;">
                <label>Select a parent folder</label>
                <apic-tree-selector [items]="folders$ |async" formControlName="parentId"
                    [options]="{disableChild:true, addRoot:true}"></apic-tree-selector>
                {{newFolderForm.value|json}}
            </div>

        </form>
    </div>
    <div class="">
        <div class="c_color reqSection" (click)="flags.projReqs = !flags.projReqs">
            Requests from API Projects
            <mat-icon *ngIf="flags.projReqs" class="pull-right">expand_more</mat-icon>
            <mat-icon *ngIf="!flags.projReqs" class="pull-right">chevron_right</mat-icon>
        </div>
        <div *ngIf="flags.projReqs">Proj requests</div>
        <div class="c_color reqSection" (click)="flags.savedReqs = !flags.savedReqs">
            Saved Requests
            <mat-icon *ngIf="flags.savedReqs" class="pull-right">expand_more</mat-icon>
            <mat-icon *ngIf="!flags.savedReqs" class="pull-right">chevron_right</mat-icon>
        </div>
        <div *ngIf="flags.savedReqs">
            <div *ngFor="let folder of folders$ |async">
                <ng-container [ngTemplateOutlet]="FolderRef" [ngTemplateOutletContext]="{folder: folder}">
                </ng-container>

                <div class="sub-folder" [hidden]="!flags.expanded[folder._id]">
                    <div *ngFor="let subfolder of folder.children">
                        <ng-container [ngTemplateOutlet]="FolderRef" [ngTemplateOutletContext]="{folder: subfolder}">
                        </ng-container>
                        <div class="sub-folder" [hidden]="!flags.expanded[subfolder._id]">
                            <div *ngFor="let req of subfolder.requests" class="savedReq" matRipple>
                                <ng-container [ngTemplateOutlet]="ReqRef" [ngTemplateOutletContext]="{req: req}">
                                </ng-container>
                            </div>
                        </div>
                    </div>
                    <div *ngFor="let req of folder.requests" class="savedReq" matRipple>
                        <ng-container [ngTemplateOutlet]="ReqRef" [ngTemplateOutletContext]="{req: req}">
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #FolderRef let-folder="folder">
    <div class="folder" (click)="toggleExpand(folder._id)" [ngClass]="flags.expanded[folder._id]?'opened':'closed'">
        <div class="l-sec">
            <i class="icon  bj-folder" [ngClass]="flags.expanded[folder._id]?'bj-folder-open':'bj-folder'"></i>
        </div>
        <div class="folder-name m-sec">
            <div class="f-name">
                <span *ngIf="rename._id !== folder._id">{{folder.name}}</span>
                <span *ngIf="rename._id == folder._id">
                    <input id="folder_{{folder._id}}" class="form-control" (keydown.escape)="rename._id=''"
                        (keydown.enter)="saveFolderRename()" [(ngModel)]="rename.name"
                        (click)="$event.stopPropagation()" /></span>
            </div>
        </div>
        <div class="r-sec ">
            <button mat-icon-button [matMenuTriggerFor]="folderMenu" (click)="$event.stopPropagation()">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #folderMenu="matMenu">
                <button mat-menu-item (click)="$event.stopPropagation()">
                    <span class="icon bj-lab" style="margin-right: 25px;"></span> Convert to test suite
                </button>
                <button mat-menu-item (click)="showRename(folder)">
                    <mat-icon>edit</mat-icon> Rename
                </button>
                <button mat-menu-item (click)="$event.stopPropagation()">
                    <mat-icon>topic</mat-icon> View/Edit folder detail
                </button>
                <button mat-menu-item (click)="$event.stopPropagation()">
                    <mat-icon>share</mat-icon> Share
                </button>
                <button mat-menu-item (click)="$event.stopPropagation()">
                    <mat-icon>download</mat-icon> Export
                </button>
                <button mat-menu-item (click)="deleteFolder();$event.stopPropagation()">
                    <mat-icon class="red">delete</mat-icon> Delete
                </button>
            </mat-menu>
        </div>
    </div>
</ng-template>

<ng-template #ReqRef let-req="req">
    <div class="l-sec">
        <div class="method" [ngClass]="req.method.toUpperCase()"></div>
    </div>
    <div class="m-sec name">
        {{req.name}}
    </div>
    <div class="r-sec">
        <a mat-icon-button [matMenuTriggerFor]="reqManu">
            <mat-icon>more_vert</mat-icon>
        </a>
        <mat-menu #reqManu="matMenu">
            <button mat-menu-item (click)="$event.stopPropagation()">
                <mat-icon>code</mat-icon> Add to test suite
            </button>
            <button mat-menu-item (click)="$event.stopPropagation()">
                <mat-icon>file_copy</mat-icon> Copy to
            </button>
            <button mat-menu-item (click)="$event.stopPropagation()">
                <mat-icon>content_cut</mat-icon> Move to
            </button>
            <button mat-menu-item (click)="$event.stopPropagation()">
                <mat-icon>content_copy</mat-icon> Duplicate
            </button>
            <button mat-menu-item (click)="$event.stopPropagation()">
                <mat-icon>edit</mat-icon> Edit
            </button>
            <button mat-menu-item (click)="$event.stopPropagation()">
                <mat-icon class="red">delete</mat-icon> Delete
            </button>
        </mat-menu>
    </div>
</ng-template>