<div class="test-tab-cont tab-req">
    <form [formGroup]="form" autocomplete="off" style="overflow: auto;">
        <div class="url-cont">
            <div class="progress-holder">
                <div class="progress-bar"></div>
            </div>
            <div class="vcenter">
                <apic-rich-input class="URL" formControlName="url"></apic-rich-input>
                <span>
                    <!-- TODO: view compiled URL -->
                    <!-- <a href="" class="icon bj-files-empty copy-url" title="Copy compiled URL"
                    ng-click="copyToClipboard(interpolate(vm.URL,curEnv.vals))"></a> -->

                    <mat-select formControlName="method">
                        <mat-option *ngFor="let method of httpMethods" [value]="method">{{method}}</mat-option>
                    </mat-select>
                </span>
                <button mat-button class="run" ng-disabled="vm.progress" ng-click="vm.doSingleRun()">Run</button>
                <button mat-button class="run-more sm" ng-disabled="vm.progress" ng-click="vm.doSingleRun()">
                    <mat-icon class="sm">arrow_drop_down</mat-icon>
                </button>
                <!-- <span class="dropdown" uib-dropdown="" auto-close="outsideClick" style="z-index: 1">
                <button type="button" ng-disabled="vm.progress" class="btn btn-link run-extra dropdown-toggle" uib-dropdown-toggle="" aria-haspopup="true" aria-expanded="false">
                    <span class="caret"></span>
                </button>
                <ul uib-dropdown-menu="" role="menu" class="dropdown-menu-right dropdown-menu">
                    <li role="menuitem" style="padding: 5px; width: 200px">
                        <span>Run in loop</span>
                        <span class="input-group">
                            <input type="number" placeholder="Run count" class="form-control input-sm req-run-count ng-pristine ng-untouched ng-valid ng-not-empty" ng-model="vm.runCount">
                            <button class="btn btn-primary btn-themed btn-sm" ng-click="vm.startLoopRun()">Run</button>
                        </span>
                    </li>
                </ul>
            </span> -->
            </div>
        </div>
        <div class="content" style="margin-top: 28px;">
            {{form.value|json}}
            <div class="paper">
                <h3 class="panel-title custom pointer" (click)="flags.showReq = !flags.showReq">
                    <mat-icon *ngIf="!flags.showReq"></mat-icon>
                    Request {{requestId}}
                </h3>
                <div class="reqControls vcenter" ng-if="!vm.testTab">
                    <a class="f18 pull-right" mat-icon-button aria-label="Make an API call"
                        href="https://docs.apic.app/tester/make-an-api-call" target="_new">
                        <mat-icon>help</mat-icon>
                    </a>
                    <!--TODO: Add env button-->
                    <button mat-icon-button class="gap pulse" (click)="reload()" *ngIf="reloadRequest"
                        matTooltip="This request is updated by another user. Reload?" matTooltipPosition="left">
                        <mat-icon>sync</mat-icon>
                    </button>
                    <span class="btn-group gap">
                        <button class="sm t_border" mat-stroked-button (click)="initReqSave()">
                            <mat-icon>save</mat-icon> Save
                        </button>
                        <button class="sm saveas t_border" mat-stroked-button [matMenuTriggerFor]="savemenu">
                            <mat-icon>arrow_drop_down</mat-icon>
                        </button>
                    </span>
                    <mat-menu #savemenu="matMenu">
                        <button mat-menu-item (click)="initReqSave(true)">
                            <mat-icon>save</mat-icon> Save as
                        </button>
                    </mat-menu>
                </div>
                <div class="panel-body" [hidden]="!flags.showReq">
                    <div class="controls btn-group toggle-group">
                        <button mat-button class="sm" [matBadge]="flags.urlParamsCount"
                            [ngClass]="{'active':flags.reqTab == 'ReqParam'}"
                            (click)="selectTab('reqTab','ReqParam')">URL Params</button>
                        <button mat-button class="sm" [matBadge]="flags.headersCount"
                            [ngClass]="{'active':flags.reqTab == 'Headers'}"
                            (click)="selectTab('reqTab','Headers')">Headers</button>
                        <button mat-button class="sm" [ngClass]="{'active':flags.reqTab =='Body'}"
                            [disabled]="form.value.method == 'GET'" (click)="selectTab('reqTab','Body')">Body</button>
                        <button mat-button class="sm" [matMenuTriggerFor]="authOpts"
                            [ngClass]="{'active':flags.reqTab.includes('auth')}" type="button">
                            Authorization <mat-icon class="sm">arrow_drop_down</mat-icon>
                        </button>
                        <mat-menu #authOpts="matMenu">
                            <button mat-menu-item (click)="removeAuthHeader()">No Auth</button>
                            <button mat-menu-item (click)="selectTab('reqTab','auth_basic')">Basic Auth</button>
                            <button mat-menu-item (click)="selectTab('reqTab','auth_bearer')">Bearer Token</button>
                            <button mat-menu-item (click)="selectTab('reqTab','auth_digest')">Digest Auth</button>
                            <button mat-menu-item (click)="selectTab('reqTab','auth_o1')">OAuth 1.0</button>
                            <button mat-menu-item (click)="selectTab('reqTab','auth_o2')">OAuth 2.0</button>
                            <button mat-menu-item (click)="selectTab('reqTab','auth_hawk')">Hawk Auth</button>
                        </mat-menu>
                        <button mat-button class="sm" [ngClass]="{'active':flags.reqTab == 'Scripts'}"
                            (click)="selectTab('reqTab','Scripts')">Tests & Scripts</button>
                        <button mat-button class="sm" [ngClass]="{'active':flags.reqTab == 'Schema'}"
                            (click)="selectTab('reqTab','Schema')">Schema</button>
                    </div>

                    <div class="control-content short" [hidden]="flags.reqTab != 'ReqParam'">
                        <app-key-value-editor formControlName="urlParams"
                            [options]="{addOnFocus:true,allowToggle:true}">
                        </app-key-value-editor>
                    </div>

                    <div class="control-content short" [hidden]="flags.reqTab != 'Headers'">
                        <app-key-value-editor formControlName="headers"
                            [options]="{enableAutocomplete:true,autocompletes:HTTP_HEADERS,addOnFocus:true,allowToggle:true}">
                        </app-key-value-editor>
                    </div>
                    <div class="control-content" [hidden]="flags.reqTab != 'Body'" formGroupName="body">
                        <mat-radio-group aria-label="Select body type" formControlName="type" class="vcenter margB10">
                            <mat-radio-button value="form-data">form-data</mat-radio-button>
                            <mat-radio-button value="x-www-form-urlencoded">x-www-form-urlencoded</mat-radio-button>
                            <mat-radio-button value="raw" (click)="initRawBody()">raw</mat-radio-button>
                            <mat-select formControlName="selectedRaw" class="raw-type"
                                [placeholder]="form.value.body.selectedRaw.name+'('+form.value.body.selectedRaw.val+')'"
                                auto *ngIf="form.value.body.type=='raw'">
                                <mat-option *ngFor="let type of RAW_BODY_TYPES" [value]="type">
                                    {{type.name+'('+type.val+')'}}</mat-option>
                            </mat-select>
                            <mat-radio-button value="graphql" (click)="initGQLBody()">Graphql</mat-radio-button>
                        </mat-radio-group>

                        <div *ngIf="form.value.body.type==='form-data'">
                            <!--TODO: Add input type file-->
                            <app-key-value-editor formControlName="formData"
                                [options]="{addOnFocus:true,allowToggle:true}">
                            </app-key-value-editor>
                        </div>
                        <div *ngIf="form.value.body.type==='x-www-form-urlencoded'">
                            <app-key-value-editor formControlName="xForms"
                                [options]="{addOnFocus:true,allowToggle:true}">
                            </app-key-value-editor>
                        </div>
                        <apic-ace *ngIf="form.value.body.type=='raw'" formControlName="rawData"
                            [mode]="form.value.body.selectedRaw.name.toLowerCase()">
                        </apic-ace>
                        <div *ngIf="form.value.body.type ==='graphql'">
                            TODO: Graphql
                        </div>
                    </div>

                    <div class="control-content" *ngIf="flags.reqTab == 'auth_basic'">
                        <app-basic-auth [headers]="form.value.headers"
                            (onChange)="updateHeader('Authorization', $event)"></app-basic-auth>
                    </div>
                    <div class="control-content" *ngIf="flags.reqTab == 'auth_bearer'"></div>
                    <div class="control-content" *ngIf="flags.reqTab == 'auth_digest'"></div>
                    <div class="control-content" *ngIf="flags.reqTab == 'auth_o1'"></div>
                    <div class="control-content" *ngIf="flags.reqTab == 'auth_o2'"></div>
                    <div class="control-content" *ngIf="flags.reqTab == 'auth_hawk'"></div>

                    <div class="control-content" *ngIf="flags.reqTab == 'Scripts'">
                        <pre-post-run-script [prerun]="form.value.prescript" [postrun]="form.value.postscript"
                            (prerunChange)="prerunUpdated($event)" (postrunChange)="postrunUpdated($event)">
                        </pre-post-run-script>
                    </div>
                    <div class="control-content" *ngIf="flags.reqTab == 'Schema'">
                        <response-schema-builder [onChange]="setDirty.bind(this)" formControlName="respCodes">
                        </response-schema-builder>
                    </div>
                </div>
            </div>
        </div>
        {{selectedReq|json}}
    </form>
</div>