.url-cont {
    position: fixed;
    margin-left: -15px;
    padding: 0 5px 4px 5px;
    z-index: 10;
    background: var(--header-bg);
    box-shadow: 0 7px 9px rgb(0 0 0 / 10%);
    left: 365px;
    right: 0;

    .progress-holder {
        position: absolute;
        top: 0px;
        left: 5px;
        right: 5px;
        border-radius: 20px;
        overflow: hidden;
        background: var(--content-bg);
        z-index: -1;
        height: 35px;

        .progress-bar {
            height: 35px;
            // width: 100px;
            background-image: linear-gradient(
                45deg,
                rgba(255, 255, 255, 0.15) 25%,
                transparent 25%,
                transparent 50%,
                rgba(255, 255, 255, 0.15) 50%,
                rgba(255, 255, 255, 0.15) 75%,
                transparent 75%,
                transparent
            );
            background-size: 40px 40px;
            background-color: var(--accent-shadow);
            animation: progress-bar-stripes 2s linear infinite;
        }
    }
    .URL {
        flex: 1;
        height: 35px;
        width: 1px;
    }
    .url-pop {
        background: var(--header-bg);
        color: var(--text-color);
    }
    .mat-select {
        width: 95px;
        height: 36px;
        border-radius: 0;
        padding-top: 10px;
        background: var(--content-bg);
    }
    .abort {
        background-color: red;
        color: #fff;
        border-radius: 0;
    }
    .run {
        background: var(--accent-color);
        border-radius: 0;
        color: #fff;
    }
    .run-more {
        padding: 0 4px 0 0;
        color: #fff;
        width: 35px;
        height: 36px;
        background-color: var(--accent-color);
        border-radius: 0 20px 20px 0;
        border-left: 1px solid #fff;
    }
}
.saveas {
    padding: 0;
}
.reqControls {
    float: right;
    margin-top: 2px;
}
.panel-title > mat-icon {
    width: 18px;
    height: 13px;
    font-size: 16px;
    overflow: hidden;
}
.panel-body {
    margin-top: 10px;
}
.req-box .control-content,
.resp-box .control-content {
    padding: 10px;
    position: relative;
    &.short {
        max-width: 1200px;
    }
    .build-test-btn {
        font-size: 16px;
        border-radius: 18px;
        position: absolute;
        top: 0;
        right: 0;
    }
}
.raw-type {
    display: inline-block;
    width: 178px;
    margin-left: -20px;
    margin-right: 20px;
    border: 2px solid transparent;
}

.url-opt {
    min-width: 250px;
}
.loopRunInp {
    padding: 10px;
    margin-right: 35px;
}
:host ::ng-deep {
    .URL {
        .apic-editor {
            height: 35px;
            border: none;
            padding: 8px;
        }
    }
    .mat-badge-content {
        z-index: 1;
        position: relative;
        width: 20px;
        top: 5px !important;
        color: var(--text-color);
        background: var(--accent-shadow) !important;
        height: 20px;
    }
}
.resp-box .status {
    font-weight: bold;
    font-size: 14px;
    margin-right: 20px;
}
.raw-resp-area {
    width: 100%;
    height: calc(100vh - 331px);
    resize: vertical;
    padding: 5px;
    font-size: 13px;
    line-height: 1.3;
    font-family: monospace;
    background: var(--main-bg);
}
.run-log {
    border: 1px solid var(--border-color);

    .rl-row {
        line-height: 22px;
        position: relative;
        align-items: stretch;
        overflow-y: hidden;

        &:hover {
            background: var(--header-bg);
            .rl-btn {
                display: block;
            }
        }
    }
    .rl-num {
        background: var(--header-bg);
        min-width: 45px;
        text-align: right;
        min-height: 20px;
        padding: 3px 5px 2px;
    }
    .rl-msg {
        margin: 2px;
        overflow: auto;
        &.error {
            background: #b34242;
            width: 100%;
            color: #fff;
        }
    }

    .rl-btn {
        position: absolute;
        right: 0px;
        height: 27px;
        display: none;
        padding: 2px 5px;
        background: var(--header-bg);
        top: -3px;
    }
}
.error-cont {
    mat-icon {
        font-size: 45px;
        width: 60px;
    }
}
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
