<div class="content">
    <div class="submodMenu">
        <div class="submodMenuOptn">
            <span *ngIf="selectedModel._id === 'NEW'">
                <button type="button" type="submit" form="modelForm" class="sm gap" mat-raised-button
                    color="primary">Create</button>
                <button mat-button class="sm" type="reset" (click)="modelForm.reset()">Reset</button>
            </span>
            <span *ngIf="selectedModel._id !== 'NEW'">
                <button type="button" type="submit" form="modelForm" class="sm gap" mat-raised-button
                    color="primary">Save</button>
                <button type="button" type="button" class="sm gap" mat-raised-button color="warn"
                    (click)="deleteModel(selectedModel._id)">Delete</button>
                <button type="button" type="button" *ngIf="modelForm.dirty" class="sm gap" mat-raised-button
                    (click)="discardChange()">Discard</button>
                <div class="bar"></div>
                <button type="button" type="button" (click)="openNewModel()" class="sm gap" mat-raised-button>
                    <mat-icon class="sm">add</mat-icon>New Model
                </button>
            </span>
        </div>
        <div class="tip"></div>
    </div>

    <h4 class="t_color head vcenter">
        <span class="gap">Models:</span>
        <div class="margL10">
            <button mat-stroked-button="" class="sm gap" [matMenuTriggerFor]="modelsList">
                <span class="gap">{{selectedName}}</span>
                <span *ngIf="modelForm.dirty">(Unsaved)</span>
                <mat-icon>arrow_drop_down</mat-icon>
            </button>
            <mat-menu #modelsList="matMenu">
                <button mat-menu-item (click)="openNewModel()">Create new Model</button>
                <mat-divider></mat-divider>
                <button *ngFor="let model of selectedPROJ.models | keyvalue" (click)="openModelById(model.value._id)"
                    mat-menu-item>{{model.value.name}}</button>
            </mat-menu>
        </div>
        <a class="f18 pull-right" mat-icon-button href="https://docs.apic.app/designer/create-model" target="_new">
            <mat-icon>help</mat-icon>
        </a>
    </h4>

    <div>
        <form class="form-horizontal form-compact " [formGroup]="modelForm" id="modelForm" (submit)="createModel()">
            <div class="row">
                <label class="control-label col-sm-2">Name: <span class="red">*</span></label>
                <div class="col-sm-8">
                    <input type="text" (blur)="setDefaultNameSpace()" class="form-control" required=""
                        placeholder="Model Name" maxlength="100" formControlName="name">
                </div>
            </div>

            <div class="row">
                <label class="control-label col-sm-2">Folder: </label>
                <div class="col-sm-8">
                    <mat-select formControlName="folder">
                        <mat-option value="">Un-grouped</mat-option>
                        <mat-divider></mat-divider>
                        <mat-option *ngFor="let folder of selectedPROJ.folders | keyvalue" [value]="folder.value._id">
                            {{folder.value.name}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div class="row">
                <label class="control-label col-sm-2">Name Space: <span class="red">*</span></label>
                <div class="col-sm-8">
                    <div class="input-group sm">
                        <span class="input-group-addon">#/definitions/</span>
                        <input type="text" class="form-control" required="" maxlength="100" formControlName="nameSpace">
                    </div>
                </div>
            </div>

            <div>
                <div class="control-label full">Model Schema</div>
                <ng-jsonschema [models]="selectedPROJ.models" (onSchemaChange)="setDirty()" name="data"
                    formControlName="data"></ng-jsonschema>
            </div>
        </form>
    </div>
</div>